n8n/agent.json
{"updatedAt":"2025-12-23T19:58:49.062Z","createdAt":"2025-12-23T19:21:09.187Z","id":"tk17tqf64WGVzooJ","name":"BACKUP_AGENT","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":13}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1488,192],"id":"a334b684-4b15-4292-b230-ce8b06558606","name":"Schedule Trigger"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"IYAQzWDdPJfDhXeU","mode":"list","cachedResultName":"Caiohenrks Agent (#IYAQzWDdPJfDhXeU)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1280,192],"id":"49d358f7-1654-459d-bc3e-ca25a1a3cd44","name":"Get a workflow","credentials":{"n8nApi":{"id":"0dZXV3ZXKv2ubOTi","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Caiohenrks","mode":"list","cachedResultName":"Caiohenrks","cachedResultUrl":"https://github.com/Caiohenrks"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/Caiohenrks/n8n-backup"},"filePath":"n8n/agent.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"={{ $json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-976,192],"id":"8abf1a09-d3bc-462d-8dad-73b0dc7ee112","name":"Create a file","webhookId":"434b7384-0c3c-4486-b72a-3ab5d54856db","executeOnce":false,"retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"9ChfClbz68XQWMRs","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Caiohenrks","mode":"list","cachedResultName":"Caiohenrks","cachedResultUrl":"https://github.com/Caiohenrks"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/Caiohenrks/n8n-backup"},"filePath":"n8n/agent.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"={{ $('Get a workflow').item.json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-768,288],"id":"9178a7c3-3ba3-44ed-a5f2-72b08c21fbe1","name":"Edit a file","webhookId":"949e4569-3dfd-4ecf-8fb4-2d4c99663024","credentials":{"githubApi":{"id":"9ChfClbz68XQWMRs","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[],[{"node":"Edit a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ed7108c0-9f81-4944-a080-2168d2d22c76","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-23T19:21:09.187Z","createdAt":"2025-12-23T19:21:09.187Z","role":"workflow:owner","workflowId":"tk17tqf64WGVzooJ","projectId":"UkzgcerXcQnGHkuL"}],"activeVersion":null,"tags":[],"error":"Your request is invalid or could not be processed by the service"}