n8n/agent.json
{"updatedAt":"2025-12-28T16:52:15.347Z","createdAt":"2025-12-28T16:44:28.078Z","id":"cJHmIXMivOutlnsG","name":"Whois Scan","active":false,"isArchived":true,"nodes":[{"parameters":{"command":"=whois {{ \n  $json.body.target\n    .replace(/^https?:\\/\\//, '')\n    .replace(/\\/.*$/, '')\n}}\n"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[384,0],"id":"13ac077b-a7e3-43c0-a56c-45492ec52ad6","name":"Execute a command"},{"parameters":{"promptType":"define","text":"={{ $json.stdout }}","hasOutputParser":true,"options":{"systemMessage":"Você recebe TEXTO bruto de WHOIS (registro.br / Nic.br).\n\nRetorne SOMENTE um JSON válido no formato EXATO abaixo:\n[\n  {\n    \"output\": {\n      \"domain\": string|null,\n      \"owner\": string|null,\n      \"owner_id\": string|null,\n      \"responsible\": string|null,\n      \"country\": string|null,\n      \"owner_c\": string|null,\n      \"tech_c\": string|null,\n      \"created_at\": string|null,\n      \"updated_at\": string|null,\n      \"expires_at\": string|null,\n      \"status\": string|null,\n      \"name_servers\": string[],\n      \"contact\": {\n        \"handle\": string|null,\n        \"person\": string|null,\n        \"email\": string|null,\n        \"country\": string|null,\n        \"created_at\": string|null,\n        \"updated_at\": string|null\n      },\n      \"raw\": string\n    }\n  }\n]\n\nRegras:\n- Extraia do bloco do domínio: domain, owner, ownerid->owner_id, responsible, country, owner-c->owner_c, tech-c->tech_c, status.\n- name_servers: coletar todas as linhas \"nserver:\" (sem duplicar, manter ordem).\n- Bloco do contato começa em \"nic-hdl-br:\"; extraia handle (nic-hdl-br), person, e-mail->email, country, created, changed->updated_at.\n- Datas:\n  - created/changed/expires (YYYYMMDD ou \"YYYYMMDD #...\") => \"YYYY-MM-DDT00:00:00Z\".\n- Campos ausentes: null; listas ausentes: [].\n- \"raw\" deve ser o texto completo original sem alterações.\n- Nenhum texto fora do JSON.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[672,0],"id":"3e1a7fed-063c-4d05-a639-f452e6191d98","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[480,272],"id":"ebc5787c-3f5f-4705-abc5-159c85769ab8","name":"OpenAI Chat Model"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"WhoisRecordBRWrapper\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"required\": [\"output\"],\n    \"properties\": {\n      \"output\": {\n        \"type\": \"object\",\n        \"required\": [\"domain\", \"raw\", \"contact\", \"name_servers\"],\n        \"properties\": {\n          \"domain\": { \"type\": [\"string\", \"null\"] },\n          \"owner\": { \"type\": [\"string\", \"null\"] },\n          \"owner_id\": { \"type\": [\"string\", \"null\"] },\n          \"responsible\": { \"type\": [\"string\", \"null\"] },\n          \"country\": { \"type\": [\"string\", \"null\"] },\n          \"owner_c\": { \"type\": [\"string\", \"null\"] },\n          \"tech_c\": { \"type\": [\"string\", \"null\"] },\n          \"created_at\": { \"type\": [\"string\", \"null\"], \"format\": \"date-time\" },\n          \"updated_at\": { \"type\": [\"string\", \"null\"], \"format\": \"date-time\" },\n          \"expires_at\": { \"type\": [\"string\", \"null\"], \"format\": \"date-time\" },\n          \"status\": { \"type\": [\"string\", \"null\"] },\n          \"name_servers\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" },\n            \"default\": []\n          },\n          \"contact\": {\n            \"type\": \"object\",\n            \"required\": [\"handle\", \"person\", \"email\", \"country\", \"created_at\", \"updated_at\"],\n            \"properties\": {\n              \"handle\": { \"type\": [\"string\", \"null\"] },\n              \"person\": { \"type\": [\"string\", \"null\"] },\n              \"email\": { \"type\": [\"string\", \"null\"] },\n              \"country\": { \"type\": [\"string\", \"null\"] },\n              \"created_at\": { \"type\": [\"string\", \"null\"], \"format\": \"date-time\" },\n              \"updated_at\": { \"type\": [\"string\", \"null\"], \"format\": \"date-time\" }\n            },\n            \"additionalProperties\": false\n          },\n          \"raw\": { \"type\": \"string\" }\n        },\n        \"additionalProperties\": false\n      }\n    },\n    \"additionalProperties\": false\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[720,272],"id":"d305ec38-892d-4aa8-be99-afe0ec5992c0","name":"Structured Output Parser"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"whois_records","mode":"list","cachedResultName":"whois_records"},"columns":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.output[0].output.domain }}","owner":"={{ $json.output[0].output.owner }}","owner_id":"={{ $json.output[0].output.owner_id }}","responsible":"={{ $json.output[0].output.responsible }}","country":"={{ $json.output[0].output.country }}","owner_c":"={{ $json.output[0].output.owner_c }}","tech_c":"={{ $json.output[0].output.tech_c }}","created_at":"={{ $json.output[0].output.created_at }}","updated_at":"={{ $json.output[0].output.updated_at }}","expires_at":"={{ $json.output[0].output.expires_at }}","status":"={{ $json.output[0].output.status }}","name_servers":"={{ $json.output[0].output.name_servers }}","contact_handle":"={{ $json.output[0].output.contact.handle }}","contact_person":"={{ $json.output[0].output.contact.person }}","contact_email":"={{ $json.output[0].output.contact.email }}","contact_country":"={{ $json.output[0].output.contact.country }}","contact_created_at":"={{ $json.output[0].output.contact.created_at }}","contact_updated_at":"={{ $json.output[0].output.contact.updated_at }}","raw":"={{ $json.output[0].output.raw }}"},"matchingColumns":["domain"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"domain","displayName":"domain","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"owner","displayName":"owner","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"owner_id","displayName":"owner_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"responsible","displayName":"responsible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"owner_c","displayName":"owner_c","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"tech_c","displayName":"tech_c","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"expires_at","displayName":"expires_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"name_servers","displayName":"name_servers","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":false,"removed":false},{"id":"contact_handle","displayName":"contact_handle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"contact_person","displayName":"contact_person","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"contact_email","displayName":"contact_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"contact_country","displayName":"contact_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"contact_created_at","displayName":"contact_created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"contact_updated_at","displayName":"contact_updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"raw","displayName":"raw","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"inserted_at","displayName":"inserted_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1248,0],"id":"df2b148d-c858-4ec8-acd7-ebb205b19ff1","name":"Insert or update rows in a table"},{"parameters":{"path":"whois","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"09955746-2205-413b-8ce3-cea6a335c677","name":"Webhook","webhookId":"56be316c-67cf-41fe-822a-38427dedf90b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1024,0],"id":"fc47fbcc-a6bc-4d8a-b4e5-b571c85b5c3a","name":"Respond to Webhook"}],"connections":{"Execute a command":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execute a command","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d1dc483e-39db-4408-85a3-d28a8b1bdd49","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-28T16:44:28.078Z","createdAt":"2025-12-28T16:44:28.078Z","role":"workflow:owner","workflowId":"cJHmIXMivOutlnsG","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}],"error":"Your request is invalid or could not be processed by the service"}