n8n/English Teacher
{"updatedAt":"2026-01-12T01:45:21.804Z","createdAt":"2026-01-11T23:34:32.401Z","id":"13FQVk9o9fdcRtZ0","name":"English Teacher","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{ $json.conversation }}","type":"string"},{"id":"e3daf6bc-a46f-4533-bd87-0b27d52bfac6","name":"sessionId","value":"={{ $json.sessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,544],"id":"88f570b0-6d79-45c9-be46-daa2f38d157d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"7327d131-6543-492f-a27b-2ef673187555","name":"instance","value":"={{ $json.body[\"\"].instance }}","type":"string"},{"id":"f3d2c00c-0107-4b66-a959-7c52bed070f1","name":"pushName","value":"={{ $json.body[\"\"].data.pushName }}","type":"string"},{"id":"1bb0cbb0-2c24-4f94-8a1d-5a4e6ca31720","name":"messageType","value":"={{ $json.body[\"\"].data.messageType }}","type":"string"},{"id":"994fbca2-3486-474e-85ab-deed21b3bd1e","name":"remoteJid","value":"={{ $json.body[\"\"].data.key.remoteJid }}","type":"string"},{"id":"67f0b487-bad4-4c8a-ad4f-0d5f1c4fc852","name":"conversation","value":"={{ $json.body[''].data.message.conversation }}","type":"string"},{"id":"72a50069-16ea-4429-bb94-31090ef68027","name":"sessionId","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,544],"id":"dbbf87f9-0457-49b9-9bc4-3a7b0d0885c4","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-896,800],"id":"efcfedd4-b95b-4a0c-9132-b662a09df456","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363423502776697","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2256,544],"id":"ddbdd56e-c860-4945-a7ab-23e1221c9f2d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n","options":{"systemMessage":"=Você é um instrutor de exercícios de inglês para iniciantes. Seu objetivo é treinar o aluno usando o conteúdo dos Módulos 1 a 10. Você não apenas conversa, mas propõe atividades práticas e aguarda a resposta.\n\nRegras de Comportamento:\n1. Foco em Ação: Toda mensagem deve conter um exercício prático (completar frase, transformar em negativa, traduzir termo, conjugar verbo, etc).\n2. Estilo WhatsApp: Mensagens curtas, diretas, com emojis. Use **negrito** apenas para destacar a frase do exercício ou palavras-chave.\n3. Sem Asteriscos Extras: Use o negrito colado na palavra: **exemplo**. Nunca deixe espaços dentro dos símbolos.\n4. Uma por vez: Envie apenas 1 exercício por vez. Espere o aluno responder antes de seguir.\n5. Base de Dados: Siga a ordem dos PDFs (comece com Módulo 1: To Be e Greetings). Só avance de nível quando o aluno demonstrar segurança.\n6. Correção Natural: Se o aluno errar o conteúdo, mostre o correto de forma simples.\n7. Continuidade (Muito Importante): Jamais corrija erros de letras maiúsculas no início da frase, falta de ponto final ou ausência de apóstrofes (ex: \"im\" em vez de \"i'm\"). Ignore esses detalhes para manter o fluxo do chat.\n\nRegras de Formatação:\n- Explique o comando do exercício em português.\n- O conteúdo do exercício deve ser em inglês.\n- Sem teoria longa. No máximo uma frase de dica se houver erro gramatical real.\n\nExemplo:\n\"muito bom! agora vamos treinar o verbo to be.\ncomplete a frase: **she ___ a doctor** 👩‍⚕️\"","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-704,544],"id":"052b2961-f066-49f0-8292-4fed05ad02b4","name":"Principal Agent","retryOnFail":false,"alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-736,800],"id":"a38f79a3-7ca6-483a-88cd-0adb7dfa9538","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.instance }}","remoteJid":"={{ $('Edit Fields').item.json.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-304,544],"id":"e22f8329-c297-4d9c-817f-6c8c61f13185","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"value":"={{ $json.body[\"\"].data.key.remoteJid }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1984,544],"id":"7f5c3abe-986c-4aa8-abfc-3f75b5d54c3a","name":"Crypto"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1120,1168],"id":"84d9ddc3-9c2b-4150-b65e-aa691e68c1aa","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-608,944],"id":"e07491cd-2167-4d0e-bb2f-01f7328d10a5","name":"Query Data Tool"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1392,816],"id":"a6ef4588-467c-434e-a894-f89a11fd72e0","name":"Insert Data to Store"},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1040,960],"id":"8e84074c-cb0d-434d-8a94-f32d89a61209","name":"Default Data Loader"},{"parameters":{"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldLabel":"Upload your file(s)","fieldType":"file","acceptFileTypes":".pdf, .csv, .md","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1584,816],"id":"04b9c1cc-6495-4f3c-8579-0681907b232f","name":"Upload your file here","webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"}],"connections":{"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Upload your file here":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fae5a09f-a97a-43f8-b504-00fab2139cb1","activeVersionId":"fae5a09f-a97a-43f8-b504-00fab2139cb1","triggerCount":2,"shared":[{"updatedAt":"2026-01-11T23:34:32.401Z","createdAt":"2026-01-11T23:34:32.401Z","role":"workflow:owner","workflowId":"13FQVk9o9fdcRtZ0","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-12T01:45:24.729Z","createdAt":"2026-01-12T01:45:21.808Z","versionId":"fae5a09f-a97a-43f8-b504-00fab2139cb1","workflowId":"13FQVk9o9fdcRtZ0","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{ $json.conversation }}","type":"string"},{"id":"e3daf6bc-a46f-4533-bd87-0b27d52bfac6","name":"sessionId","value":"={{ $json.sessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,544],"id":"88f570b0-6d79-45c9-be46-daa2f38d157d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"7327d131-6543-492f-a27b-2ef673187555","name":"instance","value":"={{ $json.body[\"\"].instance }}","type":"string"},{"id":"f3d2c00c-0107-4b66-a959-7c52bed070f1","name":"pushName","value":"={{ $json.body[\"\"].data.pushName }}","type":"string"},{"id":"1bb0cbb0-2c24-4f94-8a1d-5a4e6ca31720","name":"messageType","value":"={{ $json.body[\"\"].data.messageType }}","type":"string"},{"id":"994fbca2-3486-474e-85ab-deed21b3bd1e","name":"remoteJid","value":"={{ $json.body[\"\"].data.key.remoteJid }}","type":"string"},{"id":"67f0b487-bad4-4c8a-ad4f-0d5f1c4fc852","name":"conversation","value":"={{ $json.body[''].data.message.conversation }}","type":"string"},{"id":"72a50069-16ea-4429-bb94-31090ef68027","name":"sessionId","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,544],"id":"dbbf87f9-0457-49b9-9bc4-3a7b0d0885c4","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-896,800],"id":"efcfedd4-b95b-4a0c-9132-b662a09df456","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363423502776697","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2256,544],"id":"ddbdd56e-c860-4945-a7ab-23e1221c9f2d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n","options":{"systemMessage":"=Você é um instrutor de exercícios de inglês para iniciantes. Seu objetivo é treinar o aluno usando o conteúdo dos Módulos 1 a 10. Você não apenas conversa, mas propõe atividades práticas e aguarda a resposta.\n\nRegras de Comportamento:\n1. Foco em Ação: Toda mensagem deve conter um exercício prático (completar frase, transformar em negativa, traduzir termo, conjugar verbo, etc).\n2. Estilo WhatsApp: Mensagens curtas, diretas, com emojis. Use **negrito** apenas para destacar a frase do exercício ou palavras-chave.\n3. Sem Asteriscos Extras: Use o negrito colado na palavra: **exemplo**. Nunca deixe espaços dentro dos símbolos.\n4. Uma por vez: Envie apenas 1 exercício por vez. Espere o aluno responder antes de seguir.\n5. Base de Dados: Siga a ordem dos PDFs (comece com Módulo 1: To Be e Greetings). Só avance de nível quando o aluno demonstrar segurança.\n6. Correção Natural: Se o aluno errar o conteúdo, mostre o correto de forma simples.\n7. Continuidade (Muito Importante): Jamais corrija erros de letras maiúsculas no início da frase, falta de ponto final ou ausência de apóstrofes (ex: \"im\" em vez de \"i'm\"). Ignore esses detalhes para manter o fluxo do chat.\n\nRegras de Formatação:\n- Explique o comando do exercício em português.\n- O conteúdo do exercício deve ser em inglês.\n- Sem teoria longa. No máximo uma frase de dica se houver erro gramatical real.\n\nExemplo:\n\"muito bom! agora vamos treinar o verbo to be.\ncomplete a frase: **she ___ a doctor** 👩‍⚕️\"","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-704,544],"id":"052b2961-f066-49f0-8292-4fed05ad02b4","name":"Principal Agent","retryOnFail":false,"alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-736,800],"id":"a38f79a3-7ca6-483a-88cd-0adb7dfa9538","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.instance }}","remoteJid":"={{ $('Edit Fields').item.json.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-304,544],"id":"e22f8329-c297-4d9c-817f-6c8c61f13185","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"value":"={{ $json.body[\"\"].data.key.remoteJid }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1984,544],"id":"7f5c3abe-986c-4aa8-abfc-3f75b5d54c3a","name":"Crypto"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1120,1168],"id":"84d9ddc3-9c2b-4150-b65e-aa691e68c1aa","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-608,944],"id":"e07491cd-2167-4d0e-bb2f-01f7328d10a5","name":"Query Data Tool"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1392,816],"id":"a6ef4588-467c-434e-a894-f89a11fd72e0","name":"Insert Data to Store"},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1040,960],"id":"8e84074c-cb0d-434d-8a94-f32d89a61209","name":"Default Data Loader"},{"parameters":{"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldLabel":"Upload your file(s)","fieldType":"file","acceptFileTypes":".pdf, .csv, .md","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1584,816],"id":"04b9c1cc-6495-4f3c-8579-0681907b232f","name":"Upload your file here","webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"}],"connections":{"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Upload your file here":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version fae5a09f","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}]}