n8n/English Teacher
{"updatedAt":"2026-01-12T23:18:08.016Z","createdAt":"2026-01-11T23:34:32.401Z","id":"13FQVk9o9fdcRtZ0","name":"English Teacher","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"},{"id":"934d47c1-11a2-42b8-8287-78d9c5f3aec8","name":"conversation","value":"={{ $('Webhook').item.json.body[''].message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,544],"id":"88f570b0-6d79-45c9-be46-daa2f38d157d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"fdbc6d3e-d2a0-47e3-a55a-254866f9a56c","name":"instance","value":"={{ $json.body[''].instance }}","type":"string"},{"id":"7bc3439c-fd1b-4c1c-bd97-2bd1911fd78d","name":"remoteJid","value":"={{ $json.body[''].remoteJid }}","type":"string"},{"id":"dce75574-b0c7-4f8b-b9cc-15d620d0fc1d","name":"pushName","value":"={{ $json.body[''].pushName }}","type":"string"},{"id":"1c8381c0-2404-42a8-bd24-ce190a3c1994","name":"messageType","value":"={{ $json.body[''].messageType }}","type":"string"},{"id":"54fef45e-abd5-4dcc-a045-68513422a43e","name":"id","value":"={{ $json.body[''].id }}","type":"string"},{"id":"4d1685f7-1c61-49d4-919f-8abc799a147d","name":"subject","value":"={{ $json.body[''].subject }}","type":"string"},{"id":"81e3962e-485c-42c2-94f5-5c748f74db49","name":"message","value":"={{ $json.body[''].message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,544],"id":"dbbf87f9-0457-49b9-9bc4-3a7b0d0885c4","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-896,800],"id":"efcfedd4-b95b-4a0c-9132-b662a09df456","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363423502776697","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2256,544],"id":"ddbdd56e-c860-4945-a7ab-23e1221c9f2d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $('Webhook').item.json.body[''].pushName }}\nMensagem do usuário: {{ $('Webhook').item.json.body[''].message.conversation }}\n","options":{"systemMessage":"=Você é um instrutor de exercícios de inglês para iniciantes. Seu objetivo é treinar o aluno usando o conteúdo dos Módulos 1 a 10. Você não apenas conversa, mas propõe atividades práticas e aguarda a resposta.\n\nRegras de Comportamento:\n1. Foco em Ação: Toda mensagem deve conter um exercício prático (completar frase, transformar em negativa, traduzir termo, conjugar verbo, etc).\n2. Estilo WhatsApp: Mensagens curtas, diretas, com emojis. Use **negrito** apenas para destacar a frase do exercício ou palavras-chave.\n3. Sem Asteriscos Extras: Use o negrito colado na palavra: **exemplo**. Nunca deixe espaços dentro dos símbolos.\n4. Uma por vez: Envie apenas 1 exercício por vez. Espere o aluno responder antes de seguir.\n5. Base de Dados: Siga a ordem dos PDFs (comece com Módulo 1: To Be e Greetings). Só avance de nível quando o aluno demonstrar segurança.\n6. Correção Natural: Se o aluno errar o conteúdo, mostre o correto de forma simples.\n7. Continuidade (Muito Importante): Jamais corrija erros de letras maiúsculas no início da frase, falta de ponto final ou ausência de apóstrofes (ex: \"im\" em vez de \"i'm\"). Ignore esses detalhes para manter o fluxo do chat.\n\nRegras de Formatação:\n- Explique o comando do exercício em português.\n- O conteúdo do exercício deve ser em inglês.\n- Sem teoria longa. No máximo uma frase de dica se houver erro gramatical real.\n\nExemplo:\n\"muito bom! agora vamos treinar o verbo to be.\ncomplete a frase: **she ___ a doctor** 👩‍⚕️\"","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-704,544],"id":"052b2961-f066-49f0-8292-4fed05ad02b4","name":"Principal Agent","retryOnFail":false,"alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body[''].remoteJid.replace('@g.us','') }}","tableName":"={{ $('Webhook').item.json.body[''].subject\n  .replace(/\\s+/g, '_')\n  .replace(/[^a-zA-Z0-9_]/g, '')\n}}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-736,800],"id":"a38f79a3-7ca6-483a-88cd-0adb7dfa9538","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres CHAT"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.instance }}","remoteJid":"={{ $('Edit Fields').item.json.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-304,544],"id":"e22f8329-c297-4d9c-817f-6c8c61f13185","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"value":"={{ $json.body[''].remoteJid }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1984,544],"id":"7f5c3abe-986c-4aa8-abfc-3f75b5d54c3a","name":"Crypto"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1120,1168],"id":"84d9ddc3-9c2b-4150-b65e-aa691e68c1aa","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-608,944],"id":"e07491cd-2167-4d0e-bb2f-01f7328d10a5","name":"Query Data Tool"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1392,816],"id":"a6ef4588-467c-434e-a894-f89a11fd72e0","name":"Insert Data to Store"},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1040,960],"id":"8e84074c-cb0d-434d-8a94-f32d89a61209","name":"Default Data Loader"},{"parameters":{"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldLabel":"Upload your file(s)","fieldType":"file","acceptFileTypes":".pdf, .csv, .md","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1584,816],"id":"04b9c1cc-6495-4f3c-8579-0681907b232f","name":"Upload your file here","webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d","disabled":true}],"connections":{"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Upload your file here":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d8309bc-370a-4557-b52d-e0adeb77ad3f","activeVersionId":"9860a8a9-c5c7-477b-81e3-91911c629c50","triggerCount":2,"shared":[{"updatedAt":"2026-01-11T23:34:32.401Z","createdAt":"2026-01-11T23:34:32.401Z","role":"workflow:owner","workflowId":"13FQVk9o9fdcRtZ0","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-12T21:35:55.186Z","createdAt":"2026-01-12T21:35:53.509Z","versionId":"9860a8a9-c5c7-477b-81e3-91911c629c50","workflowId":"13FQVk9o9fdcRtZ0","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"},{"id":"934d47c1-11a2-42b8-8287-78d9c5f3aec8","name":"conversation","value":"={{ $('Webhook').item.json.body[''].message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,544],"id":"88f570b0-6d79-45c9-be46-daa2f38d157d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"fdbc6d3e-d2a0-47e3-a55a-254866f9a56c","name":"instance","value":"={{ $json.body[''].instance }}","type":"string"},{"id":"7bc3439c-fd1b-4c1c-bd97-2bd1911fd78d","name":"remoteJid","value":"={{ $json.body[''].remoteJid }}","type":"string"},{"id":"dce75574-b0c7-4f8b-b9cc-15d620d0fc1d","name":"pushName","value":"={{ $json.body[''].pushName }}","type":"string"},{"id":"1c8381c0-2404-42a8-bd24-ce190a3c1994","name":"messageType","value":"={{ $json.body[''].messageType }}","type":"string"},{"id":"54fef45e-abd5-4dcc-a045-68513422a43e","name":"id","value":"={{ $json.body[''].id }}","type":"string"},{"id":"4d1685f7-1c61-49d4-919f-8abc799a147d","name":"subject","value":"={{ $json.body[''].subject }}","type":"string"},{"id":"81e3962e-485c-42c2-94f5-5c748f74db49","name":"message","value":"={{ $json.body[''].message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,544],"id":"dbbf87f9-0457-49b9-9bc4-3a7b0d0885c4","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-896,800],"id":"efcfedd4-b95b-4a0c-9132-b662a09df456","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363423502776697","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2256,544],"id":"ddbdd56e-c860-4945-a7ab-23e1221c9f2d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $('Webhook').item.json.body[''].pushName }}\nMensagem do usuário: {{ $('Webhook').item.json.body[''].message.conversation }}\n","options":{"systemMessage":"=Você é um instrutor de exercícios de inglês para iniciantes. Seu objetivo é treinar o aluno usando o conteúdo dos Módulos 1 a 10. Você não apenas conversa, mas propõe atividades práticas e aguarda a resposta.\n\nRegras de Comportamento:\n1. Foco em Ação: Toda mensagem deve conter um exercício prático (completar frase, transformar em negativa, traduzir termo, conjugar verbo, etc).\n2. Estilo WhatsApp: Mensagens curtas, diretas, com emojis. Use **negrito** apenas para destacar a frase do exercício ou palavras-chave.\n3. Sem Asteriscos Extras: Use o negrito colado na palavra: **exemplo**. Nunca deixe espaços dentro dos símbolos.\n4. Uma por vez: Envie apenas 1 exercício por vez. Espere o aluno responder antes de seguir.\n5. Base de Dados: Siga a ordem dos PDFs (comece com Módulo 1: To Be e Greetings). Só avance de nível quando o aluno demonstrar segurança.\n6. Correção Natural: Se o aluno errar o conteúdo, mostre o correto de forma simples.\n7. Continuidade (Muito Importante): Jamais corrija erros de letras maiúsculas no início da frase, falta de ponto final ou ausência de apóstrofes (ex: \"im\" em vez de \"i'm\"). Ignore esses detalhes para manter o fluxo do chat.\n\nRegras de Formatação:\n- Explique o comando do exercício em português.\n- O conteúdo do exercício deve ser em inglês.\n- Sem teoria longa. No máximo uma frase de dica se houver erro gramatical real.\n\nExemplo:\n\"muito bom! agora vamos treinar o verbo to be.\ncomplete a frase: **she ___ a doctor** 👩‍⚕️\"","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-704,544],"id":"052b2961-f066-49f0-8292-4fed05ad02b4","name":"Principal Agent","retryOnFail":false,"alwaysOutputData":false},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body[''].remoteJid.replace('@g.us','') }}","tableName":"={{ $('Webhook').item.json.body[''].subject\n  .replace(/\\s+/g, '_')\n  .replace(/[^a-zA-Z0-9_]/g, '')\n}}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-736,800],"id":"a38f79a3-7ca6-483a-88cd-0adb7dfa9538","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.instance }}","remoteJid":"={{ $('Edit Fields').item.json.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-304,544],"id":"e22f8329-c297-4d9c-817f-6c8c61f13185","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"value":"={{ $json.body[''].remoteJid }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1984,544],"id":"7f5c3abe-986c-4aa8-abfc-3f75b5d54c3a","name":"Crypto"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1120,1168],"id":"84d9ddc3-9c2b-4150-b65e-aa691e68c1aa","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-608,944],"id":"e07491cd-2167-4d0e-bb2f-01f7328d10a5","name":"Query Data Tool"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"english","mode":"list","cachedResultName":"english"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1392,816],"id":"a6ef4588-467c-434e-a894-f89a11fd72e0","name":"Insert Data to Store"},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1040,960],"id":"8e84074c-cb0d-434d-8a94-f32d89a61209","name":"Default Data Loader"},{"parameters":{"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldLabel":"Upload your file(s)","fieldType":"file","acceptFileTypes":".pdf, .csv, .md","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1584,816],"id":"04b9c1cc-6495-4f3c-8579-0681907b232f","name":"Upload your file here","webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"}],"connections":{"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Upload your file here":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 9860a8a9","description":"","autosaved":false},"tags":[{"updatedAt":"2026-01-12T21:13:46.574Z","createdAt":"2026-01-12T21:13:46.574Z","id":"KENsOkrEhMpr0OBu","name":"Agent"},{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}],"error":"Your request is invalid or could not be processed by the service"}