n8n/Evolution Group Gateway
{"updatedAt":"2026-01-15T16:22:22.397Z","createdAt":"2026-01-11T22:00:46.530Z","id":"le39cEejs7vSROsc","name":"Evolution Group Gateway","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agent","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,-80],"id":"be082df1-96b7-4973-ab3a-19920902f402","name":"Webhook","webhookId":"a29acf28-c8e0-451f-b5c6-c6d57abe9363"},{"parameters":{"assignments":{"assignments":[{"id":"1924cac5-cbcf-4cc5-8b82-ac3ed0ac0bec","name":"instance","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"1223e2d4-461d-4866-a989-4bc122c804bb","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"01f297ac-6ac1-4fde-9a08-55a1c744191e","name":"pushName","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"85c85e0a-b75d-40c2-a6a5-9e5d3899674a","name":"messageType","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"0a346075-90cc-4de8-814f-6ceef56587c0","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"016bd7b3-9246-45fa-a4b7-120952a110dd","name":"subject","value":"={{ $json.data.subject }}","type":"string"},{"id":"0acb1df7-9120-43c5-987a-acc92244c01b","name":"message","value":"={{ $('Webhook').item.json.body.data.message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-80],"id":"be00838f-85ff-40c1-8c95-ec9469fb5501","name":"Edit Fields"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"={{ $json.body.instance }}","searchMethod":"groupJid","groupJid":"={{ $json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[64,-80],"id":"10febe66-5a59-45ff-b4ea-94f714bb3571","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/{{$json.remoteJid.replace('@g.us','')}}","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,-48],"id":"a33f44e0-53c9-4ea3-b2bd-450d8ceeaf01","name":"WEBHOOK","disabled":true},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook-test/{{ $json.remoteJid.replace('@g.us','') }}\n","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,128],"id":"ba236e0e-2624-4cdc-80c6-cd802684facd","name":"WEBHOOK-TEST","disabled":true},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/120363405178114557","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,-288],"id":"369c4a7e-a848-412a-9b62-ee70c3f09a5c","name":"WEBHOOK1"}],"connections":{"Webhook":{"main":[[{"node":"Buscar grupos","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"WEBHOOK","type":"main","index":0},{"node":"WEBHOOK-TEST","type":"main","index":0},{"node":"WEBHOOK1","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67e0014e-64de-40ed-8a13-a2d971d1d70f","activeVersionId":"67e0014e-64de-40ed-8a13-a2d971d1d70f","triggerCount":1,"shared":[{"updatedAt":"2026-01-11T22:00:46.530Z","createdAt":"2026-01-11T22:00:46.530Z","role":"workflow:owner","workflowId":"le39cEejs7vSROsc","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-15T16:22:23.855Z","createdAt":"2026-01-15T16:22:22.400Z","versionId":"67e0014e-64de-40ed-8a13-a2d971d1d70f","workflowId":"le39cEejs7vSROsc","nodes":[{"parameters":{"httpMethod":"POST","path":"agent","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,-80],"id":"be082df1-96b7-4973-ab3a-19920902f402","name":"Webhook","webhookId":"a29acf28-c8e0-451f-b5c6-c6d57abe9363"},{"parameters":{"assignments":{"assignments":[{"id":"1924cac5-cbcf-4cc5-8b82-ac3ed0ac0bec","name":"instance","value":"={{ $('Webhook').item.json.body.instance }}","type":"string"},{"id":"1223e2d4-461d-4866-a989-4bc122c804bb","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"01f297ac-6ac1-4fde-9a08-55a1c744191e","name":"pushName","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"85c85e0a-b75d-40c2-a6a5-9e5d3899674a","name":"messageType","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"0a346075-90cc-4de8-814f-6ceef56587c0","name":"id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"},{"id":"016bd7b3-9246-45fa-a4b7-120952a110dd","name":"subject","value":"={{ $json.data.subject }}","type":"string"},{"id":"0acb1df7-9120-43c5-987a-acc92244c01b","name":"message","value":"={{ $('Webhook').item.json.body.data.message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-80],"id":"be00838f-85ff-40c1-8c95-ec9469fb5501","name":"Edit Fields"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"={{ $json.body.instance }}","searchMethod":"groupJid","groupJid":"={{ $json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[64,-80],"id":"10febe66-5a59-45ff-b4ea-94f714bb3571","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/{{$json.remoteJid.replace('@g.us','')}}","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,-48],"id":"a33f44e0-53c9-4ea3-b2bd-450d8ceeaf01","name":"WEBHOOK","disabled":true},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook-test/{{ $json.remoteJid.replace('@g.us','') }}\n","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,128],"id":"ba236e0e-2624-4cdc-80c6-cd802684facd","name":"WEBHOOK-TEST","disabled":true},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/120363405178114557","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,-288],"id":"369c4a7e-a848-412a-9b62-ee70c3f09a5c","name":"WEBHOOK1"}],"connections":{"Webhook":{"main":[[{"node":"Buscar grupos","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"WEBHOOK","type":"main","index":0},{"node":"WEBHOOK-TEST","type":"main","index":0},{"node":"WEBHOOK1","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 67e0014e","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"},{"updatedAt":"2026-01-12T21:14:00.155Z","createdAt":"2026-01-12T21:14:00.155Z","id":"eOp5ZidNU13xiknU","name":"Tool"}],"error":"Your request is invalid or could not be processed by the service"}