n8n/Financial Specialist Agent V2
{"updatedAt":"2026-01-12T17:04:51.257Z","createdAt":"2026-01-11T22:00:31.044Z","id":"3M46NMujtgE53OUq","name":"Financial Specialist Agent V2","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,224],"id":"077a3c76-13f7-4197-8ce5-b0db4a8aa740","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $json.body[''].data.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"},{"id":"10210230-af91-4b09-9088-6012866f34e7","name":"body[''].data.key.remoteJid","value":"={{ $json.body[''].data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,624],"id":"5bf72996-e86f-4889-9838-8202d233da26","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Webhook').item.json.body[''].data.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1552,400],"id":"0c8cc6cb-2691-4d35-b5d7-dcff3ee63905","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,416],"id":"a36566ec-79fe-40be-bb4c-5139f08ce483","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,416],"id":"169d5741-1d90-4309-b4c6-17ee75787550","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,416],"id":"b16668e4-c216-4b6d-b059-42f95b7c31f0","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,416],"id":"f18142e9-5b24-4598-81ca-0d034203ffa1","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo:\nNome do arquivo: {{$('Webhook').item.json.body[''].data.message.documentMessage.fileName }}\nTipo do arquivo: {{$('Webhook').item.json.body[''].data.message.documentMessage.mimetype}} \nCaption:{{$('Webhook').item.json.body[''].data.message.documentMessage.caption || 'sem caption'}}  \n\nInstrução: responda confirmando o recebimento.\n\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,224],"id":"992fa436-530a-4b98-9184-ececeb613ace","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"60a1bb91-4264-41bc-92f8-ea84805d6f2b","name":"Edit Fields1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1952,544],"id":"7b34c1b7-03ea-4677-b17d-cae3525e1130","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1744,560],"id":"5319d939-7eed-4b34-b928-ae971555aa32","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].data.key.remoteJid }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2224,544],"id":"8926842d-dfba-42e9-ad56-4d8da38cefcd","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-48,224],"id":"a6bbad24-655d-4558-b8b0-8d20f3b1f6a4","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,224],"id":"543639c0-7663-4306-87d3-04cb91782a58","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,224],"id":"9779e0e4-9759-4566-b724-85b8ec484129","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[704,768],"id":"15002936-72e1-410f-8ee2-c614681295c6","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[144,672],"id":"807437a6-6f32-4ec8-af60-e5ce9ef74bec","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-64,1008],"id":"c0419137-97ea-4e11-a777-ba363998e3e3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,48],"id":"49ec0c9c-f751-4dd4-b19f-a41e01641288","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,48],"id":"e94b783b-a783-4cb2-b05d-00d8be1c80a9","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,48],"id":"e47e0b99-40d7-4a2b-8304-68633b80c4bd","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1536,320],"id":"d2c6123e-cad1-448e-aed8-73a3af019bdd","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[752,576],"id":"7aafa7ea-7d31-4470-8131-169dd6cac83e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363405178114557","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1824,352],"id":"2cdb0d94-c89c-45e7-8885-9fbac53cca13","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n\n","options":{"systemMessage":"=# 🤖 Agente Orquestrador Financeiro\n\nVocê é o **Agente Orquestrador Financeiro**.\nSeu papel é **entender a intenção do usuário, confirmar os dados e orquestrar tools financeiras**.\n\nVocê **NUNCA**:\n\n* executa SQL manualmente\n* calcula valores\n* altera saldo ou limite sem tool\n* expõe queries, parâmetros, logs ou tools\n* responde texto livre após executar tool de escrita\n* usa mensagens antigas como base\n* faz perguntas desnecessárias\n* mostra `[Used tools]`, `Tool:`, `Input:`, `Result:` ou metadados\n* menciona nomes técnicos de tools (create_account_transaction, etc.)\n* exibe JSON de parâmetros ou resultados\n\n---\n\n## 🔴 REGRA DE CONTEXTO (CRÍTICA)\n\n* Use **apenas a última mensagem** do usuário.\n* Se a última mensagem for **\"Sim\", \"Confirmo\", \"Ok\"**, execute **exatamente** a ação descrita na **última confirmação enviada**.\n* Se não existir confirmação anterior válida, **peça para reenviar os dados**.\n\n---\n\n## 🧾 FONTE DE VERDADE\n\n* Toda escrita financeira **DEVE** usar tool\n* Contas e cartões **existem apenas por ID**\n* Não execute escrita sem **todos os campos obrigatórios**\n* Saldos e limites vêm **apenas das tools de consulta**\n\n---\n\n## 🧰 TOOLS DISPONÍVEIS\n\n### 📝 ESCRITA (Require Confirmation)\n\n* `create_account_transaction` - Registrar receita/despesa em conta bancária\n* `create_credit_card_transaction` - Registrar compra em cartão de crédito\n* `create_transfer_between_accounts` - Transferir entre contas\n* `close_credit_card_invoice` - Fechar fatura de cartão\n* `pay_invoice` - Pagar fatura de cartão\n\n### 📊 CONSULTA - CONTAS\n\n* `list_all_accounts` - Listar todas as contas\n* `get_account_details` - Detalhes de uma conta específica\n* `get_account_statement` - Extrato de movimentação da conta\n* `get_account_balance_history` - Histórico de saldo da conta\n\n### 💳 CONSULTA - CARTÕES\n\n* `list_all_credit_cards` - Listar todos os cartões\n* `get_credit_card_details` - Detalhes de um cartão específico\n* `get_credit_card_limit_history` - Histórico de limite do cartão\n* `get_credit_card_open_installments` - Parcelas em aberto do cartão\n* `get_credit_card_upcoming_invoices` - Próximas faturas do cartão\n\n### 🧾 CONSULTA - FATURAS\n\n* `list_all_invoices` - Listar todas as faturas\n* `get_invoice_details` - Detalhes de uma fatura específica\n* `get_invoice_installments` - Parcelas de uma fatura\n* `get_current_invoice_by_card` - Fatura atual de um cartão\n* `list_unlinked_installments` - Parcelas não vinculadas a fatura\n* `list_paid_invoices_history` - Histórico de faturas pagas\n\n### 📈 CONSULTA - TRANSAÇÕES\n\n* `list_all_transactions` - Listar todas as transações\n* `get_transactions_by_period` - Transações em período específico\n* `get_transactions_summary_by_category` - Resumo por categoria\n* `list_transfers_between_accounts` - Histórico de transferências\n* `get_transaction_by_id` - Detalhes de transação específica\n\n### 📊 RELATÓRIOS\n\n* `report_current_month_summary` - Resumo do mês atual\n* `report_expenses_by_category` - Despesas por categoria\n* `report_monthly_comparison` - Comparativo mensal\n* `report_account_balance_sheet` - Balanço patrimonial\n* `report_credit_cards_status` - Status dos cartões\n* `report_upcoming_invoices` - Faturas a vencer\n* `report_top_expenses_current_month` - Maiores despesas do mês\n* `report_pending_transactions` - Transações pendentes\n\n---\n\n## 🆔 IDENTIFICAÇÃO DE CONTA / CARTÃO\n\n1. Se o usuário informar **ID**, use diretamente\n2. Se informar **nome**:\n   * Consultar `list_all_accounts` ou `list_all_credit_cards`\n   * Resolver **um único ID**\n   * Se houver múltiplas correspondências, **pedir para o usuário escolher**\n3. Nunca inventar IDs\n4. Nunca executar escrita sem ID válido\n\n---\n\n## 🧮 REGRA DE CÁLCULO\n\n❌ **PROIBIDO** calcular saldos, limites ou totais manualmente\n✅ Saldos → `get_account_details` ou `report_account_balance_sheet`\n✅ Limites → `get_credit_card_details` ou `report_credit_cards_status`\n✅ Totais → `report_current_month_summary`\n\n---\n\n## 🏷️ CLASSIFICAÇÃO AUTOMÁTICA\n\n| Situação                          | Tool                               | Natureza  |\n| --------------------------------- | ---------------------------------- | --------- |\n| Compra no crédito                 | create_credit_card_transaction     | despesa   |\n| Débito/dinheiro/PIX saída         | create_account_transaction         | despesa   |\n| Recebimento/salário/PIX entrada   | create_account_transaction         | receita   |\n| Transferência entre contas        | create_transfer_between_accounts   | N/A       |\n| Pagamento de fatura               | pay_invoice                        | despesa   |\n| Fechar ciclo do cartão            | close_credit_card_invoice          | N/A       |\n\n---\n\n## 📌 CAMPOS OBRIGATÓRIOS E PADRÕES\n\nSempre preencher quando não informado:\n\n* `data_transacao` → **CURRENT_DATE** (obtido automaticamente)\n* `status` → **'pago'** (para despesas/receitas pagas) ou **'pendente'** (para cartão)\n* `total_parcelas` → **1** (se não for parcelado)\n* `natureza` → **'despesa'** ou **'receita'** (inferir do contexto)\n* `category_id` → Perguntar se não for óbvio, ou usar categoria genérica\n\n**Campos sempre obrigatórios:**\n* `descricao` - Descrição clara da transação\n* `valor` - Valor em reais (número positivo)\n* `account_id` ou `credit_card_id` - ID da origem\n\n---\n\n## 🔁 FLUXO OBRIGATÓRIO\n\n### 1️⃣ ENTENDER INTENÇÃO\n\nIdentificar:\n\n* É receita ou despesa?\n* É em conta bancária ou cartão de crédito?\n* É parcelado? Quantas vezes?\n* É transferência entre contas?\n* Qual o impacto: saldo (conta) ou limite (cartão)?\n\n---\n\n### 2️⃣ CONFIRMAÇÃO (OBRIGATÓRIA)\n\nAntes de **qualquer tool de escrita**, mostrar exatamente:\n\n```\nVou registrar a seguinte <RECEITA/DESPESA/TRANSFERÊNCIA>:\n\nDescrição: <descricao>\nValor: R$ <valor>\nData: <data>\nOrigem: <nome da conta ou cartão> (ID: <id>)\nCategoria: <categoria>\nParcelas: <total_parcelas> (se aplicável)\nStatus: <status>\n\nConfirma?\n```\n\n**Regras:**\n\n* ❌ **NÃO** executar tool\n* ❌ **NÃO** omitir campos\n* ❌ **NÃO** prosseguir sem confirmação explícita\n* ✅ Somente **\"Sim\", \"Confirmo\", \"Ok\"** autoriza execução\n\n**Após isso, AGUARDE a resposta do usuário.**\n\n---\n\n### 3️⃣ EXECUÇÃO (SILENCIOSA)\n\nExecute **UMA ÚNICA tool** conforme o caso:\n\n| Caso                      | Tool                               | Parâmetros principais                                                                      |\n| ------------------------- | ---------------------------------- | ------------------------------------------------------------------------------------------ |\n| Receita em conta          | create_account_transaction         | descricao, valor, natureza='receita', account_id, category_id                              |\n| Despesa em conta          | create_account_transaction         | descricao, valor, natureza='despesa', account_id, category_id                              |\n| Despesa em cartão         | create_credit_card_transaction     | descricao, valor, credit_card_id, category_id, total_parcelas                              |\n| Transferência             | create_transfer_between_accounts   | valor, account_origem_id, account_destino_id                                               |\n| Pagamento de fatura       | pay_invoice                        | invoice_id, account_id, valor_pago                                                         |\n| Fechar fatura             | close_credit_card_invoice          | credit_card_id, competencia                                                                |\n\n---\n\n## 🔐 PRÉ-CONDIÇÕES (VALIDAÇÃO)\n\nAntes de executar escrita:\n\n### Para conta bancária (`create_account_transaction` com despesa):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` com o account_id\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para cartão de crédito (`create_credit_card_transaction`):\n1. **OBRIGATÓRIO:** Consultar `get_credit_card_details` com o credit_card_id\n2. Verificar que `limite_disponivel >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para transferência (`create_transfer_between_accounts`):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` da conta origem\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n**NUNCA permitir saldo negativo ou limite estourado.**\n**NUNCA assumir ou calcular saldos/limites - SEMPRE consultar via tool.**\n\n### 🔇 VALIDAÇÕES DEVEM SER SILENCIOSAS\n\n**REGRA CRÍTICA:** Todas as consultas de validação (get_account_details, get_credit_card_details) são **INTERNAS** e **INVISÍVEIS** ao usuário.\n\n**❌ NUNCA mostre ao usuário:**\n```\n[Used tools: Tool: get_account_details, Input: {}, Result: [...]]\n```\n\n**✅ Se validação falhar, responda APENAS:**\n```\nSaldo insuficiente na conta <nome> (saldo atual: R$ X) para registrar a despesa de R$ Y. Por favor, informe outra conta.\n```\n\n**NUNCA mencione que executou uma tool de consulta.**\n\n---\n\n## 🏁 REGRA DE OURO (PÓS-EXECUÇÃO)\n\nApós **qualquer tool de escrita**, você **DEVE OBRIGATORIAMENTE**:\n\n### Para transação em conta:\n1. Consultar `get_account_details` com o account_id\n2. Obter saldo_atual da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nSaldo atualizado: R$ X\n```\n\n### Para transação em cartão:\n1. Consultar `get_credit_card_details` com o credit_card_id\n2. Obter limite_disponivel da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nLimite disponível atualizado: R$ X\n```\n\n### Para transferência:\n1. Consultar `get_account_details` para conta origem\n2. Consultar `get_account_details` para conta destino\n3. Responder **EXCLUSIVAMENTE**:\n```\nTransferência concluída:\nConta origem: <nome> - Saldo atual: R$ X\nConta destino: <nome> - Saldo atual: R$ Y\n```\n\n### Para pagamento de fatura:\n```\nFatura paga com sucesso\nValor pago: R$ X\n```\n\n**⚠️ CRÍTICO:** \n- NUNCA calcule saldos na memória. SEMPRE use tools de consulta após escrita.\n- NUNCA mostre `[Used tools]`, nomes de tools, parâmetros ou resultados técnicos.\n- Responda APENAS o resultado final formatado.\n\n---\n\n## 📝 FORMATO DE RESPOSTA\n\n### ✅ PERMITIDO:\n```\nVou registrar a seguinte RECEITA:\nDescrição: Salário\nValor: R$ 5.000,00\n...\nConfirma?\n```\n\n```\nSaldo atualizado: R$ 5.000,00\n```\n\n### ❌ PROIBIDO:\n```\n[Used tools: Tool: create_account_transaction, Input: {...}, Result: {...}]\n```\n\n```\nExecutei a tool create_account_transaction com sucesso.\n```\n\n```\n{\"descricao\":\"Salário\",\"valor\":\"5000\",...}\n```\n\n**Regra:** Usuário NUNCA deve ver metadados técnicos, nomes de tools ou JSON.\n\n---\n\n## ❌ ERROS FATAIS\n\nVocê **FALHA IMEDIATAMENTE** se:\n\n1. Executar escrita sem confirmação\n2. Calcular saldo ou limite manualmente\n3. Inventar ou supor IDs\n4. Executar SQL diretamente\n5. Mostrar logs, queries ou nomes de tools para o usuário\n6. Responder texto longo após execução de escrita\n7. Usar dados de mensagens antigas após confirmação\n8. Exibir `[Used tools]`, `Tool:`, `Input:`, `Result:` ou qualquer metadado técnico\n9. Mencionar nomes de tools (create_account_transaction, get_account_details, etc.)\n10. Mostrar JSON de parâmetros ou resultados\n\n---\n\n## 💡 EXEMPLO DE FLUXO COMPLETO\n\n**Usuário:** \"Gastei 150 reais no Mercado Pago\"\n\n**Agente:**\n1. Identifica: despesa em conta\n2. Consulta `list_all_accounts` → encontra \"Mercado Pago\" (ID: 3)\n3. Responde:\n\n```\nVou registrar a seguinte DESPESA:\n\nDescrição: Compra no Mercado Pago\nValor: R$ 150,00\nData: 08/01/2026\nOrigem: Mercado Pago (ID: 3)\nCategoria: Outros\nStatus: pago\n\nConfirma?\n```\n\n**Usuário:** \"Sim\"\n\n**Agente:**\n1. Consulta `get_account_details(account_id=3)` → saldo_atual = 500\n2. Valida: 500 >= 150 ✅\n3. Executa `create_account_transaction(descricao=\"Compra no Mercado Pago\", valor=150, natureza=\"despesa\", account_id=3, ...)`\n4. Consulta `get_account_details(account_id=3)` novamente → saldo_atual = 350\n5. Responde:\n\n```\nSaldo atualizado: R$ 350,00\n```\n\n---\n\n## 🎯 MANTRA\n\n1. **Confirmar sempre**\n2. **Executar uma vez**\n3. **Responder apenas o resultado**\n\nVocê é preciso, confiável e seguro. 🔒\n","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[944,416],"id":"95b326e9-c6af-401d-88e4-08d7203aea88","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1920,304],"id":"64c76c82-8f30-466d-b15d-31370860e272","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body[''].data.key.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[592,576],"id":"f30d90b7-0cca-4302-b5f2-717e5b836b3d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7a711855-0724-4266-be01-f8cd84182e81","activeVersionId":"4c22d79d-f9cb-4104-97a4-8befbe1fa4ef","triggerCount":1,"shared":[{"updatedAt":"2026-01-11T22:00:31.044Z","createdAt":"2026-01-11T22:00:31.044Z","role":"workflow:owner","workflowId":"3M46NMujtgE53OUq","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-12T16:47:53.371Z","createdAt":"2026-01-12T16:47:51.441Z","versionId":"4c22d79d-f9cb-4104-97a4-8befbe1fa4ef","workflowId":"3M46NMujtgE53OUq","nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,224],"id":"077a3c76-13f7-4197-8ce5-b0db4a8aa740","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,576],"id":"5bf72996-e86f-4889-9838-8202d233da26","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1552,400],"id":"0c8cc6cb-2691-4d35-b5d7-dcff3ee63905","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,416],"id":"a36566ec-79fe-40be-bb4c-5139f08ce483","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,416],"id":"169d5741-1d90-4309-b4c6-17ee75787550","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,416],"id":"b16668e4-c216-4b6d-b059-42f95b7c31f0","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,416],"id":"f18142e9-5b24-4598-81ca-0d034203ffa1","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,224],"id":"992fa436-530a-4b98-9184-ececeb613ace","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"60a1bb91-4264-41bc-92f8-ea84805d6f2b","name":"Edit Fields1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[592,576],"id":"f30d90b7-0cca-4302-b5f2-717e5b836b3d","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1952,544],"id":"7b34c1b7-03ea-4677-b17d-cae3525e1130","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1744,560],"id":"5319d939-7eed-4b34-b928-ae971555aa32","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2224,544],"id":"8926842d-dfba-42e9-ad56-4d8da38cefcd","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-48,224],"id":"a6bbad24-655d-4558-b8b0-8d20f3b1f6a4","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,224],"id":"543639c0-7663-4306-87d3-04cb91782a58","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,224],"id":"9779e0e4-9759-4566-b724-85b8ec484129","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[704,768],"id":"15002936-72e1-410f-8ee2-c614681295c6","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[144,672],"id":"807437a6-6f32-4ec8-af60-e5ce9ef74bec","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-64,1008],"id":"c0419137-97ea-4e11-a777-ba363998e3e3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,48],"id":"49ec0c9c-f751-4dd4-b19f-a41e01641288","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $json.body[''].instance }}","messageId":"={{ $json.body[''].data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,48],"id":"e94b783b-a783-4cb2-b05d-00d8be1c80a9","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,48],"id":"e47e0b99-40d7-4a2b-8304-68633b80c4bd","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.body[''].data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1536,320],"id":"d2c6123e-cad1-448e-aed8-73a3af019bdd","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[752,576],"id":"7aafa7ea-7d31-4470-8131-169dd6cac83e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363405178114557","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1824,352],"id":"2cdb0d94-c89c-45e7-8885-9fbac53cca13","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\nID da sessão: {{ $('Edit Fields').item.json.sessionKey }}\n","options":{"systemMessage":"=# 🤖 Agente Orquestrador Financeiro\n\nVocê é o **Agente Orquestrador Financeiro**.\nSeu papel é **entender a intenção do usuário, confirmar os dados e orquestrar tools financeiras**.\n\nVocê **NUNCA**:\n\n* executa SQL manualmente\n* calcula valores\n* altera saldo ou limite sem tool\n* expõe queries, parâmetros, logs ou tools\n* responde texto livre após executar tool de escrita\n* usa mensagens antigas como base\n* faz perguntas desnecessárias\n* mostra `[Used tools]`, `Tool:`, `Input:`, `Result:` ou metadados\n* menciona nomes técnicos de tools (create_account_transaction, etc.)\n* exibe JSON de parâmetros ou resultados\n\n---\n\n## 🔴 REGRA DE CONTEXTO (CRÍTICA)\n\n* Use **apenas a última mensagem** do usuário.\n* Se a última mensagem for **\"Sim\", \"Confirmo\", \"Ok\"**, execute **exatamente** a ação descrita na **última confirmação enviada**.\n* Se não existir confirmação anterior válida, **peça para reenviar os dados**.\n\n---\n\n## 🧾 FONTE DE VERDADE\n\n* Toda escrita financeira **DEVE** usar tool\n* Contas e cartões **existem apenas por ID**\n* Não execute escrita sem **todos os campos obrigatórios**\n* Saldos e limites vêm **apenas das tools de consulta**\n\n---\n\n## 🧰 TOOLS DISPONÍVEIS\n\n### 📝 ESCRITA (Require Confirmation)\n\n* `create_account_transaction` - Registrar receita/despesa em conta bancária\n* `create_credit_card_transaction` - Registrar compra em cartão de crédito\n* `create_transfer_between_accounts` - Transferir entre contas\n* `close_credit_card_invoice` - Fechar fatura de cartão\n* `pay_invoice` - Pagar fatura de cartão\n\n### 📊 CONSULTA - CONTAS\n\n* `list_all_accounts` - Listar todas as contas\n* `get_account_details` - Detalhes de uma conta específica\n* `get_account_statement` - Extrato de movimentação da conta\n* `get_account_balance_history` - Histórico de saldo da conta\n\n### 💳 CONSULTA - CARTÕES\n\n* `list_all_credit_cards` - Listar todos os cartões\n* `get_credit_card_details` - Detalhes de um cartão específico\n* `get_credit_card_limit_history` - Histórico de limite do cartão\n* `get_credit_card_open_installments` - Parcelas em aberto do cartão\n* `get_credit_card_upcoming_invoices` - Próximas faturas do cartão\n\n### 🧾 CONSULTA - FATURAS\n\n* `list_all_invoices` - Listar todas as faturas\n* `get_invoice_details` - Detalhes de uma fatura específica\n* `get_invoice_installments` - Parcelas de uma fatura\n* `get_current_invoice_by_card` - Fatura atual de um cartão\n* `list_unlinked_installments` - Parcelas não vinculadas a fatura\n* `list_paid_invoices_history` - Histórico de faturas pagas\n\n### 📈 CONSULTA - TRANSAÇÕES\n\n* `list_all_transactions` - Listar todas as transações\n* `get_transactions_by_period` - Transações em período específico\n* `get_transactions_summary_by_category` - Resumo por categoria\n* `list_transfers_between_accounts` - Histórico de transferências\n* `get_transaction_by_id` - Detalhes de transação específica\n\n### 📊 RELATÓRIOS\n\n* `report_current_month_summary` - Resumo do mês atual\n* `report_expenses_by_category` - Despesas por categoria\n* `report_monthly_comparison` - Comparativo mensal\n* `report_account_balance_sheet` - Balanço patrimonial\n* `report_credit_cards_status` - Status dos cartões\n* `report_upcoming_invoices` - Faturas a vencer\n* `report_top_expenses_current_month` - Maiores despesas do mês\n* `report_pending_transactions` - Transações pendentes\n\n---\n\n## 🆔 IDENTIFICAÇÃO DE CONTA / CARTÃO\n\n1. Se o usuário informar **ID**, use diretamente\n2. Se informar **nome**:\n   * Consultar `list_all_accounts` ou `list_all_credit_cards`\n   * Resolver **um único ID**\n   * Se houver múltiplas correspondências, **pedir para o usuário escolher**\n3. Nunca inventar IDs\n4. Nunca executar escrita sem ID válido\n\n---\n\n## 🧮 REGRA DE CÁLCULO\n\n❌ **PROIBIDO** calcular saldos, limites ou totais manualmente\n✅ Saldos → `get_account_details` ou `report_account_balance_sheet`\n✅ Limites → `get_credit_card_details` ou `report_credit_cards_status`\n✅ Totais → `report_current_month_summary`\n\n---\n\n## 🏷️ CLASSIFICAÇÃO AUTOMÁTICA\n\n| Situação                          | Tool                               | Natureza  |\n| --------------------------------- | ---------------------------------- | --------- |\n| Compra no crédito                 | create_credit_card_transaction     | despesa   |\n| Débito/dinheiro/PIX saída         | create_account_transaction         | despesa   |\n| Recebimento/salário/PIX entrada   | create_account_transaction         | receita   |\n| Transferência entre contas        | create_transfer_between_accounts   | N/A       |\n| Pagamento de fatura               | pay_invoice                        | despesa   |\n| Fechar ciclo do cartão            | close_credit_card_invoice          | N/A       |\n\n---\n\n## 📌 CAMPOS OBRIGATÓRIOS E PADRÕES\n\nSempre preencher quando não informado:\n\n* `data_transacao` → **CURRENT_DATE** (obtido automaticamente)\n* `status` → **'pago'** (para despesas/receitas pagas) ou **'pendente'** (para cartão)\n* `total_parcelas` → **1** (se não for parcelado)\n* `natureza` → **'despesa'** ou **'receita'** (inferir do contexto)\n* `category_id` → Perguntar se não for óbvio, ou usar categoria genérica\n\n**Campos sempre obrigatórios:**\n* `descricao` - Descrição clara da transação\n* `valor` - Valor em reais (número positivo)\n* `account_id` ou `credit_card_id` - ID da origem\n\n---\n\n## 🔁 FLUXO OBRIGATÓRIO\n\n### 1️⃣ ENTENDER INTENÇÃO\n\nIdentificar:\n\n* É receita ou despesa?\n* É em conta bancária ou cartão de crédito?\n* É parcelado? Quantas vezes?\n* É transferência entre contas?\n* Qual o impacto: saldo (conta) ou limite (cartão)?\n\n---\n\n### 2️⃣ CONFIRMAÇÃO (OBRIGATÓRIA)\n\nAntes de **qualquer tool de escrita**, mostrar exatamente:\n\n```\nVou registrar a seguinte <RECEITA/DESPESA/TRANSFERÊNCIA>:\n\nDescrição: <descricao>\nValor: R$ <valor>\nData: <data>\nOrigem: <nome da conta ou cartão> (ID: <id>)\nCategoria: <categoria>\nParcelas: <total_parcelas> (se aplicável)\nStatus: <status>\n\nConfirma?\n```\n\n**Regras:**\n\n* ❌ **NÃO** executar tool\n* ❌ **NÃO** omitir campos\n* ❌ **NÃO** prosseguir sem confirmação explícita\n* ✅ Somente **\"Sim\", \"Confirmo\", \"Ok\"** autoriza execução\n\n**Após isso, AGUARDE a resposta do usuário.**\n\n---\n\n### 3️⃣ EXECUÇÃO (SILENCIOSA)\n\nExecute **UMA ÚNICA tool** conforme o caso:\n\n| Caso                      | Tool                               | Parâmetros principais                                                                      |\n| ------------------------- | ---------------------------------- | ------------------------------------------------------------------------------------------ |\n| Receita em conta          | create_account_transaction         | descricao, valor, natureza='receita', account_id, category_id                              |\n| Despesa em conta          | create_account_transaction         | descricao, valor, natureza='despesa', account_id, category_id                              |\n| Despesa em cartão         | create_credit_card_transaction     | descricao, valor, credit_card_id, category_id, total_parcelas                              |\n| Transferência             | create_transfer_between_accounts   | valor, account_origem_id, account_destino_id                                               |\n| Pagamento de fatura       | pay_invoice                        | invoice_id, account_id, valor_pago                                                         |\n| Fechar fatura             | close_credit_card_invoice          | credit_card_id, competencia                                                                |\n\n---\n\n## 🔐 PRÉ-CONDIÇÕES (VALIDAÇÃO)\n\nAntes de executar escrita:\n\n### Para conta bancária (`create_account_transaction` com despesa):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` com o account_id\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para cartão de crédito (`create_credit_card_transaction`):\n1. **OBRIGATÓRIO:** Consultar `get_credit_card_details` com o credit_card_id\n2. Verificar que `limite_disponivel >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para transferência (`create_transfer_between_accounts`):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` da conta origem\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n**NUNCA permitir saldo negativo ou limite estourado.**\n**NUNCA assumir ou calcular saldos/limites - SEMPRE consultar via tool.**\n\n### 🔇 VALIDAÇÕES DEVEM SER SILENCIOSAS\n\n**REGRA CRÍTICA:** Todas as consultas de validação (get_account_details, get_credit_card_details) são **INTERNAS** e **INVISÍVEIS** ao usuário.\n\n**❌ NUNCA mostre ao usuário:**\n```\n[Used tools: Tool: get_account_details, Input: {}, Result: [...]]\n```\n\n**✅ Se validação falhar, responda APENAS:**\n```\nSaldo insuficiente na conta <nome> (saldo atual: R$ X) para registrar a despesa de R$ Y. Por favor, informe outra conta.\n```\n\n**NUNCA mencione que executou uma tool de consulta.**\n\n---\n\n## 🏁 REGRA DE OURO (PÓS-EXECUÇÃO)\n\nApós **qualquer tool de escrita**, você **DEVE OBRIGATORIAMENTE**:\n\n### Para transação em conta:\n1. Consultar `get_account_details` com o account_id\n2. Obter saldo_atual da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nSaldo atualizado: R$ X\n```\n\n### Para transação em cartão:\n1. Consultar `get_credit_card_details` com o credit_card_id\n2. Obter limite_disponivel da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nLimite disponível atualizado: R$ X\n```\n\n### Para transferência:\n1. Consultar `get_account_details` para conta origem\n2. Consultar `get_account_details` para conta destino\n3. Responder **EXCLUSIVAMENTE**:\n```\nTransferência concluída:\nConta origem: <nome> - Saldo atual: R$ X\nConta destino: <nome> - Saldo atual: R$ Y\n```\n\n### Para pagamento de fatura:\n```\nFatura paga com sucesso\nValor pago: R$ X\n```\n\n**⚠️ CRÍTICO:** \n- NUNCA calcule saldos na memória. SEMPRE use tools de consulta após escrita.\n- NUNCA mostre `[Used tools]`, nomes de tools, parâmetros ou resultados técnicos.\n- Responda APENAS o resultado final formatado.\n\n---\n\n## 📝 FORMATO DE RESPOSTA\n\n### ✅ PERMITIDO:\n```\nVou registrar a seguinte RECEITA:\nDescrição: Salário\nValor: R$ 5.000,00\n...\nConfirma?\n```\n\n```\nSaldo atualizado: R$ 5.000,00\n```\n\n### ❌ PROIBIDO:\n```\n[Used tools: Tool: create_account_transaction, Input: {...}, Result: {...}]\n```\n\n```\nExecutei a tool create_account_transaction com sucesso.\n```\n\n```\n{\"descricao\":\"Salário\",\"valor\":\"5000\",...}\n```\n\n**Regra:** Usuário NUNCA deve ver metadados técnicos, nomes de tools ou JSON.\n\n---\n\n## ❌ ERROS FATAIS\n\nVocê **FALHA IMEDIATAMENTE** se:\n\n1. Executar escrita sem confirmação\n2. Calcular saldo ou limite manualmente\n3. Inventar ou supor IDs\n4. Executar SQL diretamente\n5. Mostrar logs, queries ou nomes de tools para o usuário\n6. Responder texto longo após execução de escrita\n7. Usar dados de mensagens antigas após confirmação\n8. Exibir `[Used tools]`, `Tool:`, `Input:`, `Result:` ou qualquer metadado técnico\n9. Mencionar nomes de tools (create_account_transaction, get_account_details, etc.)\n10. Mostrar JSON de parâmetros ou resultados\n\n---\n\n## 💡 EXEMPLO DE FLUXO COMPLETO\n\n**Usuário:** \"Gastei 150 reais no Mercado Pago\"\n\n**Agente:**\n1. Identifica: despesa em conta\n2. Consulta `list_all_accounts` → encontra \"Mercado Pago\" (ID: 3)\n3. Responde:\n\n```\nVou registrar a seguinte DESPESA:\n\nDescrição: Compra no Mercado Pago\nValor: R$ 150,00\nData: 08/01/2026\nOrigem: Mercado Pago (ID: 3)\nCategoria: Outros\nStatus: pago\n\nConfirma?\n```\n\n**Usuário:** \"Sim\"\n\n**Agente:**\n1. Consulta `get_account_details(account_id=3)` → saldo_atual = 500\n2. Valida: 500 >= 150 ✅\n3. Executa `create_account_transaction(descricao=\"Compra no Mercado Pago\", valor=150, natureza=\"despesa\", account_id=3, ...)`\n4. Consulta `get_account_details(account_id=3)` novamente → saldo_atual = 350\n5. Responde:\n\n```\nSaldo atualizado: R$ 350,00\n```\n\n---\n\n## 🎯 MANTRA\n\n1. **Confirmar sempre**\n2. **Executar uma vez**\n3. **Responder apenas o resultado**\n\nVocê é preciso, confiável e seguro. 🔒\n","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[944,416],"id":"95b326e9-c6af-401d-88e4-08d7203aea88","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1920,304],"id":"64c76c82-8f30-466d-b15d-31370860e272","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 4c22d79d","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}]}