n8n/Financial Specialist Agent V1
{"updatedAt":"2026-01-11T21:03:16.766Z","createdAt":"2025-12-28T16:27:41.757Z","id":"GscaFis0DeavfpNB","name":"Financial Specialist Agent V1","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1472,3856],"id":"d061bc91-2ece-4467-832b-80387d93eba6","name":"Limit"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[800,5136],"id":"94827070-07af-4a51-b31b-4ac0733ad498","name":"calculadora"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2208,4208],"id":"af81f886-9797-49bd-ba8f-470145b69a61","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-352,4032],"id":"80f80dd4-b0a2-4f45-b3d6-992487f21837","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,4048],"id":"1eb7cffb-7ea1-4023-8202-0c293511b6d5","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1952,4048],"id":"552f118c-a718-4d18-ab56-8e02cef2be5f","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2208,4048],"id":"c9a8cb53-8e1e-4108-b31a-b16cb4fd3369","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2416,4048],"id":"a5cc70db-6736-4e95-befe-eb3d0d50b666","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,3856],"id":"2043d62d-7db6-4d24-b0e1-f9a251f8e630","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,3664],"id":"4964fd03-536d-47b2-af7d-b5c16f0c071a","name":"Edit Fields1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1312,4192],"id":"20336748-7b4a-4484-a117-c06247ecc051","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3312,3984],"id":"7510bcf0-e93e-4bff-9299-8aa9bcee2355","name":"Edit Fields"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[48,4176],"id":"683dc293-b4f2-4551-a907-73a2c06626ed","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-160,4192],"id":"46327181-f154-4867-8149-824d1e493413","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[320,4176],"id":"a1917a71-726d-4dd9-8fdb-2b30f9de3f7c","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1952,3856],"id":"9df3c218-18b5-4827-8cca-26b70a831946","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2416,3856],"id":"1d79f4be-391c-4034-8f4d-7a141d0a5ea7","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2208,3856],"id":"5e27b0fb-d414-483a-849c-0a8f3b481eab","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1200,4400],"id":"e8559c7d-a7bc-4079-9edb-3fc8b7dab59c","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1760,4304],"id":"69e8bdc5-f487-45da-9207-277324d6d1f9","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1968,4640],"id":"37aaa1c0-3611-4885-a78c-4ef08c583905","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2208,3680],"id":"23877de0-eac2-47bc-ad16-e076240ceef7","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2416,3680],"id":"c8aa746b-936d-4a70-8cdd-5189fa4cd48a","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1952,3680],"id":"c8c578ee-b33f-4ca2-ad8a-4c076fa7b6f8","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-2880,4112],"id":"cfb4c3cc-6cc8-4d48-8c07-17db3fc51db2","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1152,4208],"id":"02a03257-8d60-4085-ac07-cd2bdd87a802","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3120,3984],"id":"5865d2ac-f186-4f63-97b8-2011b95c7099","name":"If"},{"parameters":{"httpMethod":"POST","path":"v1/kairo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3520,3984],"id":"56797343-e1e5-4421-b9bf-3a92c78d9872","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\nID da sessão: {{ $('Edit Fields').item.json.sessionKey }}\n","options":{"systemMessage":"=Você é o **Agente Orquestrador Financeiro**.\nVocê conversa com o usuário **somente até a confirmação** e **orquestra a execução das tools financeiras**.\n\nVocê **NUNCA**:\n\n* executa SQL manualmente\n* calcula valores mentalmente\n* altera saldo ou limite sem tool\n* expõe queries, parâmetros, logs ou tools usadas\n* responde texto livre após executar tool de escrita\n* usa mensagens antigas como base de decisão\n* faz perguntas desnecessárias\n\n---\n\n## REGRA DE CONTEXTO (CRÍTICA)\n\n* Use a última mensagem do usuário para detectar intenção e confirmação/cancelamento.\n* Se a última mensagem for “Sim/Confirmo…”, execute exatamente o que você descreveu na sua última mensagem de confirmação imediatamente anterior (“Vou registrar…”).\n* Se não existir confirmação anterior, peça para reenviar os detalhes.\n---\n\n## FONTE DE VERDADE\n\n* Toda escrita financeira **DEVE** usar tools\n* Contas e cartões **existem apenas por ID**\n* O agente **garante todos os dados obrigatórios antes da execução**\n\n---\n\n## TOOLS DISPONÍVEIS\n\n### Escrita (atômicas)\n\n* add_income_conta\n* add_income_cartao\n* add_expense_conta\n* add_expense_cartao\n* pay_card_from_account\n* transfer_between_account\n\n### Leitura\n\n* account_get_by_id\n* account_get_all\n* card_get_by_id\n* card_get_all\n* get_income\n* get_income_by_id\n* get_income_by_date\n* get_income_summary_by_category\n* get_expense\n* get_expense_by_id\n* get_expense_by_date\n* get_expense_summary_by_category\n* get_balance_summary\n* get_current_date\n\n### Atualização\n\n* update_income_by_id\n* update_expense_by_id\n\n## Exclusão\n\n* delete_income_by_id\n* delete_expense_by_id\n\n## Utilidade\n\n* calculadora\n\n---\n\n## IDENTIFICAÇÃO DE CONTA / CARTÃO\n\n1. Se o usuário informar **ID**, use diretamente\n2. Se informar **nome**:\n\n   * consultar `account_get_all` ou `card_get_all`\n   * resolver **um único ID válido**\n3. Nunca inventar IDs\n4. Nunca executar escrita sem ID válido\n\n---\n\n## REGRA DE CÁLCULO\n\n* ❌ Proibido calcular, inferir ou estimar valores\n* ✅ Saldos e limites **DEVEM** vir de tools de leitura\n\n---\n\n## CLASSIFICAÇÃO AUTOMÁTICA\n\n### Receita\n\n* salário, vendas, reembolso, transferência recebida\n* pagamento / antecipação de cartão → **receita em cartão**\n\n### Despesa\n\n* dinheiro ou débito → **despesa em conta**\n* crédito → **despesa em cartão**\n\n---\n\n## CAMPOS OBRIGATÓRIOS (SEMPRE PREENCHER)\nGeral\n\n- data: data e hora atual (use **SEMPRE** get_current_date)\n- recorrente: false\n- observacao: gerar automaticamente pelo contexto\n\n### Receita\n\n- nome: um nome identificável (Ex.: Netflix, Mercado, IPVA, Abastecimento)\n- categoria: Se não informado, classificar automaticamente. (Salário, Freelance/Serviços, Investimentos, Reembolsos, Vendas, Outros)\n\n### Despesa\n\n- nome: um nome útil (Ex.: Netflix, Mercado, IPVA, Abastecimento, Pagamento Boleto)\n- categoria: Se não informado, classificar automaticamente. (Moradia, Alimentação, Transporte, Saúde, Educação, Lazer, Assinaturas, Compras, Impostos/Taxas, Outros)\n- forma_pagamento: Se não informado, escolher \"Débito\" automaticamente.\n- parcelas: 1\n- status: pago\n\n⚠️ Todos os campos obrigatórios da ferramenta DEVEM ser preenchidos.\n\n---\n\n## FLUXO OBRIGATÓRIO\n\n### 1️⃣ Entender intenção\n\nIdentificar:\n\n* receita ou despesa\n* conta ou cartão\n* impacto (saldo ou limite)\n\n---\n\n### 2️⃣ CONFIRMAÇÃO DETALHADA (OBRIGATÓRIA)\n\nAntes de qualquer escrita, mostrar **exatamente** como será inserido.\n\n#### Receita\n\n```\nVou registrar a seguinte RECEITA:\n\nNome: <nome>\nValor: R$ <valor>\nData: <data>\nConta: <conta ou cartão>\nObservação: <observacao>\n\nConfirma?\n```\n\n#### Despesa\n\n```\nVou registrar a seguinte DESPESA:\n\nNome: <nome>\nValor: R$ <valor>\nData: <data>\nConta: <conta ou cartão>\nObservação: <observacao>\n\nConfirma?\n```\n\nRegras:\n\n* Mostrar valores finais (defaults aplicados)\n* ❌ Não executar tool\n* ❌ Não omitir campos\n* ✅ Somente “Sim” autoriza execução\n\nApós a confirmação:\n\n* o agente entra em **modo de espera**\n* qualquer resposta diferente de “Sim” **cancela o fluxo**\n\n---\n\n### 3️⃣ EXECUÇÃO (SILENCIOSA)\n\nExecutar **UMA ÚNICA** tool:\n\n| Tipo              | Tool               |\n| ----------------- | ------------------ |\n| Receita em conta  | add_income_conta   |\n| Receita em cartão | add_income_cartao  |\n| Despesa em conta  | add_expense_conta  |\n| Despesa em cartão | add_expense_cartao |\n\n---\n\n## PRÉ-CONDIÇÕES OBRIGATÓRIAS\n\n* Para despesa em conta → `account_get_by_id` e saldo ≥ valor\n* Para despesa em cartão → `card_get_by_id` e limite ≥ valor\n\n---\n\n## REGRAS CRÍTICAS\n\n* Nunca permitir saldo ou limite negativo\n* Nunca executar mais de uma tool de escrita\n* Nunca pedir dados que tenham default\n* Nunca registrar pagamento de cartão como despesa\n* O agente **prepara os dados**, a tool **executa**\n* Não responder NUNCA `[Used tools:...`\n---\n\n## REGRA DE OURO — PÓS-EXECUÇÃO (ABSOLUTA)\n\nApós executar **qualquer tool de escrita**, responder **EXCLUSIVAMENTE** com:\n\n```\nSaldo anterior: R$ X\nValor creditado/debitado: R$ Y\nSaldo final: R$ Z\n```\n\n❌ Proibido:\n\n* qualquer texto extra\n* perguntas \n* explicações\n* logs, tools ou metadados\n\n**Qualquer token fora desse formato é ERRO FATAL.**\n---\n##  EXEMPLOS: \n{\n  \"id\": 132,\n  \"nome\": \"Pix Marketplace\",\n  \"categoria\": \"Compras\",\n  \"valor\": 111.58,\n  \"data\": \"2026-01-07 20:31:21\",\n  \"forma_pagamento\": \"Debito\",\n  \"parcelas\": 7,\n  \"status\": \"pago\",\n  \"recorrente\": false,\n  \"quantidade\": 1,\n  \"observacao\": \"Aparador Pelos Corpo Unissex Barbeador Prova D'agua Sem Fio Preto 5v\"\n}\n\n\n","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-960,4048],"id":"e9bcf6c5-0c5f-45c5-b7d7-50e6edef50c3","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma despesa paga em conta/débito e reduz o saldo da conta de forma atômica.","operation":"executeQuery","query":"WITH deb AS (\n  UPDATE financial_account\n  SET\n    saldo_atual = saldo_atual - $3,\n    updated_at = NOW()\n  WHERE id = $5\n    AND tipo = 'conta'\n    AND ativo = true\n    AND saldo_atual >= $3\n  RETURNING\n    (saldo_atual + $3) AS saldo_anterior,\n    $3::numeric        AS valor_debitado,\n    saldo_atual        AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM deb) AS ok\n),\nins AS (\n  INSERT INTO expense (\n    nome,\n    categoria,\n    valor,\n    data,\n    forma_pagamento,\n    account_id,\n    status,\n    recorrente,\n    parcelas,\n    observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), $6, $5, $7, $8, $9, $10\n  FROM deb\n  RETURNING id\n)\nSELECT\n  saldo_anterior,\n  valor_debitado,\n  saldo_final\nFROM deb;","options":{"queryReplacement":"={{\n  $fromAI('nome', 'Nome da despesa', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da despesa', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da despesa', 'number')\n}}, {{\n  $fromAI('data', 'Data da despesa', 'string')\n}}, {{\n  $fromAI('account_id', 'ID da conta', 'number')\n}}, {{\n  $fromAI('forma_pagamento', 'Forma de pagamento', 'string')\n}}, {{\n  $fromAI('status', 'Status da despesa', 'string')\n}}, {{\n  $fromAI('recorrente', 'Despesa recorrente', 'boolean')\n}}, {{\n  $fromAI('parcelas', 'Quantidade de parcelas', 'number')\n}}, {{\n  $fromAI('observacao', 'Observação da despesa', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1184,4992],"id":"2ecb6a85-2289-462b-a3cd-d78f4011bcc8","name":"add_expense_conta","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma receita que representa pagamento/antecipação e libera limite do cartão (sem ultrapassar o limite total).","operation":"executeQuery","query":"WITH ins AS (\n  INSERT INTO income (\n    nome, categoria, valor, data, account_id, recorrente, observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), $5, $6, $7\n  WHERE EXISTS (\n    SELECT 1\n    FROM financial_account\n    WHERE id = $5\n      AND tipo = 'conta'\n      AND ativo = true\n  )\n  RETURNING valor, account_id\n),\nupd AS (\n  UPDATE financial_account fa\n  SET\n    saldo_atual = fa.saldo_atual + ins.valor,\n    updated_at = NOW()\n  FROM ins\n  WHERE fa.id = ins.account_id\n  RETURNING\n    (fa.saldo_atual - ins.valor) AS saldo_anterior,\n    ins.valor                    AS valor_creditado,\n    fa.saldo_atual               AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM upd) AS ok\n)\nSELECT\n  saldo_anterior,\n  valor_creditado,\n  saldo_final\nFROM upd;","options":{"queryReplacement":"=[\n  {{ $fromAI('nome', 'Nome da receita', 'string') }},\n  {{ $fromAI('categoria', 'Categoria da receita', 'string') }},\n  {{ $fromAI('valor', 'Valor da receita', 'number') }},\n  {{ $fromAI('data', 'Data da receita', 'string') }},\n  {{ $fromAI('account_id', 'ID da conta', 'number') }},\n  {{ $fromAI('recorrente', 'Receita recorrente', 'boolean') }},\n  {{ $fromAI('observacao', 'Observação da receita', 'string') }}\n]\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-544,4992],"id":"eb7311e5-e24a-47cb-b3a0-555a86dafe3a","name":"add_income_conta","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma despesa no cartão e consome limite disponível de forma atômica.","operation":"executeQuery","query":"WITH lim AS (\n  UPDATE financial_account\n  SET\n    limite_disponivel = limite_disponivel - $3,\n    updated_at = NOW()\n  WHERE id = $5\n    AND tipo = 'cartao'\n    AND ativo = true\n    AND limite_disponivel >= $3\n  RETURNING\n    (limite_disponivel + $3) AS saldo_anterior,\n    $3::numeric              AS valor_debitado,\n    limite_disponivel        AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM lim) AS ok\n),\nins AS (\n  INSERT INTO expense (\n    nome,\n    categoria,\n    valor,\n    data,\n    forma_pagamento,\n    account_id,\n    status,\n    recorrente,\n    parcelas,\n    observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), 'cartao', $5, $6, $7, $8, $9\n  FROM lim\n  RETURNING id\n)\nSELECT\n  saldo_anterior,\n  valor_debitado,\n  saldo_final\nFROM lim;","options":{"queryReplacement":"={{\n  $fromAI('nome', 'Nome da despesa', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da despesa', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da despesa', 'number')\n}}, {{\n  $fromAI('data', 'Data da despesa', 'string')\n}}, {{\n  $fromAI('account_id', 'ID do cartão', 'number')\n}}, {{\n  $fromAI('status', 'Status da despesa', 'string')\n}}, {{\n  $fromAI('recorrente', 'Despesa recorrente', 'boolean')\n}}, {{\n  $fromAI('parcelas', 'Quantidade de parcelas', 'number')\n}}, {{\n  $fromAI('observacao', 'Observação da despesa', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,4992],"id":"ec963dbe-249d-44ea-af64-2560666f0c78","name":"add_expense_cartao","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma receita que representa pagamento/antecipação e libera limite do cartão (sem ultrapassar o limite total).","operation":"executeQuery","query":"WITH card AS (\n  SELECT\n    id,\n    limite_disponivel AS limite_anterior,\n    limite_total\n  FROM financial_account\n  WHERE id = $5\n    AND tipo = 'cartao'\n    AND ativo = true\n  FOR UPDATE\n),\nupd AS (\n  UPDATE financial_account fa\n  SET\n    limite_disponivel = LEAST(card.limite_anterior + $3, card.limite_total),\n    updated_at = NOW()\n  FROM card\n  WHERE fa.id = card.id\n  RETURNING\n    card.limite_anterior                          AS saldo_anterior,\n    (fa.limite_disponivel - card.limite_anterior) AS valor_creditado,\n    fa.limite_disponivel                          AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM upd) AS ok\n),\nins AS (\n  INSERT INTO income (\n    nome,\n    categoria,\n    valor,\n    data,\n    account_id,\n    recorrente,\n    observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), $5, $6, $7\n  FROM upd\n  RETURNING id\n)\nSELECT\n  saldo_anterior,\n  valor_creditado,\n  saldo_final\nFROM upd;","options":{"queryReplacement":"={{\n  $fromAI('nome', 'Nome da receita', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da receita', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da receita', 'number')\n}}, {{\n  $fromAI('data', 'Data da receita', 'string')\n}}, {{\n  $fromAI('account_id', 'ID do cartão', 'number')\n}}, {{\n  $fromAI('recorrente', 'Receita recorrente', 'boolean')\n}}, {{\n  $fromAI('observacao', 'Observação da receita', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-720,4992],"id":"2b483e4f-e782-49dd-80d5-4ff6967e5cac","name":"add_income_cartao","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém informações completas de uma conta corrente ativa pelo ID.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  saldo_atual,\n  created_at,\n  updated_at\nFROM financial_account\nWHERE id = $1\n  AND tipo = 'conta'\n  AND ativo = true;\n","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[0,5168],"id":"cc47797c-c34c-44f0-bcfb-5f5c8ecffa1c","name":"account_get_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém informações completas de um cartão ativo, incluindo limite utilizado.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  limite_total,\n  limite_disponivel,\n  (limite_total - limite_disponivel) AS limite_utilizado,\n  created_at,\n  updated_at\nFROM financial_account\nWHERE id = $1\n  AND tipo = 'cartao'\n  AND ativo = true;\n","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID do cartão', 'number') }}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[0,5328],"id":"544be869-6e5d-4732-8c1d-c5e3aa31513b","name":"card_get_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as contas correntes ativas com saldo atual.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  saldo_atual\nFROM financial_account\nWHERE tipo = 'conta'\n  AND ativo = true\nORDER BY nome;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[160,5008],"id":"31dfa281-9d70-442d-9328-3e3a26a8ec03","name":"account_get_all","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todos os cartões ativos com limites disponíveis e utilizados.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  limite_total,\n  limite_disponivel,\n  (limite_total - limite_disponivel) AS limite_utilizado\nFROM financial_account\nWHERE tipo = 'cartao'\n  AND ativo = true\nORDER BY nome;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[176,5168],"id":"d48e581b-aed1-44c1-a5e9-6f5437dd38fe","name":"card_get_all","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém a data e hora atual do sistema. Este node deve ser usado sempre que for necessário registrar timestamps de criação ou atualização de registros, garantindo consistência temporal em todas as operações.","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[640,5136],"id":"664414ee-af55-4ea5-ad3a-d57207b630cb","name":"get_current_date"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2896,3856],"id":"38254071-f868-4951-b926-6d46fb8cb227","name":"No Operation, do nothing"},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de despesas. Pode retornar todas as despesas.","operation":"executeQuery","query":"SELECT * FROM expense","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1184,5152],"id":"a1450fee-f2d3-4432-a112-b16a40a6ba65","name":"get_expense","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de despesas. Pode retornar todas as receitas.","operation":"executeQuery","query":"SELECT * FROM income","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-544,5152],"id":"6d2a808f-1876-4539-ade7-df9a06211f3b","name":"get_income","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de despesas. Pode retornar apenas uma despesa específica pelo id.","operation":"executeQuery","query":"SELECT * FROM expense WHERE id=$1\n","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da despesa', 'number')\n}}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,5152],"id":"4cb9bb17-c261-4ee4-a3f9-e60fa9a0d669","name":"get_expense_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de receitas. Pode retornar apenas uma  receita específica pelo id.","operation":"executeQuery","query":"SELECT * FROM income WHERE id=$1","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da receita', 'number')\n}}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-720,5152],"id":"4ab37c4a-16da-4a3c-97c9-680af19a3640","name":"get_income_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Atualiza os campos de uma receita específica pelo id. Todos os campos são opcionais, exceto o id.","operation":"executeQuery","query":"UPDATE income\nSET\n  nome = COALESCE($2, nome),\n  categoria = COALESCE($3, categoria),\n  valor = GREATEST(COALESCE($4, valor), 0),\n  data = COALESCE($5, data),\n  account_id = COALESCE($6, account_id),\n  recorrente = COALESCE($7, recorrente),\n  observacao = COALESCE($8, observacao),\n  updated_at = NOW()\nWHERE id = $1\nRETURNING *;\n","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da receita', 'number')\n}}, {{\n  $fromAI('nome', 'Nome da receita', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da receita', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da receita', 'number')\n}}, {{\n  $fromAI('data', 'Data da receita', 'string')\n}}, {{\n  $fromAI('account_id', 'ID da conta', 'number')\n}}, {{\n  $fromAI('recorrente', 'Receita recorrente', 'boolean')\n}}, {{\n  $fromAI('observacao', 'Observação da receita', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-384,5312],"id":"2b230afe-8ae5-418f-ad45-51f67372d347","name":"update_income_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Atualiza os campos de uma despesa específica pelo id. Todos os campos são opcionais, exceto o id.","operation":"executeQuery","query":"UPDATE expense\nSET\n  nome = COALESCE($2, nome),\n  categoria = COALESCE($3, categoria),\n  valor = GREATEST(COALESCE($4, valor), 0),\n  data = COALESCE($5, data),\n  forma_pagamento = COALESCE($6, forma_pagamento),\n  account_id = COALESCE($7, account_id),\n  status = COALESCE($8, status),\n  recorrente = COALESCE($9, recorrente),\n  parcelas = COALESCE($10, parcelas),\n  observacao = COALESCE($11, observacao),\n  updated_at = NOW()\nWHERE id = $1\nRETURNING *;\n","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da despesa', 'number')\n}}, {{\n  $fromAI('nome', 'Nome da despesa', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da despesa', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da despesa', 'number')\n}}, {{\n  $fromAI('data', 'Data da despesa', 'string')\n}}, {{\n  $fromAI('forma_pagamento', 'Forma de pagamento', 'string')\n}}, {{\n  $fromAI('account_id', 'ID da conta', 'number')\n}}, {{\n  $fromAI('status', 'Status da despesa', 'string')\n}}, {{\n  $fromAI('recorrente', 'Despesa recorrente', 'boolean')\n}}, {{\n  $fromAI('parcelas', 'Quantidade de parcelas', 'number')\n}}, {{\n  $fromAI('observacao', 'Observação da despesa', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1008,4992],"id":"55adf828-e750-4194-8b30-d86a884d910e","name":"update_expense_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera receitas dentro de um intervalo de datas. Ideal para métricas de receita por dia, semana, mês ou período personalizado.","operation":"executeQuery","query":"SELECT *\nFROM income\nWHERE data BETWEEN $1 AND $2\nORDER BY data ASC;\n","options":{"queryReplacement":"={{\n  $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string')\n}}, {{\n  $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-368,4992],"id":"88bba07d-9000-4000-b4eb-e38fa3751232","name":"get_income_by_date","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera despesas dentro de um intervalo de datas. Permite calcular total gasto por dia, semana, mês ou outro período.","operation":"executeQuery","query":"SELECT *\nFROM expense\nWHERE data BETWEEN $1 AND $2\nORDER BY data ASC;\n","options":{"queryReplacement":"={{\n  $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string')\n}}, {{\n  $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1008,5152],"id":"fd4ebd59-6fc0-4232-9beb-7e1e2207da54","name":"get_expense_by_date","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Deleta registro de DESPESA. Pode deletar apenas uma RECEITA específica pelo id.","operation":"executeQuery","query":"DELETE FROM expense WHERE id=$1\n","options":{"queryReplacement":"={{ $fromAI('id', 'ID da despesa', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1184,5328],"id":"923b5272-7176-44ac-a1f1-8e0639e92b19","name":"delete_expense_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Deleta registro de RECEITA. Pode deletar apenas uma RECEITA específica pelo id.","operation":"executeQuery","query":"DELETE FROM income WHERE id=$1","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da receita', 'number')\n}}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-384,5136],"id":"4426a2e6-9c90-4b9b-b2a3-d4728765e0c9","name":"delete_income_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna o saldo total de todas as contas e limite total + disponível de todos os cartões ativos.","operation":"executeQuery","query":"SELECT\n  (SELECT SUM(saldo_atual) FROM financial_account WHERE tipo='conta' AND ativo=true) AS total_contas,\n  (SELECT SUM(limite_total) FROM financial_account WHERE tipo='cartao' AND ativo=true) AS limite_total_cartoes,\n  (SELECT SUM(limite_disponivel) FROM financial_account WHERE tipo='cartao' AND ativo=true) AS limite_disponivel_cartoes;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1968,4992],"id":"9817d0b0-9ac3-49d8-b93d-52c92949e83d","name":"get_balance_summary","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Calcula total de despesas agrupadas por categoria em um período de datas.","operation":"executeQuery","query":"SELECT categoria, SUM(valor) AS total_gasto\nFROM expense\nWHERE data BETWEEN $1 AND $2\nGROUP BY categoria\nORDER BY total_gasto DESC;\n","options":{"queryReplacement":"={{   $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string') }}, {{   $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1008,5328],"id":"513430f9-bf5e-487c-8889-69bbb72cf300","name":"get_expense_summary_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Calcula total de receitas agrupadas por categoria em um período de datas.","operation":"executeQuery","query":"SELECT categoria, SUM(valor) AS total_receita\nFROM income\nWHERE data BETWEEN $1 AND $2\nGROUP BY categoria\nORDER BY total_receita DESC;\n","options":{"queryReplacement":"={{   $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string') }}, {{   $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-544,5312],"id":"12c02969-919e-4f3c-b755-1f4cadf8d0d3","name":"get_income_summary_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Move dinheiro entre contas correntes de forma atômica (debita e credita).","operation":"executeQuery","query":"WITH\nsrc AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $1 AND tipo = 'conta' AND ativo = true\n  FOR UPDATE\n),\ndst AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $2 AND tipo = 'conta' AND ativo = true\n  FOR UPDATE\n),\ndeb AS (\n  UPDATE financial_account fa\n  SET saldo_atual = fa.saldo_atual - $3, updated_at = NOW()\n  WHERE fa.id = (SELECT id FROM src)\n    AND fa.saldo_atual >= $3\n    AND EXISTS (SELECT 1 FROM dst)\n  RETURNING $3::numeric AS amount\n),\ncred AS (\n  UPDATE financial_account fa\n  SET saldo_atual = fa.saldo_atual + deb.amount, updated_at = NOW()\n  FROM deb\n  WHERE fa.id = (SELECT id FROM dst)\n  RETURNING 1\n)\nSELECT\n  (SELECT COUNT(*) FROM deb)  AS debited_accounts,\n  (SELECT COUNT(*) FROM cred) AS credited_accounts;","options":{"queryReplacement":"={{ $fromAI('from_account_id', 'ID da conta de origem', 'number') }},\n  {{ $fromAI('to_account_id', 'ID da conta de destino', 'number') }},\n  {{ $fromAI('amount', 'Valor a transferir', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[176,5328],"id":"d712c8a2-2515-4fb7-a716-371634baa2dd","name":"transfer_between_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Debita uma conta para pagar o cartão, liberando limite disponível sem ultrapassar limite total.","operation":"executeQuery","query":"WITH\nacc AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $1 AND tipo = 'conta' AND ativo = true\n  FOR UPDATE\n),\ncard AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $2 AND tipo = 'cartao' AND ativo = true\n  FOR UPDATE\n),\ndeb AS (\n  UPDATE financial_account fa\n  SET saldo_atual = fa.saldo_atual - $3, updated_at = NOW()\n  WHERE fa.id = (SELECT id FROM acc)\n    AND fa.saldo_atual >= $3\n    AND EXISTS (SELECT 1 FROM card)\n  RETURNING $3::numeric AS amount\n),\nrel AS (\n  UPDATE financial_account fa\n  SET\n    limite_disponivel = LEAST(fa.limite_disponivel + deb.amount, fa.limite_total),\n    updated_at = NOW()\n  FROM deb\n  WHERE fa.id = (SELECT id FROM card)\n  RETURNING fa.limite_disponivel\n)\nSELECT\n  (SELECT COUNT(*) FROM deb) AS debited_accounts,\n  (SELECT COUNT(*) FROM rel) AS updated_cards,\n  (SELECT limite_disponivel FROM rel) AS new_limite_disponivel;","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }},\n  {{ $fromAI('card_id', 'ID do cartão', 'number') }},\n  {{ $fromAI('amount', 'Valor a pagar', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[0,5008],"id":"ebda5bda-3379-480d-9d30-5cfdf0f6a431","name":"pay_card_from_account","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16,3936],"id":"b6a19e63-5f46-4fcc-bf83-b879ef63f387","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"add_income_conta":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"add_expense_conta":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"add_income_cartao":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"add_expense_cartao":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"card_get_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"account_get_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"card_get_all":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"account_get_all":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_current_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"update_expense_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"update_income_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense_by_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income_by_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"delete_expense_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"delete_income_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income_summary_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense_summary_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_balance_summary":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"transfer_between_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"pay_card_from_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11c51ccd-c0b4-484e-bb3a-cccf7f31f5a6","activeVersionId":"11c51ccd-c0b4-484e-bb3a-cccf7f31f5a6","triggerCount":1,"shared":[{"updatedAt":"2025-12-28T16:27:41.757Z","createdAt":"2025-12-28T16:27:41.757Z","role":"workflow:owner","workflowId":"GscaFis0DeavfpNB","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-11T21:05:09.019Z","createdAt":"2026-01-11T21:03:16.769Z","versionId":"11c51ccd-c0b4-484e-bb3a-cccf7f31f5a6","workflowId":"GscaFis0DeavfpNB","nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1472,3856],"id":"d061bc91-2ece-4467-832b-80387d93eba6","name":"Limit"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[800,5136],"id":"94827070-07af-4a51-b31b-4ac0733ad498","name":"calculadora"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2208,4208],"id":"af81f886-9797-49bd-ba8f-470145b69a61","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-352,4032],"id":"80f80dd4-b0a2-4f45-b3d6-992487f21837","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,4048],"id":"1eb7cffb-7ea1-4023-8202-0c293511b6d5","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1952,4048],"id":"552f118c-a718-4d18-ab56-8e02cef2be5f","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2208,4048],"id":"c9a8cb53-8e1e-4108-b31a-b16cb4fd3369","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2416,4048],"id":"a5cc70db-6736-4e95-befe-eb3d0d50b666","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,3856],"id":"2043d62d-7db6-4d24-b0e1-f9a251f8e630","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,3664],"id":"4964fd03-536d-47b2-af7d-b5c16f0c071a","name":"Edit Fields1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1312,4192],"id":"20336748-7b4a-4484-a117-c06247ecc051","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3312,3984],"id":"7510bcf0-e93e-4bff-9299-8aa9bcee2355","name":"Edit Fields"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[48,4176],"id":"683dc293-b4f2-4551-a907-73a2c06626ed","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-160,4192],"id":"46327181-f154-4867-8149-824d1e493413","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[320,4176],"id":"a1917a71-726d-4dd9-8fdb-2b30f9de3f7c","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1952,3856],"id":"9df3c218-18b5-4827-8cca-26b70a831946","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2416,3856],"id":"1d79f4be-391c-4034-8f4d-7a141d0a5ea7","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2208,3856],"id":"5e27b0fb-d414-483a-849c-0a8f3b481eab","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1200,4400],"id":"e8559c7d-a7bc-4079-9edb-3fc8b7dab59c","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1760,4304],"id":"69e8bdc5-f487-45da-9207-277324d6d1f9","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1968,4640],"id":"37aaa1c0-3611-4885-a78c-4ef08c583905","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2208,3680],"id":"23877de0-eac2-47bc-ad16-e076240ceef7","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2416,3680],"id":"c8aa746b-936d-4a70-8cdd-5189fa4cd48a","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1952,3680],"id":"c8c578ee-b33f-4ca2-ad8a-4c076fa7b6f8","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-2880,4112],"id":"cfb4c3cc-6cc8-4d48-8c07-17db3fc51db2","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1152,4208],"id":"02a03257-8d60-4085-ac07-cd2bdd87a802","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3120,3984],"id":"5865d2ac-f186-4f63-97b8-2011b95c7099","name":"If"},{"parameters":{"httpMethod":"POST","path":"v1/kairo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3520,3984],"id":"56797343-e1e5-4421-b9bf-3a92c78d9872","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\nID da sessão: {{ $('Edit Fields').item.json.sessionKey }}\n","options":{"systemMessage":"=Você é o **Agente Orquestrador Financeiro**.\nVocê conversa com o usuário **somente até a confirmação** e **orquestra a execução das tools financeiras**.\n\nVocê **NUNCA**:\n\n* executa SQL manualmente\n* calcula valores mentalmente\n* altera saldo ou limite sem tool\n* expõe queries, parâmetros, logs ou tools usadas\n* responde texto livre após executar tool de escrita\n* usa mensagens antigas como base de decisão\n* faz perguntas desnecessárias\n\n---\n\n## REGRA DE CONTEXTO (CRÍTICA)\n\n* Use a última mensagem do usuário para detectar intenção e confirmação/cancelamento.\n* Se a última mensagem for “Sim/Confirmo…”, execute exatamente o que você descreveu na sua última mensagem de confirmação imediatamente anterior (“Vou registrar…”).\n* Se não existir confirmação anterior, peça para reenviar os detalhes.\n---\n\n## FONTE DE VERDADE\n\n* Toda escrita financeira **DEVE** usar tools\n* Contas e cartões **existem apenas por ID**\n* O agente **garante todos os dados obrigatórios antes da execução**\n\n---\n\n## TOOLS DISPONÍVEIS\n\n### Escrita (atômicas)\n\n* add_income_conta\n* add_income_cartao\n* add_expense_conta\n* add_expense_cartao\n* pay_card_from_account\n* transfer_between_account\n\n### Leitura\n\n* account_get_by_id\n* account_get_all\n* card_get_by_id\n* card_get_all\n* get_income\n* get_income_by_id\n* get_income_by_date\n* get_income_summary_by_category\n* get_expense\n* get_expense_by_id\n* get_expense_by_date\n* get_expense_summary_by_category\n* get_balance_summary\n* get_current_date\n\n### Atualização\n\n* update_income_by_id\n* update_expense_by_id\n\n## Exclusão\n\n* delete_income_by_id\n* delete_expense_by_id\n\n## Utilidade\n\n* calculadora\n\n---\n\n## IDENTIFICAÇÃO DE CONTA / CARTÃO\n\n1. Se o usuário informar **ID**, use diretamente\n2. Se informar **nome**:\n\n   * consultar `account_get_all` ou `card_get_all`\n   * resolver **um único ID válido**\n3. Nunca inventar IDs\n4. Nunca executar escrita sem ID válido\n\n---\n\n## REGRA DE CÁLCULO\n\n* ❌ Proibido calcular, inferir ou estimar valores\n* ✅ Saldos e limites **DEVEM** vir de tools de leitura\n\n---\n\n## CLASSIFICAÇÃO AUTOMÁTICA\n\n### Receita\n\n* salário, vendas, reembolso, transferência recebida\n* pagamento / antecipação de cartão → **receita em cartão**\n\n### Despesa\n\n* dinheiro ou débito → **despesa em conta**\n* crédito → **despesa em cartão**\n\n---\n\n## CAMPOS OBRIGATÓRIOS (SEMPRE PREENCHER)\nGeral\n\n- data: data e hora atual (use **SEMPRE** get_current_date)\n- recorrente: false\n- observacao: gerar automaticamente pelo contexto\n\n### Receita\n\n- nome: um nome identificável (Ex.: Netflix, Mercado, IPVA, Abastecimento)\n- categoria: Se não informado, classificar automaticamente. (Salário, Freelance/Serviços, Investimentos, Reembolsos, Vendas, Outros)\n\n### Despesa\n\n- nome: um nome útil (Ex.: Netflix, Mercado, IPVA, Abastecimento, Pagamento Boleto)\n- categoria: Se não informado, classificar automaticamente. (Moradia, Alimentação, Transporte, Saúde, Educação, Lazer, Assinaturas, Compras, Impostos/Taxas, Outros)\n- forma_pagamento: Se não informado, escolher \"Débito\" automaticamente.\n- parcelas: 1\n- status: pago\n\n⚠️ Todos os campos obrigatórios da ferramenta DEVEM ser preenchidos.\n\n---\n\n## FLUXO OBRIGATÓRIO\n\n### 1️⃣ Entender intenção\n\nIdentificar:\n\n* receita ou despesa\n* conta ou cartão\n* impacto (saldo ou limite)\n\n---\n\n### 2️⃣ CONFIRMAÇÃO DETALHADA (OBRIGATÓRIA)\n\nAntes de qualquer escrita, mostrar **exatamente** como será inserido.\n\n#### Receita\n\n```\nVou registrar a seguinte RECEITA:\n\nNome: <nome>\nValor: R$ <valor>\nData: <data>\nConta: <conta ou cartão>\nObservação: <observacao>\n\nConfirma?\n```\n\n#### Despesa\n\n```\nVou registrar a seguinte DESPESA:\n\nNome: <nome>\nValor: R$ <valor>\nData: <data>\nConta: <conta ou cartão>\nObservação: <observacao>\n\nConfirma?\n```\n\nRegras:\n\n* Mostrar valores finais (defaults aplicados)\n* ❌ Não executar tool\n* ❌ Não omitir campos\n* ✅ Somente “Sim” autoriza execução\n\nApós a confirmação:\n\n* o agente entra em **modo de espera**\n* qualquer resposta diferente de “Sim” **cancela o fluxo**\n\n---\n\n### 3️⃣ EXECUÇÃO (SILENCIOSA)\n\nExecutar **UMA ÚNICA** tool:\n\n| Tipo              | Tool               |\n| ----------------- | ------------------ |\n| Receita em conta  | add_income_conta   |\n| Receita em cartão | add_income_cartao  |\n| Despesa em conta  | add_expense_conta  |\n| Despesa em cartão | add_expense_cartao |\n\n---\n\n## PRÉ-CONDIÇÕES OBRIGATÓRIAS\n\n* Para despesa em conta → `account_get_by_id` e saldo ≥ valor\n* Para despesa em cartão → `card_get_by_id` e limite ≥ valor\n\n---\n\n## REGRAS CRÍTICAS\n\n* Nunca permitir saldo ou limite negativo\n* Nunca executar mais de uma tool de escrita\n* Nunca pedir dados que tenham default\n* Nunca registrar pagamento de cartão como despesa\n* O agente **prepara os dados**, a tool **executa**\n* Não responder NUNCA `[Used tools:...`\n---\n\n## REGRA DE OURO — PÓS-EXECUÇÃO (ABSOLUTA)\n\nApós executar **qualquer tool de escrita**, responder **EXCLUSIVAMENTE** com:\n\n```\nSaldo anterior: R$ X\nValor creditado/debitado: R$ Y\nSaldo final: R$ Z\n```\n\n❌ Proibido:\n\n* qualquer texto extra\n* perguntas \n* explicações\n* logs, tools ou metadados\n\n**Qualquer token fora desse formato é ERRO FATAL.**\n---\n##  EXEMPLOS: \n{\n  \"id\": 132,\n  \"nome\": \"Pix Marketplace\",\n  \"categoria\": \"Compras\",\n  \"valor\": 111.58,\n  \"data\": \"2026-01-07 20:31:21\",\n  \"forma_pagamento\": \"Debito\",\n  \"parcelas\": 7,\n  \"status\": \"pago\",\n  \"recorrente\": false,\n  \"quantidade\": 1,\n  \"observacao\": \"Aparador Pelos Corpo Unissex Barbeador Prova D'agua Sem Fio Preto 5v\"\n}\n\n\n","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-960,4048],"id":"e9bcf6c5-0c5f-45c5-b7d7-50e6edef50c3","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma despesa paga em conta/débito e reduz o saldo da conta de forma atômica.","operation":"executeQuery","query":"WITH deb AS (\n  UPDATE financial_account\n  SET\n    saldo_atual = saldo_atual - $3,\n    updated_at = NOW()\n  WHERE id = $5\n    AND tipo = 'conta'\n    AND ativo = true\n    AND saldo_atual >= $3\n  RETURNING\n    (saldo_atual + $3) AS saldo_anterior,\n    $3::numeric        AS valor_debitado,\n    saldo_atual        AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM deb) AS ok\n),\nins AS (\n  INSERT INTO expense (\n    nome,\n    categoria,\n    valor,\n    data,\n    forma_pagamento,\n    account_id,\n    status,\n    recorrente,\n    parcelas,\n    observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), $6, $5, $7, $8, $9, $10\n  FROM deb\n  RETURNING id\n)\nSELECT\n  saldo_anterior,\n  valor_debitado,\n  saldo_final\nFROM deb;","options":{"queryReplacement":"={{\n  $fromAI('nome', 'Nome da despesa', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da despesa', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da despesa', 'number')\n}}, {{\n  $fromAI('data', 'Data da despesa', 'string')\n}}, {{\n  $fromAI('account_id', 'ID da conta', 'number')\n}}, {{\n  $fromAI('forma_pagamento', 'Forma de pagamento', 'string')\n}}, {{\n  $fromAI('status', 'Status da despesa', 'string')\n}}, {{\n  $fromAI('recorrente', 'Despesa recorrente', 'boolean')\n}}, {{\n  $fromAI('parcelas', 'Quantidade de parcelas', 'number')\n}}, {{\n  $fromAI('observacao', 'Observação da despesa', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1184,4992],"id":"2ecb6a85-2289-462b-a3cd-d78f4011bcc8","name":"add_expense_conta","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma receita que representa pagamento/antecipação e libera limite do cartão (sem ultrapassar o limite total).","operation":"executeQuery","query":"WITH ins AS (\n  INSERT INTO income (\n    nome, categoria, valor, data, account_id, recorrente, observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), $5, $6, $7\n  WHERE EXISTS (\n    SELECT 1\n    FROM financial_account\n    WHERE id = $5\n      AND tipo = 'conta'\n      AND ativo = true\n  )\n  RETURNING valor, account_id\n),\nupd AS (\n  UPDATE financial_account fa\n  SET\n    saldo_atual = fa.saldo_atual + ins.valor,\n    updated_at = NOW()\n  FROM ins\n  WHERE fa.id = ins.account_id\n  RETURNING\n    (fa.saldo_atual - ins.valor) AS saldo_anterior,\n    ins.valor                    AS valor_creditado,\n    fa.saldo_atual               AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM upd) AS ok\n)\nSELECT\n  saldo_anterior,\n  valor_creditado,\n  saldo_final\nFROM upd;","options":{"queryReplacement":"=[\n  {{ $fromAI('nome', 'Nome da receita', 'string') }},\n  {{ $fromAI('categoria', 'Categoria da receita', 'string') }},\n  {{ $fromAI('valor', 'Valor da receita', 'number') }},\n  {{ $fromAI('data', 'Data da receita', 'string') }},\n  {{ $fromAI('account_id', 'ID da conta', 'number') }},\n  {{ $fromAI('recorrente', 'Receita recorrente', 'boolean') }},\n  {{ $fromAI('observacao', 'Observação da receita', 'string') }}\n]\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-544,4992],"id":"eb7311e5-e24a-47cb-b3a0-555a86dafe3a","name":"add_income_conta","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma despesa no cartão e consome limite disponível de forma atômica.","operation":"executeQuery","query":"WITH lim AS (\n  UPDATE financial_account\n  SET\n    limite_disponivel = limite_disponivel - $3,\n    updated_at = NOW()\n  WHERE id = $5\n    AND tipo = 'cartao'\n    AND ativo = true\n    AND limite_disponivel >= $3\n  RETURNING\n    (limite_disponivel + $3) AS saldo_anterior,\n    $3::numeric              AS valor_debitado,\n    limite_disponivel        AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM lim) AS ok\n),\nins AS (\n  INSERT INTO expense (\n    nome,\n    categoria,\n    valor,\n    data,\n    forma_pagamento,\n    account_id,\n    status,\n    recorrente,\n    parcelas,\n    observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), 'cartao', $5, $6, $7, $8, $9\n  FROM lim\n  RETURNING id\n)\nSELECT\n  saldo_anterior,\n  valor_debitado,\n  saldo_final\nFROM lim;","options":{"queryReplacement":"={{\n  $fromAI('nome', 'Nome da despesa', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da despesa', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da despesa', 'number')\n}}, {{\n  $fromAI('data', 'Data da despesa', 'string')\n}}, {{\n  $fromAI('account_id', 'ID do cartão', 'number')\n}}, {{\n  $fromAI('status', 'Status da despesa', 'string')\n}}, {{\n  $fromAI('recorrente', 'Despesa recorrente', 'boolean')\n}}, {{\n  $fromAI('parcelas', 'Quantidade de parcelas', 'number')\n}}, {{\n  $fromAI('observacao', 'Observação da despesa', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,4992],"id":"ec963dbe-249d-44ea-af64-2560666f0c78","name":"add_expense_cartao","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Registra uma receita que representa pagamento/antecipação e libera limite do cartão (sem ultrapassar o limite total).","operation":"executeQuery","query":"WITH card AS (\n  SELECT\n    id,\n    limite_disponivel AS limite_anterior,\n    limite_total\n  FROM financial_account\n  WHERE id = $5\n    AND tipo = 'cartao'\n    AND ativo = true\n  FOR UPDATE\n),\nupd AS (\n  UPDATE financial_account fa\n  SET\n    limite_disponivel = LEAST(card.limite_anterior + $3, card.limite_total),\n    updated_at = NOW()\n  FROM card\n  WHERE fa.id = card.id\n  RETURNING\n    card.limite_anterior                          AS saldo_anterior,\n    (fa.limite_disponivel - card.limite_anterior) AS valor_creditado,\n    fa.limite_disponivel                          AS saldo_final\n),\nchk AS (\n  SELECT 1 / (SELECT COUNT(*) FROM upd) AS ok\n),\nins AS (\n  INSERT INTO income (\n    nome,\n    categoria,\n    valor,\n    data,\n    account_id,\n    recorrente,\n    observacao\n  )\n  SELECT\n    $1, $2, $3, COALESCE($4, NOW()), $5, $6, $7\n  FROM upd\n  RETURNING id\n)\nSELECT\n  saldo_anterior,\n  valor_creditado,\n  saldo_final\nFROM upd;","options":{"queryReplacement":"={{\n  $fromAI('nome', 'Nome da receita', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da receita', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da receita', 'number')\n}}, {{\n  $fromAI('data', 'Data da receita', 'string')\n}}, {{\n  $fromAI('account_id', 'ID do cartão', 'number')\n}}, {{\n  $fromAI('recorrente', 'Receita recorrente', 'boolean')\n}}, {{\n  $fromAI('observacao', 'Observação da receita', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-720,4992],"id":"2b483e4f-e782-49dd-80d5-4ff6967e5cac","name":"add_income_cartao","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém informações completas de uma conta corrente ativa pelo ID.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  saldo_atual,\n  created_at,\n  updated_at\nFROM financial_account\nWHERE id = $1\n  AND tipo = 'conta'\n  AND ativo = true;\n","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[0,5168],"id":"cc47797c-c34c-44f0-bcfb-5f5c8ecffa1c","name":"account_get_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém informações completas de um cartão ativo, incluindo limite utilizado.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  limite_total,\n  limite_disponivel,\n  (limite_total - limite_disponivel) AS limite_utilizado,\n  created_at,\n  updated_at\nFROM financial_account\nWHERE id = $1\n  AND tipo = 'cartao'\n  AND ativo = true;\n","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID do cartão', 'number') }}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[0,5328],"id":"544be869-6e5d-4732-8c1d-c5e3aa31513b","name":"card_get_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as contas correntes ativas com saldo atual.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  saldo_atual\nFROM financial_account\nWHERE tipo = 'conta'\n  AND ativo = true\nORDER BY nome;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[160,5008],"id":"31dfa281-9d70-442d-9328-3e3a26a8ec03","name":"account_get_all","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todos os cartões ativos com limites disponíveis e utilizados.","operation":"executeQuery","query":"SELECT\n  id,\n  nome,\n  tipo,\n  limite_total,\n  limite_disponivel,\n  (limite_total - limite_disponivel) AS limite_utilizado\nFROM financial_account\nWHERE tipo = 'cartao'\n  AND ativo = true\nORDER BY nome;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[176,5168],"id":"d48e581b-aed1-44c1-a5e9-6f5437dd38fe","name":"card_get_all","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém a data e hora atual do sistema. Este node deve ser usado sempre que for necessário registrar timestamps de criação ou atualização de registros, garantindo consistência temporal em todas as operações.","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[640,5136],"id":"664414ee-af55-4ea5-ad3a-d57207b630cb","name":"get_current_date"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2896,3856],"id":"38254071-f868-4951-b926-6d46fb8cb227","name":"No Operation, do nothing"},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de despesas. Pode retornar todas as despesas.","operation":"executeQuery","query":"SELECT * FROM expense","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1184,5152],"id":"a1450fee-f2d3-4432-a112-b16a40a6ba65","name":"get_expense","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de despesas. Pode retornar todas as receitas.","operation":"executeQuery","query":"SELECT * FROM income","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-544,5152],"id":"6d2a808f-1876-4539-ade7-df9a06211f3b","name":"get_income","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de despesas. Pode retornar apenas uma despesa específica pelo id.","operation":"executeQuery","query":"SELECT * FROM expense WHERE id=$1\n","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da despesa', 'number')\n}}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,5152],"id":"4cb9bb17-c261-4ee4-a3f9-e60fa9a0d669","name":"get_expense_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera registros de receitas. Pode retornar apenas uma  receita específica pelo id.","operation":"executeQuery","query":"SELECT * FROM income WHERE id=$1","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da receita', 'number')\n}}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-720,5152],"id":"4ab37c4a-16da-4a3c-97c9-680af19a3640","name":"get_income_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Atualiza os campos de uma receita específica pelo id. Todos os campos são opcionais, exceto o id.","operation":"executeQuery","query":"UPDATE income\nSET\n  nome = COALESCE($2, nome),\n  categoria = COALESCE($3, categoria),\n  valor = GREATEST(COALESCE($4, valor), 0),\n  data = COALESCE($5, data),\n  account_id = COALESCE($6, account_id),\n  recorrente = COALESCE($7, recorrente),\n  observacao = COALESCE($8, observacao),\n  updated_at = NOW()\nWHERE id = $1\nRETURNING *;\n","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da receita', 'number')\n}}, {{\n  $fromAI('nome', 'Nome da receita', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da receita', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da receita', 'number')\n}}, {{\n  $fromAI('data', 'Data da receita', 'string')\n}}, {{\n  $fromAI('account_id', 'ID da conta', 'number')\n}}, {{\n  $fromAI('recorrente', 'Receita recorrente', 'boolean')\n}}, {{\n  $fromAI('observacao', 'Observação da receita', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-384,5312],"id":"2b230afe-8ae5-418f-ad45-51f67372d347","name":"update_income_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Atualiza os campos de uma despesa específica pelo id. Todos os campos são opcionais, exceto o id.","operation":"executeQuery","query":"UPDATE expense\nSET\n  nome = COALESCE($2, nome),\n  categoria = COALESCE($3, categoria),\n  valor = GREATEST(COALESCE($4, valor), 0),\n  data = COALESCE($5, data),\n  forma_pagamento = COALESCE($6, forma_pagamento),\n  account_id = COALESCE($7, account_id),\n  status = COALESCE($8, status),\n  recorrente = COALESCE($9, recorrente),\n  parcelas = COALESCE($10, parcelas),\n  observacao = COALESCE($11, observacao),\n  updated_at = NOW()\nWHERE id = $1\nRETURNING *;\n","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da despesa', 'number')\n}}, {{\n  $fromAI('nome', 'Nome da despesa', 'string')\n}}, {{\n  $fromAI('categoria', 'Categoria da despesa', 'string')\n}}, {{\n  $fromAI('valor', 'Valor da despesa', 'number')\n}}, {{\n  $fromAI('data', 'Data da despesa', 'string')\n}}, {{\n  $fromAI('forma_pagamento', 'Forma de pagamento', 'string')\n}}, {{\n  $fromAI('account_id', 'ID da conta', 'number')\n}}, {{\n  $fromAI('status', 'Status da despesa', 'string')\n}}, {{\n  $fromAI('recorrente', 'Despesa recorrente', 'boolean')\n}}, {{\n  $fromAI('parcelas', 'Quantidade de parcelas', 'number')\n}}, {{\n  $fromAI('observacao', 'Observação da despesa', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1008,4992],"id":"55adf828-e750-4194-8b30-d86a884d910e","name":"update_expense_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera receitas dentro de um intervalo de datas. Ideal para métricas de receita por dia, semana, mês ou período personalizado.","operation":"executeQuery","query":"SELECT *\nFROM income\nWHERE data BETWEEN $1 AND $2\nORDER BY data ASC;\n","options":{"queryReplacement":"={{\n  $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string')\n}}, {{\n  $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-368,4992],"id":"88bba07d-9000-4000-b4eb-e38fa3751232","name":"get_income_by_date","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Recupera despesas dentro de um intervalo de datas. Permite calcular total gasto por dia, semana, mês ou outro período.","operation":"executeQuery","query":"SELECT *\nFROM expense\nWHERE data BETWEEN $1 AND $2\nORDER BY data ASC;\n","options":{"queryReplacement":"={{\n  $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string')\n}}, {{\n  $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string')\n}}\n"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1008,5152],"id":"fd4ebd59-6fc0-4232-9beb-7e1e2207da54","name":"get_expense_by_date","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Deleta registro de DESPESA. Pode deletar apenas uma RECEITA específica pelo id.","operation":"executeQuery","query":"DELETE FROM expense WHERE id=$1\n","options":{"queryReplacement":"={{ $fromAI('id', 'ID da despesa', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1184,5328],"id":"923b5272-7176-44ac-a1f1-8e0639e92b19","name":"delete_expense_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Deleta registro de RECEITA. Pode deletar apenas uma RECEITA específica pelo id.","operation":"executeQuery","query":"DELETE FROM income WHERE id=$1","options":{"queryReplacement":"={{\n  $fromAI('id', 'ID da receita', 'number')\n}}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-384,5136],"id":"4426a2e6-9c90-4b9b-b2a3-d4728765e0c9","name":"delete_income_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna o saldo total de todas as contas e limite total + disponível de todos os cartões ativos.","operation":"executeQuery","query":"SELECT\n  (SELECT SUM(saldo_atual) FROM financial_account WHERE tipo='conta' AND ativo=true) AS total_contas,\n  (SELECT SUM(limite_total) FROM financial_account WHERE tipo='cartao' AND ativo=true) AS limite_total_cartoes,\n  (SELECT SUM(limite_disponivel) FROM financial_account WHERE tipo='cartao' AND ativo=true) AS limite_disponivel_cartoes;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1968,4992],"id":"9817d0b0-9ac3-49d8-b93d-52c92949e83d","name":"get_balance_summary","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Calcula total de despesas agrupadas por categoria em um período de datas.","operation":"executeQuery","query":"SELECT categoria, SUM(valor) AS total_gasto\nFROM expense\nWHERE data BETWEEN $1 AND $2\nGROUP BY categoria\nORDER BY total_gasto DESC;\n","options":{"queryReplacement":"={{   $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string') }}, {{   $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1008,5328],"id":"513430f9-bf5e-487c-8889-69bbb72cf300","name":"get_expense_summary_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Calcula total de receitas agrupadas por categoria em um período de datas.","operation":"executeQuery","query":"SELECT categoria, SUM(valor) AS total_receita\nFROM income\nWHERE data BETWEEN $1 AND $2\nGROUP BY categoria\nORDER BY total_receita DESC;\n","options":{"queryReplacement":"={{   $fromAI('start_date', 'Data inicial do período (AAAA-MM-DD)', 'string') }}, {{   $fromAI('end_date', 'Data final do período (AAAA-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-544,5312],"id":"12c02969-919e-4f3c-b755-1f4cadf8d0d3","name":"get_income_summary_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Move dinheiro entre contas correntes de forma atômica (debita e credita).","operation":"executeQuery","query":"WITH\nsrc AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $1 AND tipo = 'conta' AND ativo = true\n  FOR UPDATE\n),\ndst AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $2 AND tipo = 'conta' AND ativo = true\n  FOR UPDATE\n),\ndeb AS (\n  UPDATE financial_account fa\n  SET saldo_atual = fa.saldo_atual - $3, updated_at = NOW()\n  WHERE fa.id = (SELECT id FROM src)\n    AND fa.saldo_atual >= $3\n    AND EXISTS (SELECT 1 FROM dst)\n  RETURNING $3::numeric AS amount\n),\ncred AS (\n  UPDATE financial_account fa\n  SET saldo_atual = fa.saldo_atual + deb.amount, updated_at = NOW()\n  FROM deb\n  WHERE fa.id = (SELECT id FROM dst)\n  RETURNING 1\n)\nSELECT\n  (SELECT COUNT(*) FROM deb)  AS debited_accounts,\n  (SELECT COUNT(*) FROM cred) AS credited_accounts;","options":{"queryReplacement":"={{ $fromAI('from_account_id', 'ID da conta de origem', 'number') }},\n  {{ $fromAI('to_account_id', 'ID da conta de destino', 'number') }},\n  {{ $fromAI('amount', 'Valor a transferir', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[176,5328],"id":"d712c8a2-2515-4fb7-a716-371634baa2dd","name":"transfer_between_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Debita uma conta para pagar o cartão, liberando limite disponível sem ultrapassar limite total.","operation":"executeQuery","query":"WITH\nacc AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $1 AND tipo = 'conta' AND ativo = true\n  FOR UPDATE\n),\ncard AS (\n  SELECT id\n  FROM financial_account\n  WHERE id = $2 AND tipo = 'cartao' AND ativo = true\n  FOR UPDATE\n),\ndeb AS (\n  UPDATE financial_account fa\n  SET saldo_atual = fa.saldo_atual - $3, updated_at = NOW()\n  WHERE fa.id = (SELECT id FROM acc)\n    AND fa.saldo_atual >= $3\n    AND EXISTS (SELECT 1 FROM card)\n  RETURNING $3::numeric AS amount\n),\nrel AS (\n  UPDATE financial_account fa\n  SET\n    limite_disponivel = LEAST(fa.limite_disponivel + deb.amount, fa.limite_total),\n    updated_at = NOW()\n  FROM deb\n  WHERE fa.id = (SELECT id FROM card)\n  RETURNING fa.limite_disponivel\n)\nSELECT\n  (SELECT COUNT(*) FROM deb) AS debited_accounts,\n  (SELECT COUNT(*) FROM rel) AS updated_cards,\n  (SELECT limite_disponivel FROM rel) AS new_limite_disponivel;","options":{"queryReplacement":"={{ $fromAI('account_id', 'ID da conta', 'number') }},\n  {{ $fromAI('card_id', 'ID do cartão', 'number') }},\n  {{ $fromAI('amount', 'Valor a pagar', 'number') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[0,5008],"id":"ebda5bda-3379-480d-9d30-5cfdf0f6a431","name":"pay_card_from_account","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[16,3936],"id":"b6a19e63-5f46-4fcc-bf83-b879ef63f387","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"add_income_conta":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"add_expense_conta":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"add_income_cartao":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"add_expense_cartao":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"card_get_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"account_get_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"card_get_all":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"account_get_all":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_current_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"update_expense_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"update_income_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense_by_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income_by_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"delete_expense_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"delete_income_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_income_summary_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_expense_summary_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_balance_summary":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"transfer_between_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"pay_card_from_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 11c51ccd","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}]}