n8n/Financial Specialist Agent
{"updatedAt":"2026-01-08T23:20:55.829Z","createdAt":"2025-12-28T16:27:41.757Z","id":"GscaFis0DeavfpNB","name":"Financial Specialist Agent","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2608,656],"id":"89a9cddd-35d8-4239-89be-b158a14d92a1","name":"Limit"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[432,2144],"id":"aeaec223-d757-4b9f-85c9-5e50acf71c0d","name":"calculadora"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3344,1008],"id":"aca8795d-a50f-4745-b5d3-02000920185e","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1488,832],"id":"796e4f7e-03d8-48f3-8155-087e4a90b8ee","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,848],"id":"f50928c7-4243-49d3-a0f5-2ef246877e0d","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3088,848],"id":"96d8f1da-35e6-43be-9118-4348890dc6c0","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3344,848],"id":"29110333-8bec-4589-9ce9-ba7f368ff1f8","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3552,848],"id":"8fbedc7b-ae38-4867-8d6e-f03edfdebd69","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,656],"id":"4cdcdce1-38ae-438f-9863-8977bd616a94","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,464],"id":"6233e846-cfad-46cd-b511-f2a921cee303","name":"Edit Fields1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2448,1008],"id":"a687878c-57dd-4c76-a943-1cc3f06d918e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4448,784],"id":"454e0e5e-7e74-4ea0-ad0b-1f3c5d8fb011","name":"Edit Fields"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1088,976],"id":"a6fa9fc1-426e-45f0-b525-a4bf990295ea","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1296,992],"id":"ab35df46-9d71-4e8f-a52c-e842d4ba65d9","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-816,976],"id":"cc20e92b-6e25-4bb5-bdbb-48417f59e5cf","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-3088,656],"id":"4260ca52-a84a-472c-8de7-bafa2a01c375","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3552,656],"id":"0b0459d8-23de-46b1-81df-204d25913b77","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3344,656],"id":"5275ea7e-0ddd-4176-8741-544f0687e70c","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-2336,1200],"id":"e24c961c-33b0-4442-a5e5-e28821d279d4","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-2896,1104],"id":"dda2385f-085b-468a-aa1e-1a6b795bb889","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3104,1440],"id":"2c82d30e-46ec-430d-95a2-f54c2025da8f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3344,480],"id":"e43fa20d-0656-4fe5-be22-4032a335a406","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3552,480],"id":"2a0fae25-52a7-4144-8ac6-c11a7cadbe7b","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3088,480],"id":"266c7b2f-86a7-4118-9724-260ec34c1dde","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4016,912],"id":"ef551126-ef14-40be-a24d-8d9f554b41d1","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2288,1008],"id":"3bd00bdf-d132-4988-b1d5-f188de27b5b1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4256,784],"id":"0dca307b-f112-4732-bad9-d60db7339b04","name":"If"},{"parameters":{"httpMethod":"POST","path":"kairo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4656,784],"id":"a72308d4-13d5-46e0-9904-6ad9fd16c23d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\nID da sessão: {{ $('Edit Fields').item.json.sessionKey }}\n","options":{"systemMessage":"=# 🤖 Agente Orquestrador Financeiro\n\nVocê é o **Agente Orquestrador Financeiro**.\nSeu papel é **entender a intenção do usuário, confirmar os dados e orquestrar tools financeiras**.\n\nVocê **NUNCA**:\n\n* executa SQL manualmente\n* calcula valores\n* altera saldo ou limite sem tool\n* expõe queries, parâmetros, logs ou tools\n* responde texto livre após executar tool de escrita\n* usa mensagens antigas como base\n* faz perguntas desnecessárias\n* mostra `[Used tools]`, `Tool:`, `Input:`, `Result:` ou metadados\n* menciona nomes técnicos de tools (create_account_transaction, etc.)\n* exibe JSON de parâmetros ou resultados\n\n---\n\n## 🔴 REGRA DE CONTEXTO (CRÍTICA)\n\n* Use **apenas a última mensagem** do usuário.\n* Se a última mensagem for **\"Sim\", \"Confirmo\", \"Ok\"**, execute **exatamente** a ação descrita na **última confirmação enviada**.\n* Se não existir confirmação anterior válida, **peça para reenviar os dados**.\n\n---\n\n## 🧾 FONTE DE VERDADE\n\n* Toda escrita financeira **DEVE** usar tool\n* Contas e cartões **existem apenas por ID**\n* Não execute escrita sem **todos os campos obrigatórios**\n* Saldos e limites vêm **apenas das tools de consulta**\n\n---\n\n## 🧰 TOOLS DISPONÍVEIS\n\n### 📝 ESCRITA (Require Confirmation)\n\n* `create_account_transaction` - Registrar receita/despesa em conta bancária\n* `create_credit_card_transaction` - Registrar compra em cartão de crédito\n* `create_transfer_between_accounts` - Transferir entre contas\n* `close_credit_card_invoice` - Fechar fatura de cartão\n* `pay_invoice` - Pagar fatura de cartão\n\n### 📊 CONSULTA - CONTAS\n\n* `list_all_accounts` - Listar todas as contas\n* `get_account_details` - Detalhes de uma conta específica\n* `get_account_statement` - Extrato de movimentação da conta\n* `get_account_balance_history` - Histórico de saldo da conta\n\n### 💳 CONSULTA - CARTÕES\n\n* `list_all_credit_cards` - Listar todos os cartões\n* `get_credit_card_details` - Detalhes de um cartão específico\n* `get_credit_card_limit_history` - Histórico de limite do cartão\n* `get_credit_card_open_installments` - Parcelas em aberto do cartão\n* `get_credit_card_upcoming_invoices` - Próximas faturas do cartão\n\n### 🧾 CONSULTA - FATURAS\n\n* `list_all_invoices` - Listar todas as faturas\n* `get_invoice_details` - Detalhes de uma fatura específica\n* `get_invoice_installments` - Parcelas de uma fatura\n* `get_current_invoice_by_card` - Fatura atual de um cartão\n* `list_unlinked_installments` - Parcelas não vinculadas a fatura\n* `list_paid_invoices_history` - Histórico de faturas pagas\n\n### 📈 CONSULTA - TRANSAÇÕES\n\n* `list_all_transactions` - Listar todas as transações\n* `get_transactions_by_period` - Transações em período específico\n* `get_transactions_summary_by_category` - Resumo por categoria\n* `list_transfers_between_accounts` - Histórico de transferências\n* `get_transaction_by_id` - Detalhes de transação específica\n\n### 📊 RELATÓRIOS\n\n* `report_current_month_summary` - Resumo do mês atual\n* `report_expenses_by_category` - Despesas por categoria\n* `report_monthly_comparison` - Comparativo mensal\n* `report_account_balance_sheet` - Balanço patrimonial\n* `report_credit_cards_status` - Status dos cartões\n* `report_upcoming_invoices` - Faturas a vencer\n* `report_top_expenses_current_month` - Maiores despesas do mês\n* `report_pending_transactions` - Transações pendentes\n\n---\n\n## 🆔 IDENTIFICAÇÃO DE CONTA / CARTÃO\n\n1. Se o usuário informar **ID**, use diretamente\n2. Se informar **nome**:\n   * Consultar `list_all_accounts` ou `list_all_credit_cards`\n   * Resolver **um único ID**\n   * Se houver múltiplas correspondências, **pedir para o usuário escolher**\n3. Nunca inventar IDs\n4. Nunca executar escrita sem ID válido\n\n---\n\n## 🧮 REGRA DE CÁLCULO\n\n❌ **PROIBIDO** calcular saldos, limites ou totais manualmente\n✅ Saldos → `get_account_details` ou `report_account_balance_sheet`\n✅ Limites → `get_credit_card_details` ou `report_credit_cards_status`\n✅ Totais → `report_current_month_summary`\n\n---\n\n## 🏷️ CLASSIFICAÇÃO AUTOMÁTICA\n\n| Situação                          | Tool                               | Natureza  |\n| --------------------------------- | ---------------------------------- | --------- |\n| Compra no crédito                 | create_credit_card_transaction     | despesa   |\n| Débito/dinheiro/PIX saída         | create_account_transaction         | despesa   |\n| Recebimento/salário/PIX entrada   | create_account_transaction         | receita   |\n| Transferência entre contas        | create_transfer_between_accounts   | N/A       |\n| Pagamento de fatura               | pay_invoice                        | despesa   |\n| Fechar ciclo do cartão            | close_credit_card_invoice          | N/A       |\n\n---\n\n## 📌 CAMPOS OBRIGATÓRIOS E PADRÕES\n\nSempre preencher quando não informado:\n\n* `data_transacao` → **CURRENT_DATE** (obtido automaticamente)\n* `status` → **'pago'** (para despesas/receitas pagas) ou **'pendente'** (para cartão)\n* `total_parcelas` → **1** (se não for parcelado)\n* `natureza` → **'despesa'** ou **'receita'** (inferir do contexto)\n* `category_id` → Perguntar se não for óbvio, ou usar categoria genérica\n\n**Campos sempre obrigatórios:**\n* `descricao` - Descrição clara da transação\n* `valor` - Valor em reais (número positivo)\n* `account_id` ou `credit_card_id` - ID da origem\n\n---\n\n## 🔁 FLUXO OBRIGATÓRIO\n\n### 1️⃣ ENTENDER INTENÇÃO\n\nIdentificar:\n\n* É receita ou despesa?\n* É em conta bancária ou cartão de crédito?\n* É parcelado? Quantas vezes?\n* É transferência entre contas?\n* Qual o impacto: saldo (conta) ou limite (cartão)?\n\n---\n\n### 2️⃣ CONFIRMAÇÃO (OBRIGATÓRIA)\n\nAntes de **qualquer tool de escrita**, mostrar exatamente:\n\n```\nVou registrar a seguinte <RECEITA/DESPESA/TRANSFERÊNCIA>:\n\nDescrição: <descricao>\nValor: R$ <valor>\nData: <data>\nOrigem: <nome da conta ou cartão> (ID: <id>)\nCategoria: <categoria>\nParcelas: <total_parcelas> (se aplicável)\nStatus: <status>\n\nConfirma?\n```\n\n**Regras:**\n\n* ❌ **NÃO** executar tool\n* ❌ **NÃO** omitir campos\n* ❌ **NÃO** prosseguir sem confirmação explícita\n* ✅ Somente **\"Sim\", \"Confirmo\", \"Ok\"** autoriza execução\n\n**Após isso, AGUARDE a resposta do usuário.**\n\n---\n\n### 3️⃣ EXECUÇÃO (SILENCIOSA)\n\nExecute **UMA ÚNICA tool** conforme o caso:\n\n| Caso                      | Tool                               | Parâmetros principais                                                                      |\n| ------------------------- | ---------------------------------- | ------------------------------------------------------------------------------------------ |\n| Receita em conta          | create_account_transaction         | descricao, valor, natureza='receita', account_id, category_id                              |\n| Despesa em conta          | create_account_transaction         | descricao, valor, natureza='despesa', account_id, category_id                              |\n| Despesa em cartão         | create_credit_card_transaction     | descricao, valor, credit_card_id, category_id, total_parcelas                              |\n| Transferência             | create_transfer_between_accounts   | valor, account_origem_id, account_destino_id                                               |\n| Pagamento de fatura       | pay_invoice                        | invoice_id, account_id, valor_pago                                                         |\n| Fechar fatura             | close_credit_card_invoice          | credit_card_id, competencia                                                                |\n\n---\n\n## 🔐 PRÉ-CONDIÇÕES (VALIDAÇÃO)\n\nAntes de executar escrita:\n\n### Para conta bancária (`create_account_transaction` com despesa):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` com o account_id\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para cartão de crédito (`create_credit_card_transaction`):\n1. **OBRIGATÓRIO:** Consultar `get_credit_card_details` com o credit_card_id\n2. Verificar que `limite_disponivel >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para transferência (`create_transfer_between_accounts`):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` da conta origem\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n**NUNCA permitir saldo negativo ou limite estourado.**\n**NUNCA assumir ou calcular saldos/limites - SEMPRE consultar via tool.**\n\n### 🔇 VALIDAÇÕES DEVEM SER SILENCIOSAS\n\n**REGRA CRÍTICA:** Todas as consultas de validação (get_account_details, get_credit_card_details) são **INTERNAS** e **INVISÍVEIS** ao usuário.\n\n**❌ NUNCA mostre ao usuário:**\n```\n[Used tools: Tool: get_account_details, Input: {}, Result: [...]]\n```\n\n**✅ Se validação falhar, responda APENAS:**\n```\nSaldo insuficiente na conta <nome> (saldo atual: R$ X) para registrar a despesa de R$ Y. Por favor, informe outra conta.\n```\n\n**NUNCA mencione que executou uma tool de consulta.**\n\n---\n\n## 🏁 REGRA DE OURO (PÓS-EXECUÇÃO)\n\nApós **qualquer tool de escrita**, você **DEVE OBRIGATORIAMENTE**:\n\n### Para transação em conta:\n1. Consultar `get_account_details` com o account_id\n2. Obter saldo_atual da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nSaldo atualizado: R$ X\n```\n\n### Para transação em cartão:\n1. Consultar `get_credit_card_details` com o credit_card_id\n2. Obter limite_disponivel da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nLimite disponível atualizado: R$ X\n```\n\n### Para transferência:\n1. Consultar `get_account_details` para conta origem\n2. Consultar `get_account_details` para conta destino\n3. Responder **EXCLUSIVAMENTE**:\n```\nTransferência concluída:\nConta origem: <nome> - Saldo atual: R$ X\nConta destino: <nome> - Saldo atual: R$ Y\n```\n\n### Para pagamento de fatura:\n```\nFatura paga com sucesso\nValor pago: R$ X\n```\n\n**⚠️ CRÍTICO:** \n- NUNCA calcule saldos na memória. SEMPRE use tools de consulta após escrita.\n- NUNCA mostre `[Used tools]`, nomes de tools, parâmetros ou resultados técnicos.\n- Responda APENAS o resultado final formatado.\n\n---\n\n## 📝 FORMATO DE RESPOSTA\n\n### ✅ PERMITIDO:\n```\nVou registrar a seguinte RECEITA:\nDescrição: Salário\nValor: R$ 5.000,00\n...\nConfirma?\n```\n\n```\nSaldo atualizado: R$ 5.000,00\n```\n\n### ❌ PROIBIDO:\n```\n[Used tools: Tool: create_account_transaction, Input: {...}, Result: {...}]\n```\n\n```\nExecutei a tool create_account_transaction com sucesso.\n```\n\n```\n{\"descricao\":\"Salário\",\"valor\":\"5000\",...}\n```\n\n**Regra:** Usuário NUNCA deve ver metadados técnicos, nomes de tools ou JSON.\n\n---\n\n## ❌ ERROS FATAIS\n\nVocê **FALHA IMEDIATAMENTE** se:\n\n1. Executar escrita sem confirmação\n2. Calcular saldo ou limite manualmente\n3. Inventar ou supor IDs\n4. Executar SQL diretamente\n5. Mostrar logs, queries ou nomes de tools para o usuário\n6. Responder texto longo após execução de escrita\n7. Usar dados de mensagens antigas após confirmação\n8. Exibir `[Used tools]`, `Tool:`, `Input:`, `Result:` ou qualquer metadado técnico\n9. Mencionar nomes de tools (create_account_transaction, get_account_details, etc.)\n10. Mostrar JSON de parâmetros ou resultados\n\n---\n\n## 💡 EXEMPLO DE FLUXO COMPLETO\n\n**Usuário:** \"Gastei 150 reais no Mercado Pago\"\n\n**Agente:**\n1. Identifica: despesa em conta\n2. Consulta `list_all_accounts` → encontra \"Mercado Pago\" (ID: 3)\n3. Responde:\n\n```\nVou registrar a seguinte DESPESA:\n\nDescrição: Compra no Mercado Pago\nValor: R$ 150,00\nData: 08/01/2026\nOrigem: Mercado Pago (ID: 3)\nCategoria: Outros\nStatus: pago\n\nConfirma?\n```\n\n**Usuário:** \"Sim\"\n\n**Agente:**\n1. Consulta `get_account_details(account_id=3)` → saldo_atual = 500\n2. Valida: 500 >= 150 ✅\n3. Executa `create_account_transaction(descricao=\"Compra no Mercado Pago\", valor=150, natureza=\"despesa\", account_id=3, ...)`\n4. Consulta `get_account_details(account_id=3)` novamente → saldo_atual = 350\n5. Responde:\n\n```\nSaldo atualizado: R$ 350,00\n```\n\n---\n\n## 🎯 MANTRA\n\n1. **Confirmar sempre**\n2. **Executar uma vez**\n3. **Responder apenas o resultado**\n\nVocê é preciso, confiável e seguro. 🔒\n","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-2096,848],"id":"c387af13-1301-4cb3-811c-e177775ab79d","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém a data e hora atual do sistema. Este node deve ser usado sempre que for necessário registrar timestamps de criação ou atualização de registros, garantindo consistência temporal em todas as operações.","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[608,2144],"id":"194c7621-c16b-47da-a954-cf7dc2c3e8f1","name":"get_current_date"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4032,656],"id":"2bf5eddc-2c34-4e79-9fff-722df6f6f249","name":"No Operation, do nothing"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1120,736],"id":"55d50a42-3fb3-4803-bca4-f320000f1548","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as contas bancárias com resumo financeiro (saldo, total de receitas e despesas)","operation":"executeQuery","query":"SELECT * FROM vw_account_summary\nORDER BY nome;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2816,2144],"id":"28924d4b-3e88-47f0-848d-cedd3746fa5e","name":"list_all_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados cadastrais completos de uma conta específica","operation":"executeQuery","query":"SELECT \n\ta.id,\n\ta.nome,\n\ta.saldo_atual,\n\ta.status,\n\ta.created_at,\n\ta.updated_at\nFROM public.accounts a\nWHERE a.id = {{ $fromAI('account_id', 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2640,2144],"id":"74b6b151-5ed7-4fbe-b329-3d6e4884d7b2","name":"get_account_details","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna extrato com as últimas transações de uma conta","operation":"executeQuery","query":"SELECT \n\tt.id,\n\tt.data_transacao,\n\tt.descricao,\n\tt.natureza,\n\tt.valor,\n\tt.status,\n\tcat.nome as categoria,\n\tCASE \n\t\tWHEN t.linked_transaction_id IS NOT NULL THEN 'Transferência'\n\t\tELSE 'Normal'\n\tEND as tipo_transacao\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE t.account_id = {{ $fromAI('account_id', 'number') }}\nORDER BY t.data_transacao DESC, t.id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 30 }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2640,2320],"id":"aa79017a-7f94-4afd-9bc8-064f1aa55f1b","name":"get_account_statement","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna histórico de variação de saldo da conta com cada movimentação","operation":"executeQuery","query":"SELECT \n\tabh.id,\n\tabh.created_at,\n\tt.descricao,\n\tt.natureza,\n\tt.valor,\n\tabh.saldo_antes,\n\tabh.saldo_depois,\n\tabh.saldo_depois - abh.saldo_antes as variacao\nFROM public.account_balance_history abh\nINNER JOIN public.transactions t ON t.id = abh.transaction_id\nWHERE abh.account_id = {{ $fromAI('account_id', 'number') }}\nORDER BY abh.id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 50 }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2832,2320],"id":"6f2f0039-81aa-46dc-a145-519361b822bb","name":"get_account_balance_history","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todos os cartões de crédito com resumo de limite e utilização","operation":"executeQuery","query":"SELECT * FROM vw_credit_card_summary\nORDER BY nome;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2320,2144],"id":"7297bf9a-5d41-4002-a40b-8938e85ff935","name":"list_all_credit_cards","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados cadastrais completos de um cartão de crédito específico","operation":"executeQuery","query":"SELECT \n\tcc.id,\n\tcc.nome,\n\tcc.limite_total,\n\tcc.limite_disponivel,\n\tcc.limite_total - cc.limite_disponivel as limite_utilizado,\n\tROUND((cc.limite_total - cc.limite_disponivel) * 100.0 / cc.limite_total, 2) as percentual_utilizado,\n\tcc.dia_fechamento,\n\tcc.dia_vencimento,\n\tcc.status,\n\tcc.created_at,\n\tcc.updated_at\nFROM public.credit_cards cc\nWHERE cc.id = {{ $fromAI('credit_card_id', 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2144,2144],"id":"5a6b32c0-f7a5-42a4-aea8-a97a42f81426","name":"get_credit_card_details","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna histórico de variação de limite disponível do cartão","operation":"executeQuery","query":"SELECT \n\tclh.id,\n\tclh.created_at,\n\tt.descricao,\n\tt.natureza,\n\tt.valor,\n\tclh.limite_antes,\n\tclh.limite_depois,\n\tclh.limite_depois - clh.limite_antes as variacao\nFROM public.card_limit_history clh\nINNER JOIN public.transactions t ON t.id = clh.transaction_id\nWHERE clh.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\nORDER BY clh.id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 50 }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2320,2320],"id":"780bfffa-8c01-46aa-acdf-6968bbb8cfd4","name":"get_credit_card_limit_history","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna parcelas abertas do cartão que ainda não foram vinculadas a faturas","operation":"executeQuery","query":"SELECT \n\tci.id,\n\tci.numero_parcela,\n\tci.total_parcelas,\n\tci.valor_parcela,\n\tci.competencia,\n\tci.status,\n\tt.descricao,\n\tt.data_transacao\nFROM public.credit_installments ci\nINNER JOIN public.transactions t ON t.id = ci.transaction_id\nWHERE t.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\n\tAND ci.invoice_id IS NULL\n\tAND ci.status = 'aberta'\nORDER BY ci.competencia, t.data_transacao;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2128,2320],"id":"d4665513-aae0-4b67-a9d0-57d83d23d629","name":"get_credit_card_open_installments","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna próximas faturas do cartão (próximos 3 meses)","operation":"executeQuery","query":"SELECT \n\ti.id as invoice_id,\n\ti.competencia,\n\ti.data_fechamento,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\tCOUNT(ci.id) as total_parcelas\nFROM public.invoices i\nLEFT JOIN public.credit_installments ci ON ci.invoice_id = i.id\nWHERE i.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\n\tAND i.competencia >= date_trunc('month', CURRENT_DATE)::date\n\tAND i.competencia < date_trunc('month', CURRENT_DATE + INTERVAL '3 months')::date\nGROUP BY i.id\nORDER BY i.competencia;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2224,2496],"id":"8d050b4a-8ee7-44ac-b4fe-decbb558194c","name":"get_credit_card_upcoming_invoices","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as faturas com resumo calculado usando view","operation":"executeQuery","query":"SELECT * FROM vw_invoice_details\nORDER BY competencia DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1808,2144],"id":"f5f5a24b-08ae-40ec-bcc5-d42ae3111e7d","name":"list_all_invoices","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados completos de uma fatura específica","operation":"executeQuery","query":"SELECT \n\ti.id,\n\ti.competencia,\n\ti.data_fechamento,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\tcc.nome as cartao,\n\ti.created_at,\n\ti.updated_at\nFROM public.invoices i\nINNER JOIN public.credit_cards cc ON cc.id = i.credit_card_id\nWHERE i.id = {{ $fromAI('Query_Parameters', `invoice_id`, 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1632,2144],"id":"d880aa5d-0813-4200-9c00-2f803fb4c0f0","name":"get_invoice_details","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna todas as parcelas vinculadas a uma fatura específica","operation":"executeQuery","query":"SELECT \n\tci.id,\n\tci.numero_parcela,\n\tci.total_parcelas,\n\tci.valor_parcela,\n\tci.competencia,\n\tci.status,\n\tt.descricao,\n\tt.data_transacao,\n\tt.valor as valor_total_compra\nFROM public.credit_installments ci\nINNER JOIN public.transactions t ON t.id = ci.transaction_id\nWHERE ci.invoice_id = {{ $fromAI('invoice_id', 'number') }}\nORDER BY t.data_transacao, ci.numero_parcela;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1808,2320],"id":"e58ad0c0-df99-423d-8ae4-ea62dbd5275b","name":"get_invoice_installments","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna fatura aberta do mês corrente de um cartão específico","operation":"executeQuery","query":"SELECT \n\ti.id,\n\ti.competencia,\n\ti.data_fechamento,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\tCOUNT(ci.id) as total_parcelas,\n\tCOALESCE(SUM(ci.valor_parcela), 0) as soma_parcelas\nFROM public.invoices i\nLEFT JOIN public.credit_installments ci ON ci.invoice_id = i.id\nWHERE i.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\n\tAND i.competencia = date_trunc('month', CURRENT_DATE)::date\nGROUP BY i.id;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1616,2320],"id":"54bdaf5a-931b-4d55-a788-70ee8c47d8e9","name":"get_current_invoice_by_card","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista parcelas abertas que ainda não foram vinculadas a faturas, agrupadas por cartão e competência","operation":"executeQuery","query":"SELECT \n\tcc.nome as cartao,\n\tci.competencia,\n\tCOUNT(ci.id) as quantidade_parcelas,\n\tSUM(ci.valor_parcela) as valor_total\nFROM public.credit_installments ci\nINNER JOIN public.transactions t ON t.id = ci.transaction_id\nINNER JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nWHERE ci.invoice_id IS NULL\n\tAND ci.status = 'aberta'\nGROUP BY cc.nome, ci.competencia\nORDER BY ci.competencia, cc.nome;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1808,2512],"id":"b88646b7-05e6-4319-9455-e9815064be21","name":"list_unlinked_installments","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna histórico de faturas pagas com informações de pagamento (últimas 12)","operation":"executeQuery","query":"SELECT \n\ti.id,\n\ti.competencia,\n\ti.valor_total,\n\ti.status,\n\tcc.nome as cartao,\n\tt.data_transacao as data_pagamento,\n\ta.nome as conta_pagamento,\n\ti.updated_at\nFROM public.invoices i\nINNER JOIN public.credit_cards cc ON cc.id = i.credit_card_id\nLEFT JOIN public.transactions t ON t.id = i.payment_transaction_id\nLEFT JOIN public.accounts a ON a.id = t.account_id\nWHERE i.status = 'paga'\nORDER BY i.competencia DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 12 }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1616,2512],"id":"0f99fcbf-f565-4121-ba2e-b29ce8faf7ea","name":"list_paid_invoices_history","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as transações com detalhes completos usando view (últimas 100)","operation":"executeQuery","query":"SELECT * FROM vw_transactions_detailed\nORDER BY data_transacao DESC, id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 100 }};\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1312,2144],"id":"4b908a48-fb96-4eef-99f2-82b7b2ca17ee","name":"list_all_transactions","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna transações filtradas por período específico","operation":"executeQuery","query":"SELECT \n\tt.id,\n\tt.data_transacao,\n\tt.descricao,\n\tt.valor,\n\tt.tipo,\n\tt.natureza,\n\tt.status,\n\tCOALESCE(a.nome, cc.nome) as origem,\n\tcat.nome as categoria\nFROM public.transactions t\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE t.data_transacao BETWEEN {{ $fromAI('start_date', 'string') }}::date \n\tAND {{ $fromAI('end_date', 'string') }}::date\nORDER BY t.data_transacao DESC, t.id DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1136,2144],"id":"2e402738-c066-4d01-af66-de6aa165aa6c","name":"get_transactions_by_period","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna resumo mensal de transações agrupadas por categoria (mês corrente)","operation":"executeQuery","query":"SELECT \n\tcat.nome as categoria,\n\tCOUNT(t.id) as quantidade,\n\tSUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE 0 END) as total_receitas,\n\tSUM(CASE WHEN t.natureza = 'despesa' THEN t.valor ELSE 0 END) as total_despesas,\n\tSUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE -t.valor END) as saldo\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE date_trunc('month', t.data_transacao) = date_trunc('month', CURRENT_DATE)\nGROUP BY cat.nome\nORDER BY total_despesas DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1312,2320],"id":"3a1d8047-dffd-4eec-a1be-7660d59f099e","name":"get_transactions_summary_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista transferências entre contas bancárias vinculadas","operation":"executeQuery","query":"SELECT \n\tt1.id as transaction_origem_id,\n\tt1.data_transacao,\n\tt1.descricao,\n\tt1.valor,\n\ta1.nome as conta_origem,\n\ta2.nome as conta_destino,\n\tt1.status\nFROM public.transactions t1\nINNER JOIN public.transactions t2 ON t2.id = t1.linked_transaction_id\nLEFT JOIN public.accounts a1 ON a1.id = t1.account_id\nLEFT JOIN public.accounts a2 ON a2.id = t2.account_id\nWHERE t1.natureza = 'despesa'\n\tAND t2.natureza = 'receita'\n\tAND t1.linked_transaction_id IS NOT NULL\nORDER BY t1.data_transacao DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1120,2320],"id":"09142294-232a-4ca0-8058-297b1723ceae","name":"list_transfers_between_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados completos de uma transação específica por ID","operation":"executeQuery","query":"SELECT \n\tt.*,\n\ta.nome as account_name,\n\tcc.nome as credit_card_name,\n\tcat.nome as category_name\nFROM public.transactions t\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE t.id = {{ $fromAI('transaction_id', 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1216,2496],"id":"e31b7fbf-d165-44c9-8559-e6f5f9cf7059","name":"get_transaction_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Resumo financeiro do mês atual com total de receitas, despesas e saldo","operation":"executeQuery","query":"SELECT \n\t'Mês Atual: ' || to_char(CURRENT_DATE, 'MM/YYYY') as periodo,\n\tCOALESCE(SUM(CASE WHEN natureza = 'receita' THEN valor ELSE 0 END), 0) as total_receitas,\n\tCOALESCE(SUM(CASE WHEN natureza = 'despesa' THEN valor ELSE 0 END), 0) as total_despesas,\n\tCOALESCE(SUM(CASE WHEN natureza = 'receita' THEN valor ELSE -valor END), 0) as saldo_periodo\nFROM public.transactions\nWHERE date_trunc('month', data_transacao) = date_trunc('month', CURRENT_DATE)\n\tAND status = 'pago';","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2144],"id":"f2f3c224-2fe5-444e-b409-c7d82f0c95d4","name":"report_current_month_summary","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Despesas do mês atual agrupadas por categoria com percentual de cada uma","operation":"executeQuery","query":"SELECT \n\tCOALESCE(cat.nome, 'Sem categoria') as categoria,\n\tCOUNT(t.id) as quantidade_transacoes,\n\tSUM(t.valor) as total_gasto,\n\tROUND(SUM(t.valor) * 100.0 / NULLIF(SUM(SUM(t.valor)) OVER (), 0), 2) as percentual\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE date_trunc('month', t.data_transacao) = date_trunc('month', CURRENT_DATE)\n\tAND t.natureza = 'despesa'\n\tAND t.status = 'pago'\nGROUP BY cat.nome\nORDER BY total_gasto DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-640,2144],"id":"a03cdd06-6392-425a-81b6-cd545fa2dc41","name":"report_expenses_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Comparativo mensal de receitas, despesas e saldo dos últimos 6 meses","operation":"executeQuery","query":"SELECT \n\tto_char(date_trunc('month', t.data_transacao), 'YYYY-MM') as mes,\n\tCOALESCE(SUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE 0 END), 0) as receitas,\n\tCOALESCE(SUM(CASE WHEN t.natureza = 'despesa' THEN t.valor ELSE 0 END), 0) as despesas,\n\tCOALESCE(SUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE -t.valor END), 0) as saldo\nFROM public.transactions t\nWHERE t.data_transacao >= date_trunc('month', CURRENT_DATE - INTERVAL '5 months')\n\tAND t.status = 'pago'\nGROUP BY date_trunc('month', t.data_transacao)\nORDER BY mes DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2320],"id":"41c827ed-ba14-43ff-8dbc-c7e6ab2a9d0d","name":"report_monthly_comparison","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Balanço patrimonial com saldo atual de todas as contas ativas e total geral","operation":"executeQuery","query":"SELECT \n\ta.nome as conta,\n\ta.saldo_atual,\n\ta.status\nFROM public.accounts a\nWHERE a.status = 'ativo'\nUNION ALL\nSELECT \n\t'TOTAL CONTAS' as conta,\n\tSUM(a.saldo_atual) as saldo_atual,\n\tNULL as status\nFROM public.accounts a\nWHERE a.status = 'ativo';","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-624,2320],"id":"0026e905-e8fc-4965-8eea-51084bd5545a","name":"report_account_balance_sheet","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Status atual de todos os cartões de crédito ativos com limite utilizado e percentual","operation":"executeQuery","query":"SELECT \n\tcc.nome as cartao,\n\tcc.limite_total,\n\tcc.limite_disponivel,\n\tcc.limite_total - cc.limite_disponivel as limite_utilizado,\n\tROUND((cc.limite_total - cc.limite_disponivel) * 100.0 / cc.limite_total, 2) as percentual_uso\nFROM public.credit_cards cc\nWHERE cc.status = 'ativo'\nORDER BY percentual_uso DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2512],"id":"cd7c33d5-6382-430f-ae43-fffc43d1587a","name":"report_credit_cards_status","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Próximas faturas a vencer nos próximos 30 dias","operation":"executeQuery","query":"SELECT \n\tcc.nome as cartao,\n\ti.competencia,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\ti.data_vencimento - CURRENT_DATE as dias_ate_vencimento\nFROM public.invoices i\nINNER JOIN public.credit_cards cc ON cc.id = i.credit_card_id\nWHERE i.status IN ('aberta', 'fechada')\n\tAND i.data_vencimento BETWEEN CURRENT_DATE AND CURRENT_DATE + INTERVAL '30 days'\nORDER BY i.data_vencimento;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-624,2512],"id":"b6fc3445-63ad-44c7-9c7d-89b50c70ae0f","name":"report_upcoming_invoices","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Maiores despesas do mês atual (top 10)","operation":"executeQuery","query":"SELECT \n\tt.data_transacao,\n\tt.descricao,\n\tt.valor,\n\tCOALESCE(cat.nome, 'Sem categoria') as categoria,\n\tCOALESCE(a.nome, cc.nome) as origem\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nWHERE date_trunc('month', t.data_transacao) = date_trunc('month', CURRENT_DATE)\n\tAND t.natureza = 'despesa'\n\tAND t.status = 'pago'\nORDER BY t.valor DESC\nLIMIT 10;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2704],"id":"a59fda6d-7976-4002-bdc1-4100dfa562bb","name":"report_top_expenses_current_month","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as transações com status pendente","operation":"executeQuery","query":"SELECT \n\tt.data_transacao,\n\tt.descricao,\n\tt.valor,\n\tt.natureza,\n\tCOALESCE(cat.nome, 'Sem categoria') as categoria,\n\tCOALESCE(a.nome, cc.nome) as origem\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nWHERE t.status = 'pendente'\nORDER BY t.data_transacao;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-624,2688],"id":"e3e91b4d-bb08-412f-a828-336b6f3623f2","name":"report_pending_transactions","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Fecha a fatura de um cartão de crédito para uma competência específica, vinculando todas as parcelas abertas","operation":"executeQuery","query":"DO $$\nDECLARE\n\tv_valor numeric(14, 2) := {{ $fromAI('valor', 'number') }};\n\tv_account_origem int8 := {{ $fromAI('account_origem_id', 'number') }};\n\tv_account_destino int8 := {{ $fromAI('account_destino_id', 'number') }};\n\tv_data_transacao date := COALESCE('{{ $fromAI('data_transacao', 'string') }}'::date, CURRENT_DATE);\n\tv_descricao text := COALESCE('{{ $fromAI('descricao', 'string') }}', 'Transferência entre contas');\n\tv_transaction_origem_id int8;\n\tv_transaction_destino_id int8;\nBEGIN\n\t-- Criar transação de saída (despesa na origem)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status)\n\tVALUES (v_descricao || ' - Saída', v_valor, 'debit', 'despesa', v_account_origem, v_data_transacao, 'pago')\n\tRETURNING id INTO v_transaction_origem_id;\n\n\t-- Criar transação de entrada (receita no destino)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status, linked_transaction_id)\n\tVALUES (v_descricao || ' - Entrada', v_valor, 'debit', 'receita', v_account_destino, v_data_transacao, 'pago', v_transaction_origem_id)\n\tRETURNING id INTO v_transaction_destino_id;\n\n\t-- Atualizar a transação de origem com o link reverso\n\tUPDATE public.transactions\n\tSET linked_transaction_id = v_transaction_destino_id\n\tWHERE id = v_transaction_origem_id;\n\n\tRAISE NOTICE 'Transferência criada: origem=% destino=%', v_transaction_origem_id, v_transaction_destino_id;\nEND $$;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-384,2144],"id":"effa828d-01fb-4be0-8bba-50f4376f0a3a","name":"close_credit_card_invoice","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Cria uma transação de débito (receita ou despesa) em conta bancária","operation":"executeQuery","query":"INSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, category_id, data_transacao, status)\nVALUES (\n\t'{{ $fromAI('descricao', 'string') }}',\n\t{{ $fromAI('valor', 'number') }},\n\t'debit',\n\t'{{ $fromAI('natureza', 'string') }}',\n\t{{ $fromAI('account_id', 'number') }},\n\tNULLIF('{{ $fromAI('category_id', 'number') }}', 'undefined')::int8,\n\tCOALESCE(NULLIF('{{ $fromAI('data_transacao', 'string') }}', 'undefined')::date, CURRENT_DATE),\n\tCOALESCE(NULLIF('{{ $fromAI('status', 'string') }}', 'undefined'), 'pago')\n);\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-144,2144],"id":"e4a7b374-4d30-4564-9bbb-7d7fce23ce01","name":"create_account_transaction","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Cria uma transação de débito (receita ou despesa) em conta bancária","operation":"executeQuery","query":"INSERT INTO public.transactions (descricao, valor, tipo, natureza, credit_card_id, category_id, data_transacao, status, total_parcelas)\nVALUES (\n\t'{{ $fromAI('descricao', 'string') }}',\n\t{{ $fromAI('valor', 'number') }},\n\t'credit',\n\tCOALESCE(NULLIF('{{ $fromAI('natureza', 'string') }}', 'undefined'), 'despesa'),\n\t{{ $fromAI('credit_card_id', 'number') }},\n\tNULLIF('{{ $fromAI('category_id', 'number') }}', 'undefined')::int8,\n\tCOALESCE(NULLIF('{{ $fromAI('data_transacao', 'string') }}', 'undefined')::date, CURRENT_DATE),\n\tCOALESCE(NULLIF('{{ $fromAI('status', 'string') }}', 'undefined'), 'pendente'),\n\tCOALESCE(NULLIF('{{ $fromAI('total_parcelas', 'number') }}', 'undefined')::int4, 1)\n);\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[48,2144],"id":"6ae195b7-223e-4875-ba17-41fa07486388","name":"create_credit_card_transaction","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Cria transferência entre duas contas bancárias (cria 2 transações vinculadas: despesa na origem e receita no destino)","operation":"executeQuery","query":"DO $$\nDECLARE\n\tv_valor numeric(14, 2) := {{ $fromAI('valor', 'number') }};\n\tv_account_origem int8 := {{ $fromAI('account_origem_id', 'number') }};\n\tv_account_destino int8 := {{ $fromAI('account_destino_id', 'number') }};\n\tv_data_transacao date := COALESCE(NULLIF('{{ $fromAI('data_transacao', 'string') }}', 'undefined')::date, CURRENT_DATE);\n\tv_descricao text := COALESCE(NULLIF('{{ $fromAI('descricao', 'string') }}', 'undefined'), 'Transferência entre contas');\n\tv_transaction_origem_id int8;\n\tv_transaction_destino_id int8;\nBEGIN\n\t-- Criar transação de saída (despesa na origem)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status)\n\tVALUES (v_descricao || ' - Saída', v_valor, 'debit', 'despesa', v_account_origem, v_data_transacao, 'pago')\n\tRETURNING id INTO v_transaction_origem_id;\n\n\t-- Criar transação de entrada (receita no destino)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status, linked_transaction_id)\n\tVALUES (v_descricao || ' - Entrada', v_valor, 'debit', 'receita', v_account_destino, v_data_transacao, 'pago', v_transaction_origem_id)\n\tRETURNING id INTO v_transaction_destino_id;\n\n\t-- Atualizar a transação de origem com o link reverso\n\tUPDATE public.transactions\n\tSET linked_transaction_id = v_transaction_destino_id\n\tWHERE id = v_transaction_origem_id;\n\n\tRAISE NOTICE 'Transferência criada: origem=% destino=%', v_transaction_origem_id, v_transaction_destino_id;\nEND $$;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[256,2144],"id":"7c5327fd-86e5-456f-9c45-64240501a0d4","name":"create_transfer_between_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Paga uma fatura de cartão usando saldo de conta bancária, libera limite e marca parcelas como pagas","operation":"executeQuery","query":"DO $$\nDECLARE\n\tv_invoice_id int8 := {{ $fromAI('invoice_id', 'number') }};\n\tv_account_id int8 := {{ $fromAI('account_id', 'number') }};\n\tv_valor_pago numeric(14, 2) := {{ $fromAI('valor_pago', 'number') }};\n\tv_data_pagamento date := COALESCE(NULLIF('{{ $fromAI('data_pagamento', 'string') }}', 'undefined')::date, CURRENT_DATE);\n\tv_valor_fatura numeric(14, 2);\n\tv_credit_card_id int8;\n\tv_competencia date;\n\tv_payment_transaction_id int8;\n\tv_parcelas_pagas int4;\n\tv_limite_liberado numeric(14, 2);\n\tv_status_fatura text;\nBEGIN\n\t-- Buscar informações da fatura\n\tSELECT i.valor_total, i.credit_card_id, i.competencia, i.status\n\tINTO v_valor_fatura, v_credit_card_id, v_competencia, v_status_fatura\n\tFROM public.invoices i\n\tWHERE i.id = v_invoice_id;\n\n\tIF NOT FOUND THEN\n\t\tRAISE EXCEPTION 'Fatura % não encontrada', v_invoice_id;\n\tEND IF;\n\n\tIF v_status_fatura = 'paga' THEN\n\t\tRAISE EXCEPTION 'Fatura % já foi paga anteriormente', v_invoice_id;\n\tEND IF;\n\n\tIF v_valor_pago <= 0 THEN\n\t\tRAISE EXCEPTION 'Valor de pagamento inválido: %', v_valor_pago;\n\tEND IF;\n\n\tIF v_valor_pago > v_valor_fatura THEN\n\t\tRAISE EXCEPTION 'Valor de pagamento (%) é maior que o valor da fatura (%)', v_valor_pago, v_valor_fatura;\n\tEND IF;\n\n\t-- Criar transação de débito na conta (pagamento da fatura)\n\tINSERT INTO public.transactions (\n\t\tdescricao, \n\t\tvalor, \n\t\ttipo, \n\t\tnatureza, \n\t\taccount_id, \n\t\tdata_transacao, \n\t\tstatus\n\t)\n\tVALUES (\n\t\t'Pagamento Fatura - ' || to_char(v_competencia, 'MM/YYYY'),\n\t\tv_valor_pago,\n\t\t'debit',\n\t\t'despesa',\n\t\tv_account_id,\n\t\tv_data_pagamento,\n\t\t'pago'\n\t)\n\tRETURNING id INTO v_payment_transaction_id;\n\n\t-- Se pagamento total, marcar parcelas como pagas\n\tIF v_valor_pago >= v_valor_fatura THEN\n\t\tUPDATE public.credit_installments\n\t\tSET status = 'paga'\n\t\tWHERE invoice_id = v_invoice_id\n\t\t\tAND status = 'aberta';\n\n\t\tGET DIAGNOSTICS v_parcelas_pagas = ROW_COUNT;\n\n\t\t-- Calcular quanto de limite será liberado\n\t\tSELECT COALESCE(SUM(ci.valor_parcela), 0)\n\t\tINTO v_limite_liberado\n\t\tFROM public.credit_installments ci\n\t\tWHERE ci.invoice_id = v_invoice_id;\n\n\t\t-- Liberar limite do cartão\n\t\tUPDATE public.credit_cards\n\t\tSET limite_disponivel = LEAST(limite_total, limite_disponivel + v_limite_liberado)\n\t\tWHERE id = v_credit_card_id;\n\n\t\t-- Atualizar status da fatura para paga\n\t\tUPDATE public.invoices\n\t\tSET \n\t\t\tstatus = 'paga',\n\t\t\tpayment_transaction_id = v_payment_transaction_id,\n\t\t\tupdated_at = now()\n\t\tWHERE id = v_invoice_id;\n\tELSE\n\t\t-- Pagamento parcial: manter fatura fechada\n\t\tv_parcelas_pagas := 0;\n\t\tv_limite_liberado := 0;\n\tEND IF;\n\n\tRAISE NOTICE 'Pagamento realizado com sucesso!';\n\tRAISE NOTICE '  Valor pago: R$ %', v_valor_pago;\n\tRAISE NOTICE '  Valor total da fatura: R$ %', v_valor_fatura;\n\tIF v_valor_pago >= v_valor_fatura THEN\n\t\tRAISE NOTICE '  Parcelas pagas: %', v_parcelas_pagas;\n\t\tRAISE NOTICE '  Limite liberado: R$ %', v_limite_liberado;\n\t\tRAISE NOTICE '  Status: FATURA QUITADA';\n\tELSE\n\t\tRAISE NOTICE '  Status: PAGAMENTO PARCIAL';\n\tEND IF;\n\tRAISE NOTICE '  Transação de pagamento ID: %', v_payment_transaction_id;\nEND $$;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[272,2352],"id":"e90b38ed-e184-441e-98fa-afd3ca2dcf8f","name":"pay_invoice","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"get_current_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_details":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_statement":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_balance_history":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_credit_cards":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_details":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_limit_history":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_open_installments":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_upcoming_invoices":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_invoices":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_invoice_details":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_invoice_installments":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_current_invoice_by_card":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_unlinked_installments":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_paid_invoices_history":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_transactions":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_by_period":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_summary_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_transfers_between_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transaction_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_current_month_summary":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_expenses_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_monthly_comparison":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_account_balance_sheet":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_credit_cards_status":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_upcoming_invoices":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_top_expenses_current_month":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_pending_transactions":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"close_credit_card_invoice":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_account_transaction":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_credit_card_transaction":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_transfer_between_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"pay_invoice":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04a651ad-b702-42c5-8233-92b3a113ea28","activeVersionId":"04a651ad-b702-42c5-8233-92b3a113ea28","triggerCount":1,"shared":[{"updatedAt":"2025-12-28T16:27:41.757Z","createdAt":"2025-12-28T16:27:41.757Z","role":"workflow:owner","workflowId":"GscaFis0DeavfpNB","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-08T23:20:57.666Z","createdAt":"2026-01-08T23:20:55.833Z","versionId":"04a651ad-b702-42c5-8233-92b3a113ea28","workflowId":"GscaFis0DeavfpNB","nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2608,656],"id":"89a9cddd-35d8-4239-89be-b158a14d92a1","name":"Limit"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[432,2144],"id":"aeaec223-d757-4b9f-85c9-5e50acf71c0d","name":"calculadora"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3344,1008],"id":"aca8795d-a50f-4745-b5d3-02000920185e","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1488,832],"id":"796e4f7e-03d8-48f3-8155-087e4a90b8ee","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,848],"id":"f50928c7-4243-49d3-a0f5-2ef246877e0d","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3088,848],"id":"96d8f1da-35e6-43be-9118-4348890dc6c0","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3344,848],"id":"29110333-8bec-4589-9ce9-ba7f368ff1f8","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3552,848],"id":"8fbedc7b-ae38-4867-8d6e-f03edfdebd69","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,656],"id":"4cdcdce1-38ae-438f-9863-8977bd616a94","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,464],"id":"6233e846-cfad-46cd-b511-f2a921cee303","name":"Edit Fields1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2448,1008],"id":"a687878c-57dd-4c76-a943-1cc3f06d918e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4448,784],"id":"454e0e5e-7e74-4ea0-ad0b-1f3c5d8fb011","name":"Edit Fields"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1088,976],"id":"a6fa9fc1-426e-45f0-b525-a4bf990295ea","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1296,992],"id":"ab35df46-9d71-4e8f-a52c-e842d4ba65d9","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-816,976],"id":"cc20e92b-6e25-4bb5-bdbb-48417f59e5cf","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-3088,656],"id":"4260ca52-a84a-472c-8de7-bafa2a01c375","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3552,656],"id":"0b0459d8-23de-46b1-81df-204d25913b77","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3344,656],"id":"5275ea7e-0ddd-4176-8741-544f0687e70c","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-2336,1200],"id":"e24c961c-33b0-4442-a5e5-e28821d279d4","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-2896,1104],"id":"dda2385f-085b-468a-aa1e-1a6b795bb889","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3104,1440],"id":"2c82d30e-46ec-430d-95a2-f54c2025da8f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3344,480],"id":"e43fa20d-0656-4fe5-be22-4032a335a406","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3552,480],"id":"2a0fae25-52a7-4144-8ac6-c11a7cadbe7b","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3088,480],"id":"266c7b2f-86a7-4118-9724-260ec34c1dde","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4016,912],"id":"ef551126-ef14-40be-a24d-8d9f554b41d1","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2288,1008],"id":"3bd00bdf-d132-4988-b1d5-f188de27b5b1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4256,784],"id":"0dca307b-f112-4732-bad9-d60db7339b04","name":"If"},{"parameters":{"httpMethod":"POST","path":"kairo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4656,784],"id":"a72308d4-13d5-46e0-9904-6ad9fd16c23d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\nID da sessão: {{ $('Edit Fields').item.json.sessionKey }}\n","options":{"systemMessage":"=# 🤖 Agente Orquestrador Financeiro\n\nVocê é o **Agente Orquestrador Financeiro**.\nSeu papel é **entender a intenção do usuário, confirmar os dados e orquestrar tools financeiras**.\n\nVocê **NUNCA**:\n\n* executa SQL manualmente\n* calcula valores\n* altera saldo ou limite sem tool\n* expõe queries, parâmetros, logs ou tools\n* responde texto livre após executar tool de escrita\n* usa mensagens antigas como base\n* faz perguntas desnecessárias\n* mostra `[Used tools]`, `Tool:`, `Input:`, `Result:` ou metadados\n* menciona nomes técnicos de tools (create_account_transaction, etc.)\n* exibe JSON de parâmetros ou resultados\n\n---\n\n## 🔴 REGRA DE CONTEXTO (CRÍTICA)\n\n* Use **apenas a última mensagem** do usuário.\n* Se a última mensagem for **\"Sim\", \"Confirmo\", \"Ok\"**, execute **exatamente** a ação descrita na **última confirmação enviada**.\n* Se não existir confirmação anterior válida, **peça para reenviar os dados**.\n\n---\n\n## 🧾 FONTE DE VERDADE\n\n* Toda escrita financeira **DEVE** usar tool\n* Contas e cartões **existem apenas por ID**\n* Não execute escrita sem **todos os campos obrigatórios**\n* Saldos e limites vêm **apenas das tools de consulta**\n\n---\n\n## 🧰 TOOLS DISPONÍVEIS\n\n### 📝 ESCRITA (Require Confirmation)\n\n* `create_account_transaction` - Registrar receita/despesa em conta bancária\n* `create_credit_card_transaction` - Registrar compra em cartão de crédito\n* `create_transfer_between_accounts` - Transferir entre contas\n* `close_credit_card_invoice` - Fechar fatura de cartão\n* `pay_invoice` - Pagar fatura de cartão\n\n### 📊 CONSULTA - CONTAS\n\n* `list_all_accounts` - Listar todas as contas\n* `get_account_details` - Detalhes de uma conta específica\n* `get_account_statement` - Extrato de movimentação da conta\n* `get_account_balance_history` - Histórico de saldo da conta\n\n### 💳 CONSULTA - CARTÕES\n\n* `list_all_credit_cards` - Listar todos os cartões\n* `get_credit_card_details` - Detalhes de um cartão específico\n* `get_credit_card_limit_history` - Histórico de limite do cartão\n* `get_credit_card_open_installments` - Parcelas em aberto do cartão\n* `get_credit_card_upcoming_invoices` - Próximas faturas do cartão\n\n### 🧾 CONSULTA - FATURAS\n\n* `list_all_invoices` - Listar todas as faturas\n* `get_invoice_details` - Detalhes de uma fatura específica\n* `get_invoice_installments` - Parcelas de uma fatura\n* `get_current_invoice_by_card` - Fatura atual de um cartão\n* `list_unlinked_installments` - Parcelas não vinculadas a fatura\n* `list_paid_invoices_history` - Histórico de faturas pagas\n\n### 📈 CONSULTA - TRANSAÇÕES\n\n* `list_all_transactions` - Listar todas as transações\n* `get_transactions_by_period` - Transações em período específico\n* `get_transactions_summary_by_category` - Resumo por categoria\n* `list_transfers_between_accounts` - Histórico de transferências\n* `get_transaction_by_id` - Detalhes de transação específica\n\n### 📊 RELATÓRIOS\n\n* `report_current_month_summary` - Resumo do mês atual\n* `report_expenses_by_category` - Despesas por categoria\n* `report_monthly_comparison` - Comparativo mensal\n* `report_account_balance_sheet` - Balanço patrimonial\n* `report_credit_cards_status` - Status dos cartões\n* `report_upcoming_invoices` - Faturas a vencer\n* `report_top_expenses_current_month` - Maiores despesas do mês\n* `report_pending_transactions` - Transações pendentes\n\n---\n\n## 🆔 IDENTIFICAÇÃO DE CONTA / CARTÃO\n\n1. Se o usuário informar **ID**, use diretamente\n2. Se informar **nome**:\n   * Consultar `list_all_accounts` ou `list_all_credit_cards`\n   * Resolver **um único ID**\n   * Se houver múltiplas correspondências, **pedir para o usuário escolher**\n3. Nunca inventar IDs\n4. Nunca executar escrita sem ID válido\n\n---\n\n## 🧮 REGRA DE CÁLCULO\n\n❌ **PROIBIDO** calcular saldos, limites ou totais manualmente\n✅ Saldos → `get_account_details` ou `report_account_balance_sheet`\n✅ Limites → `get_credit_card_details` ou `report_credit_cards_status`\n✅ Totais → `report_current_month_summary`\n\n---\n\n## 🏷️ CLASSIFICAÇÃO AUTOMÁTICA\n\n| Situação                          | Tool                               | Natureza  |\n| --------------------------------- | ---------------------------------- | --------- |\n| Compra no crédito                 | create_credit_card_transaction     | despesa   |\n| Débito/dinheiro/PIX saída         | create_account_transaction         | despesa   |\n| Recebimento/salário/PIX entrada   | create_account_transaction         | receita   |\n| Transferência entre contas        | create_transfer_between_accounts   | N/A       |\n| Pagamento de fatura               | pay_invoice                        | despesa   |\n| Fechar ciclo do cartão            | close_credit_card_invoice          | N/A       |\n\n---\n\n## 📌 CAMPOS OBRIGATÓRIOS E PADRÕES\n\nSempre preencher quando não informado:\n\n* `data_transacao` → **CURRENT_DATE** (obtido automaticamente)\n* `status` → **'pago'** (para despesas/receitas pagas) ou **'pendente'** (para cartão)\n* `total_parcelas` → **1** (se não for parcelado)\n* `natureza` → **'despesa'** ou **'receita'** (inferir do contexto)\n* `category_id` → Perguntar se não for óbvio, ou usar categoria genérica\n\n**Campos sempre obrigatórios:**\n* `descricao` - Descrição clara da transação\n* `valor` - Valor em reais (número positivo)\n* `account_id` ou `credit_card_id` - ID da origem\n\n---\n\n## 🔁 FLUXO OBRIGATÓRIO\n\n### 1️⃣ ENTENDER INTENÇÃO\n\nIdentificar:\n\n* É receita ou despesa?\n* É em conta bancária ou cartão de crédito?\n* É parcelado? Quantas vezes?\n* É transferência entre contas?\n* Qual o impacto: saldo (conta) ou limite (cartão)?\n\n---\n\n### 2️⃣ CONFIRMAÇÃO (OBRIGATÓRIA)\n\nAntes de **qualquer tool de escrita**, mostrar exatamente:\n\n```\nVou registrar a seguinte <RECEITA/DESPESA/TRANSFERÊNCIA>:\n\nDescrição: <descricao>\nValor: R$ <valor>\nData: <data>\nOrigem: <nome da conta ou cartão> (ID: <id>)\nCategoria: <categoria>\nParcelas: <total_parcelas> (se aplicável)\nStatus: <status>\n\nConfirma?\n```\n\n**Regras:**\n\n* ❌ **NÃO** executar tool\n* ❌ **NÃO** omitir campos\n* ❌ **NÃO** prosseguir sem confirmação explícita\n* ✅ Somente **\"Sim\", \"Confirmo\", \"Ok\"** autoriza execução\n\n**Após isso, AGUARDE a resposta do usuário.**\n\n---\n\n### 3️⃣ EXECUÇÃO (SILENCIOSA)\n\nExecute **UMA ÚNICA tool** conforme o caso:\n\n| Caso                      | Tool                               | Parâmetros principais                                                                      |\n| ------------------------- | ---------------------------------- | ------------------------------------------------------------------------------------------ |\n| Receita em conta          | create_account_transaction         | descricao, valor, natureza='receita', account_id, category_id                              |\n| Despesa em conta          | create_account_transaction         | descricao, valor, natureza='despesa', account_id, category_id                              |\n| Despesa em cartão         | create_credit_card_transaction     | descricao, valor, credit_card_id, category_id, total_parcelas                              |\n| Transferência             | create_transfer_between_accounts   | valor, account_origem_id, account_destino_id                                               |\n| Pagamento de fatura       | pay_invoice                        | invoice_id, account_id, valor_pago                                                         |\n| Fechar fatura             | close_credit_card_invoice          | credit_card_id, competencia                                                                |\n\n---\n\n## 🔐 PRÉ-CONDIÇÕES (VALIDAÇÃO)\n\nAntes de executar escrita:\n\n### Para conta bancária (`create_account_transaction` com despesa):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` com o account_id\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para cartão de crédito (`create_credit_card_transaction`):\n1. **OBRIGATÓRIO:** Consultar `get_credit_card_details` com o credit_card_id\n2. Verificar que `limite_disponivel >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n### Para transferência (`create_transfer_between_accounts`):\n1. **OBRIGATÓRIO:** Consultar `get_account_details` da conta origem\n2. Verificar que `saldo_atual >= valor`\n3. Se insuficiente, **ABORTAR** e informar\n\n**NUNCA permitir saldo negativo ou limite estourado.**\n**NUNCA assumir ou calcular saldos/limites - SEMPRE consultar via tool.**\n\n### 🔇 VALIDAÇÕES DEVEM SER SILENCIOSAS\n\n**REGRA CRÍTICA:** Todas as consultas de validação (get_account_details, get_credit_card_details) são **INTERNAS** e **INVISÍVEIS** ao usuário.\n\n**❌ NUNCA mostre ao usuário:**\n```\n[Used tools: Tool: get_account_details, Input: {}, Result: [...]]\n```\n\n**✅ Se validação falhar, responda APENAS:**\n```\nSaldo insuficiente na conta <nome> (saldo atual: R$ X) para registrar a despesa de R$ Y. Por favor, informe outra conta.\n```\n\n**NUNCA mencione que executou uma tool de consulta.**\n\n---\n\n## 🏁 REGRA DE OURO (PÓS-EXECUÇÃO)\n\nApós **qualquer tool de escrita**, você **DEVE OBRIGATORIAMENTE**:\n\n### Para transação em conta:\n1. Consultar `get_account_details` com o account_id\n2. Obter saldo_atual da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nSaldo atualizado: R$ X\n```\n\n### Para transação em cartão:\n1. Consultar `get_credit_card_details` com o credit_card_id\n2. Obter limite_disponivel da resposta\n3. Responder **EXCLUSIVAMENTE**:\n```\nLimite disponível atualizado: R$ X\n```\n\n### Para transferência:\n1. Consultar `get_account_details` para conta origem\n2. Consultar `get_account_details` para conta destino\n3. Responder **EXCLUSIVAMENTE**:\n```\nTransferência concluída:\nConta origem: <nome> - Saldo atual: R$ X\nConta destino: <nome> - Saldo atual: R$ Y\n```\n\n### Para pagamento de fatura:\n```\nFatura paga com sucesso\nValor pago: R$ X\n```\n\n**⚠️ CRÍTICO:** \n- NUNCA calcule saldos na memória. SEMPRE use tools de consulta após escrita.\n- NUNCA mostre `[Used tools]`, nomes de tools, parâmetros ou resultados técnicos.\n- Responda APENAS o resultado final formatado.\n\n---\n\n## 📝 FORMATO DE RESPOSTA\n\n### ✅ PERMITIDO:\n```\nVou registrar a seguinte RECEITA:\nDescrição: Salário\nValor: R$ 5.000,00\n...\nConfirma?\n```\n\n```\nSaldo atualizado: R$ 5.000,00\n```\n\n### ❌ PROIBIDO:\n```\n[Used tools: Tool: create_account_transaction, Input: {...}, Result: {...}]\n```\n\n```\nExecutei a tool create_account_transaction com sucesso.\n```\n\n```\n{\"descricao\":\"Salário\",\"valor\":\"5000\",...}\n```\n\n**Regra:** Usuário NUNCA deve ver metadados técnicos, nomes de tools ou JSON.\n\n---\n\n## ❌ ERROS FATAIS\n\nVocê **FALHA IMEDIATAMENTE** se:\n\n1. Executar escrita sem confirmação\n2. Calcular saldo ou limite manualmente\n3. Inventar ou supor IDs\n4. Executar SQL diretamente\n5. Mostrar logs, queries ou nomes de tools para o usuário\n6. Responder texto longo após execução de escrita\n7. Usar dados de mensagens antigas após confirmação\n8. Exibir `[Used tools]`, `Tool:`, `Input:`, `Result:` ou qualquer metadado técnico\n9. Mencionar nomes de tools (create_account_transaction, get_account_details, etc.)\n10. Mostrar JSON de parâmetros ou resultados\n\n---\n\n## 💡 EXEMPLO DE FLUXO COMPLETO\n\n**Usuário:** \"Gastei 150 reais no Mercado Pago\"\n\n**Agente:**\n1. Identifica: despesa em conta\n2. Consulta `list_all_accounts` → encontra \"Mercado Pago\" (ID: 3)\n3. Responde:\n\n```\nVou registrar a seguinte DESPESA:\n\nDescrição: Compra no Mercado Pago\nValor: R$ 150,00\nData: 08/01/2026\nOrigem: Mercado Pago (ID: 3)\nCategoria: Outros\nStatus: pago\n\nConfirma?\n```\n\n**Usuário:** \"Sim\"\n\n**Agente:**\n1. Consulta `get_account_details(account_id=3)` → saldo_atual = 500\n2. Valida: 500 >= 150 ✅\n3. Executa `create_account_transaction(descricao=\"Compra no Mercado Pago\", valor=150, natureza=\"despesa\", account_id=3, ...)`\n4. Consulta `get_account_details(account_id=3)` novamente → saldo_atual = 350\n5. Responde:\n\n```\nSaldo atualizado: R$ 350,00\n```\n\n---\n\n## 🎯 MANTRA\n\n1. **Confirmar sempre**\n2. **Executar uma vez**\n3. **Responder apenas o resultado**\n\nVocê é preciso, confiável e seguro. 🔒\n","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-2096,848],"id":"c387af13-1301-4cb3-811c-e177775ab79d","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Obtém a data e hora atual do sistema. Este node deve ser usado sempre que for necessário registrar timestamps de criação ou atualização de registros, garantindo consistência temporal em todas as operações.","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[608,2144],"id":"194c7621-c16b-47da-a954-cf7dc2c3e8f1","name":"get_current_date"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4032,656],"id":"2bf5eddc-2c34-4e79-9fff-722df6f6f249","name":"No Operation, do nothing"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1120,736],"id":"55d50a42-3fb3-4803-bca4-f320000f1548","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as contas bancárias com resumo financeiro (saldo, total de receitas e despesas)","operation":"executeQuery","query":"SELECT * FROM vw_account_summary\nORDER BY nome;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2816,2144],"id":"28924d4b-3e88-47f0-848d-cedd3746fa5e","name":"list_all_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados cadastrais completos de uma conta específica","operation":"executeQuery","query":"SELECT \n\ta.id,\n\ta.nome,\n\ta.saldo_atual,\n\ta.status,\n\ta.created_at,\n\ta.updated_at\nFROM public.accounts a\nWHERE a.id = {{ $fromAI('account_id', 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2640,2144],"id":"74b6b151-5ed7-4fbe-b329-3d6e4884d7b2","name":"get_account_details","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna extrato com as últimas transações de uma conta","operation":"executeQuery","query":"SELECT \n\tt.id,\n\tt.data_transacao,\n\tt.descricao,\n\tt.natureza,\n\tt.valor,\n\tt.status,\n\tcat.nome as categoria,\n\tCASE \n\t\tWHEN t.linked_transaction_id IS NOT NULL THEN 'Transferência'\n\t\tELSE 'Normal'\n\tEND as tipo_transacao\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE t.account_id = {{ $fromAI('account_id', 'number') }}\nORDER BY t.data_transacao DESC, t.id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 30 }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2640,2320],"id":"aa79017a-7f94-4afd-9bc8-064f1aa55f1b","name":"get_account_statement","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna histórico de variação de saldo da conta com cada movimentação","operation":"executeQuery","query":"SELECT \n\tabh.id,\n\tabh.created_at,\n\tt.descricao,\n\tt.natureza,\n\tt.valor,\n\tabh.saldo_antes,\n\tabh.saldo_depois,\n\tabh.saldo_depois - abh.saldo_antes as variacao\nFROM public.account_balance_history abh\nINNER JOIN public.transactions t ON t.id = abh.transaction_id\nWHERE abh.account_id = {{ $fromAI('account_id', 'number') }}\nORDER BY abh.id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 50 }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2832,2320],"id":"6f2f0039-81aa-46dc-a145-519361b822bb","name":"get_account_balance_history","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todos os cartões de crédito com resumo de limite e utilização","operation":"executeQuery","query":"SELECT * FROM vw_credit_card_summary\nORDER BY nome;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2320,2144],"id":"7297bf9a-5d41-4002-a40b-8938e85ff935","name":"list_all_credit_cards","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados cadastrais completos de um cartão de crédito específico","operation":"executeQuery","query":"SELECT \n\tcc.id,\n\tcc.nome,\n\tcc.limite_total,\n\tcc.limite_disponivel,\n\tcc.limite_total - cc.limite_disponivel as limite_utilizado,\n\tROUND((cc.limite_total - cc.limite_disponivel) * 100.0 / cc.limite_total, 2) as percentual_utilizado,\n\tcc.dia_fechamento,\n\tcc.dia_vencimento,\n\tcc.status,\n\tcc.created_at,\n\tcc.updated_at\nFROM public.credit_cards cc\nWHERE cc.id = {{ $fromAI('credit_card_id', 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2144,2144],"id":"5a6b32c0-f7a5-42a4-aea8-a97a42f81426","name":"get_credit_card_details","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna histórico de variação de limite disponível do cartão","operation":"executeQuery","query":"SELECT \n\tclh.id,\n\tclh.created_at,\n\tt.descricao,\n\tt.natureza,\n\tt.valor,\n\tclh.limite_antes,\n\tclh.limite_depois,\n\tclh.limite_depois - clh.limite_antes as variacao\nFROM public.card_limit_history clh\nINNER JOIN public.transactions t ON t.id = clh.transaction_id\nWHERE clh.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\nORDER BY clh.id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 50 }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2320,2320],"id":"780bfffa-8c01-46aa-acdf-6968bbb8cfd4","name":"get_credit_card_limit_history","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna parcelas abertas do cartão que ainda não foram vinculadas a faturas","operation":"executeQuery","query":"SELECT \n\tci.id,\n\tci.numero_parcela,\n\tci.total_parcelas,\n\tci.valor_parcela,\n\tci.competencia,\n\tci.status,\n\tt.descricao,\n\tt.data_transacao\nFROM public.credit_installments ci\nINNER JOIN public.transactions t ON t.id = ci.transaction_id\nWHERE t.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\n\tAND ci.invoice_id IS NULL\n\tAND ci.status = 'aberta'\nORDER BY ci.competencia, t.data_transacao;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2128,2320],"id":"d4665513-aae0-4b67-a9d0-57d83d23d629","name":"get_credit_card_open_installments","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna próximas faturas do cartão (próximos 3 meses)","operation":"executeQuery","query":"SELECT \n\ti.id as invoice_id,\n\ti.competencia,\n\ti.data_fechamento,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\tCOUNT(ci.id) as total_parcelas\nFROM public.invoices i\nLEFT JOIN public.credit_installments ci ON ci.invoice_id = i.id\nWHERE i.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\n\tAND i.competencia >= date_trunc('month', CURRENT_DATE)::date\n\tAND i.competencia < date_trunc('month', CURRENT_DATE + INTERVAL '3 months')::date\nGROUP BY i.id\nORDER BY i.competencia;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-2224,2496],"id":"8d050b4a-8ee7-44ac-b4fe-decbb558194c","name":"get_credit_card_upcoming_invoices","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as faturas com resumo calculado usando view","operation":"executeQuery","query":"SELECT * FROM vw_invoice_details\nORDER BY competencia DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1808,2144],"id":"f5f5a24b-08ae-40ec-bcc5-d42ae3111e7d","name":"list_all_invoices","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados completos de uma fatura específica","operation":"executeQuery","query":"SELECT \n\ti.id,\n\ti.competencia,\n\ti.data_fechamento,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\tcc.nome as cartao,\n\ti.created_at,\n\ti.updated_at\nFROM public.invoices i\nINNER JOIN public.credit_cards cc ON cc.id = i.credit_card_id\nWHERE i.id = {{ $fromAI('Query_Parameters', `invoice_id`, 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1632,2144],"id":"d880aa5d-0813-4200-9c00-2f803fb4c0f0","name":"get_invoice_details","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna todas as parcelas vinculadas a uma fatura específica","operation":"executeQuery","query":"SELECT \n\tci.id,\n\tci.numero_parcela,\n\tci.total_parcelas,\n\tci.valor_parcela,\n\tci.competencia,\n\tci.status,\n\tt.descricao,\n\tt.data_transacao,\n\tt.valor as valor_total_compra\nFROM public.credit_installments ci\nINNER JOIN public.transactions t ON t.id = ci.transaction_id\nWHERE ci.invoice_id = {{ $fromAI('invoice_id', 'number') }}\nORDER BY t.data_transacao, ci.numero_parcela;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1808,2320],"id":"e58ad0c0-df99-423d-8ae4-ea62dbd5275b","name":"get_invoice_installments","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna fatura aberta do mês corrente de um cartão específico","operation":"executeQuery","query":"SELECT \n\ti.id,\n\ti.competencia,\n\ti.data_fechamento,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\tCOUNT(ci.id) as total_parcelas,\n\tCOALESCE(SUM(ci.valor_parcela), 0) as soma_parcelas\nFROM public.invoices i\nLEFT JOIN public.credit_installments ci ON ci.invoice_id = i.id\nWHERE i.credit_card_id = {{ $fromAI('credit_card_id', 'number') }}\n\tAND i.competencia = date_trunc('month', CURRENT_DATE)::date\nGROUP BY i.id;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1616,2320],"id":"54bdaf5a-931b-4d55-a788-70ee8c47d8e9","name":"get_current_invoice_by_card","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista parcelas abertas que ainda não foram vinculadas a faturas, agrupadas por cartão e competência","operation":"executeQuery","query":"SELECT \n\tcc.nome as cartao,\n\tci.competencia,\n\tCOUNT(ci.id) as quantidade_parcelas,\n\tSUM(ci.valor_parcela) as valor_total\nFROM public.credit_installments ci\nINNER JOIN public.transactions t ON t.id = ci.transaction_id\nINNER JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nWHERE ci.invoice_id IS NULL\n\tAND ci.status = 'aberta'\nGROUP BY cc.nome, ci.competencia\nORDER BY ci.competencia, cc.nome;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1808,2512],"id":"b88646b7-05e6-4319-9455-e9815064be21","name":"list_unlinked_installments","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna histórico de faturas pagas com informações de pagamento (últimas 12)","operation":"executeQuery","query":"SELECT \n\ti.id,\n\ti.competencia,\n\ti.valor_total,\n\ti.status,\n\tcc.nome as cartao,\n\tt.data_transacao as data_pagamento,\n\ta.nome as conta_pagamento,\n\ti.updated_at\nFROM public.invoices i\nINNER JOIN public.credit_cards cc ON cc.id = i.credit_card_id\nLEFT JOIN public.transactions t ON t.id = i.payment_transaction_id\nLEFT JOIN public.accounts a ON a.id = t.account_id\nWHERE i.status = 'paga'\nORDER BY i.competencia DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 12 }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1616,2512],"id":"0f99fcbf-f565-4121-ba2e-b29ce8faf7ea","name":"list_paid_invoices_history","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as transações com detalhes completos usando view (últimas 100)","operation":"executeQuery","query":"SELECT * FROM vw_transactions_detailed\nORDER BY data_transacao DESC, id DESC\nLIMIT {{ $fromAI('limit', 'number') ?? 100 }};\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1312,2144],"id":"4b908a48-fb96-4eef-99f2-82b7b2ca17ee","name":"list_all_transactions","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna transações filtradas por período específico","operation":"executeQuery","query":"SELECT \n\tt.id,\n\tt.data_transacao,\n\tt.descricao,\n\tt.valor,\n\tt.tipo,\n\tt.natureza,\n\tt.status,\n\tCOALESCE(a.nome, cc.nome) as origem,\n\tcat.nome as categoria\nFROM public.transactions t\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE t.data_transacao BETWEEN {{ $fromAI('start_date', 'string') }}::date \n\tAND {{ $fromAI('end_date', 'string') }}::date\nORDER BY t.data_transacao DESC, t.id DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1136,2144],"id":"2e402738-c066-4d01-af66-de6aa165aa6c","name":"get_transactions_by_period","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna resumo mensal de transações agrupadas por categoria (mês corrente)","operation":"executeQuery","query":"SELECT \n\tcat.nome as categoria,\n\tCOUNT(t.id) as quantidade,\n\tSUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE 0 END) as total_receitas,\n\tSUM(CASE WHEN t.natureza = 'despesa' THEN t.valor ELSE 0 END) as total_despesas,\n\tSUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE -t.valor END) as saldo\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE date_trunc('month', t.data_transacao) = date_trunc('month', CURRENT_DATE)\nGROUP BY cat.nome\nORDER BY total_despesas DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1312,2320],"id":"3a1d8047-dffd-4eec-a1be-7660d59f099e","name":"get_transactions_summary_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista transferências entre contas bancárias vinculadas","operation":"executeQuery","query":"SELECT \n\tt1.id as transaction_origem_id,\n\tt1.data_transacao,\n\tt1.descricao,\n\tt1.valor,\n\ta1.nome as conta_origem,\n\ta2.nome as conta_destino,\n\tt1.status\nFROM public.transactions t1\nINNER JOIN public.transactions t2 ON t2.id = t1.linked_transaction_id\nLEFT JOIN public.accounts a1 ON a1.id = t1.account_id\nLEFT JOIN public.accounts a2 ON a2.id = t2.account_id\nWHERE t1.natureza = 'despesa'\n\tAND t2.natureza = 'receita'\n\tAND t1.linked_transaction_id IS NOT NULL\nORDER BY t1.data_transacao DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1120,2320],"id":"09142294-232a-4ca0-8058-297b1723ceae","name":"list_transfers_between_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Retorna dados completos de uma transação específica por ID","operation":"executeQuery","query":"SELECT \n\tt.*,\n\ta.nome as account_name,\n\tcc.nome as credit_card_name,\n\tcat.nome as category_name\nFROM public.transactions t\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE t.id = {{ $fromAI('transaction_id', 'number') }};","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1216,2496],"id":"e31b7fbf-d165-44c9-8559-e6f5f9cf7059","name":"get_transaction_by_id","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Resumo financeiro do mês atual com total de receitas, despesas e saldo","operation":"executeQuery","query":"SELECT \n\t'Mês Atual: ' || to_char(CURRENT_DATE, 'MM/YYYY') as periodo,\n\tCOALESCE(SUM(CASE WHEN natureza = 'receita' THEN valor ELSE 0 END), 0) as total_receitas,\n\tCOALESCE(SUM(CASE WHEN natureza = 'despesa' THEN valor ELSE 0 END), 0) as total_despesas,\n\tCOALESCE(SUM(CASE WHEN natureza = 'receita' THEN valor ELSE -valor END), 0) as saldo_periodo\nFROM public.transactions\nWHERE date_trunc('month', data_transacao) = date_trunc('month', CURRENT_DATE)\n\tAND status = 'pago';","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2144],"id":"f2f3c224-2fe5-444e-b409-c7d82f0c95d4","name":"report_current_month_summary","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Despesas do mês atual agrupadas por categoria com percentual de cada uma","operation":"executeQuery","query":"SELECT \n\tCOALESCE(cat.nome, 'Sem categoria') as categoria,\n\tCOUNT(t.id) as quantidade_transacoes,\n\tSUM(t.valor) as total_gasto,\n\tROUND(SUM(t.valor) * 100.0 / NULLIF(SUM(SUM(t.valor)) OVER (), 0), 2) as percentual\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nWHERE date_trunc('month', t.data_transacao) = date_trunc('month', CURRENT_DATE)\n\tAND t.natureza = 'despesa'\n\tAND t.status = 'pago'\nGROUP BY cat.nome\nORDER BY total_gasto DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-640,2144],"id":"a03cdd06-6392-425a-81b6-cd545fa2dc41","name":"report_expenses_by_category","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Comparativo mensal de receitas, despesas e saldo dos últimos 6 meses","operation":"executeQuery","query":"SELECT \n\tto_char(date_trunc('month', t.data_transacao), 'YYYY-MM') as mes,\n\tCOALESCE(SUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE 0 END), 0) as receitas,\n\tCOALESCE(SUM(CASE WHEN t.natureza = 'despesa' THEN t.valor ELSE 0 END), 0) as despesas,\n\tCOALESCE(SUM(CASE WHEN t.natureza = 'receita' THEN t.valor ELSE -t.valor END), 0) as saldo\nFROM public.transactions t\nWHERE t.data_transacao >= date_trunc('month', CURRENT_DATE - INTERVAL '5 months')\n\tAND t.status = 'pago'\nGROUP BY date_trunc('month', t.data_transacao)\nORDER BY mes DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2320],"id":"41c827ed-ba14-43ff-8dbc-c7e6ab2a9d0d","name":"report_monthly_comparison","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Balanço patrimonial com saldo atual de todas as contas ativas e total geral","operation":"executeQuery","query":"SELECT \n\ta.nome as conta,\n\ta.saldo_atual,\n\ta.status\nFROM public.accounts a\nWHERE a.status = 'ativo'\nUNION ALL\nSELECT \n\t'TOTAL CONTAS' as conta,\n\tSUM(a.saldo_atual) as saldo_atual,\n\tNULL as status\nFROM public.accounts a\nWHERE a.status = 'ativo';","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-624,2320],"id":"0026e905-e8fc-4965-8eea-51084bd5545a","name":"report_account_balance_sheet","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Status atual de todos os cartões de crédito ativos com limite utilizado e percentual","operation":"executeQuery","query":"SELECT \n\tcc.nome as cartao,\n\tcc.limite_total,\n\tcc.limite_disponivel,\n\tcc.limite_total - cc.limite_disponivel as limite_utilizado,\n\tROUND((cc.limite_total - cc.limite_disponivel) * 100.0 / cc.limite_total, 2) as percentual_uso\nFROM public.credit_cards cc\nWHERE cc.status = 'ativo'\nORDER BY percentual_uso DESC;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2512],"id":"cd7c33d5-6382-430f-ae43-fffc43d1587a","name":"report_credit_cards_status","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Próximas faturas a vencer nos próximos 30 dias","operation":"executeQuery","query":"SELECT \n\tcc.nome as cartao,\n\ti.competencia,\n\ti.data_vencimento,\n\ti.valor_total,\n\ti.status,\n\ti.data_vencimento - CURRENT_DATE as dias_ate_vencimento\nFROM public.invoices i\nINNER JOIN public.credit_cards cc ON cc.id = i.credit_card_id\nWHERE i.status IN ('aberta', 'fechada')\n\tAND i.data_vencimento BETWEEN CURRENT_DATE AND CURRENT_DATE + INTERVAL '30 days'\nORDER BY i.data_vencimento;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-624,2512],"id":"b6fc3445-63ad-44c7-9c7d-89b50c70ae0f","name":"report_upcoming_invoices","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Maiores despesas do mês atual (top 10)","operation":"executeQuery","query":"SELECT \n\tt.data_transacao,\n\tt.descricao,\n\tt.valor,\n\tCOALESCE(cat.nome, 'Sem categoria') as categoria,\n\tCOALESCE(a.nome, cc.nome) as origem\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nWHERE date_trunc('month', t.data_transacao) = date_trunc('month', CURRENT_DATE)\n\tAND t.natureza = 'despesa'\n\tAND t.status = 'pago'\nORDER BY t.valor DESC\nLIMIT 10;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-816,2704],"id":"a59fda6d-7976-4002-bdc1-4100dfa562bb","name":"report_top_expenses_current_month","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lista todas as transações com status pendente","operation":"executeQuery","query":"SELECT \n\tt.data_transacao,\n\tt.descricao,\n\tt.valor,\n\tt.natureza,\n\tCOALESCE(cat.nome, 'Sem categoria') as categoria,\n\tCOALESCE(a.nome, cc.nome) as origem\nFROM public.transactions t\nLEFT JOIN public.categories cat ON cat.id = t.category_id\nLEFT JOIN public.accounts a ON a.id = t.account_id\nLEFT JOIN public.credit_cards cc ON cc.id = t.credit_card_id\nWHERE t.status = 'pendente'\nORDER BY t.data_transacao;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-624,2688],"id":"e3e91b4d-bb08-412f-a828-336b6f3623f2","name":"report_pending_transactions","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Fecha a fatura de um cartão de crédito para uma competência específica, vinculando todas as parcelas abertas","operation":"executeQuery","query":"DO $$\nDECLARE\n\tv_valor numeric(14, 2) := {{ $fromAI('valor', 'number') }};\n\tv_account_origem int8 := {{ $fromAI('account_origem_id', 'number') }};\n\tv_account_destino int8 := {{ $fromAI('account_destino_id', 'number') }};\n\tv_data_transacao date := COALESCE('{{ $fromAI('data_transacao', 'string') }}'::date, CURRENT_DATE);\n\tv_descricao text := COALESCE('{{ $fromAI('descricao', 'string') }}', 'Transferência entre contas');\n\tv_transaction_origem_id int8;\n\tv_transaction_destino_id int8;\nBEGIN\n\t-- Criar transação de saída (despesa na origem)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status)\n\tVALUES (v_descricao || ' - Saída', v_valor, 'debit', 'despesa', v_account_origem, v_data_transacao, 'pago')\n\tRETURNING id INTO v_transaction_origem_id;\n\n\t-- Criar transação de entrada (receita no destino)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status, linked_transaction_id)\n\tVALUES (v_descricao || ' - Entrada', v_valor, 'debit', 'receita', v_account_destino, v_data_transacao, 'pago', v_transaction_origem_id)\n\tRETURNING id INTO v_transaction_destino_id;\n\n\t-- Atualizar a transação de origem com o link reverso\n\tUPDATE public.transactions\n\tSET linked_transaction_id = v_transaction_destino_id\n\tWHERE id = v_transaction_origem_id;\n\n\tRAISE NOTICE 'Transferência criada: origem=% destino=%', v_transaction_origem_id, v_transaction_destino_id;\nEND $$;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-384,2144],"id":"effa828d-01fb-4be0-8bba-50f4376f0a3a","name":"close_credit_card_invoice","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Cria uma transação de débito (receita ou despesa) em conta bancária","operation":"executeQuery","query":"INSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, category_id, data_transacao, status)\nVALUES (\n\t'{{ $fromAI('descricao', 'string') }}',\n\t{{ $fromAI('valor', 'number') }},\n\t'debit',\n\t'{{ $fromAI('natureza', 'string') }}',\n\t{{ $fromAI('account_id', 'number') }},\n\tNULLIF('{{ $fromAI('category_id', 'number') }}', 'undefined')::int8,\n\tCOALESCE(NULLIF('{{ $fromAI('data_transacao', 'string') }}', 'undefined')::date, CURRENT_DATE),\n\tCOALESCE(NULLIF('{{ $fromAI('status', 'string') }}', 'undefined'), 'pago')\n);\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-144,2144],"id":"e4a7b374-4d30-4564-9bbb-7d7fce23ce01","name":"create_account_transaction","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Cria uma transação de débito (receita ou despesa) em conta bancária","operation":"executeQuery","query":"INSERT INTO public.transactions (descricao, valor, tipo, natureza, credit_card_id, category_id, data_transacao, status, total_parcelas)\nVALUES (\n\t'{{ $fromAI('descricao', 'string') }}',\n\t{{ $fromAI('valor', 'number') }},\n\t'credit',\n\tCOALESCE(NULLIF('{{ $fromAI('natureza', 'string') }}', 'undefined'), 'despesa'),\n\t{{ $fromAI('credit_card_id', 'number') }},\n\tNULLIF('{{ $fromAI('category_id', 'number') }}', 'undefined')::int8,\n\tCOALESCE(NULLIF('{{ $fromAI('data_transacao', 'string') }}', 'undefined')::date, CURRENT_DATE),\n\tCOALESCE(NULLIF('{{ $fromAI('status', 'string') }}', 'undefined'), 'pendente'),\n\tCOALESCE(NULLIF('{{ $fromAI('total_parcelas', 'number') }}', 'undefined')::int4, 1)\n);\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[48,2144],"id":"6ae195b7-223e-4875-ba17-41fa07486388","name":"create_credit_card_transaction","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Cria transferência entre duas contas bancárias (cria 2 transações vinculadas: despesa na origem e receita no destino)","operation":"executeQuery","query":"DO $$\nDECLARE\n\tv_valor numeric(14, 2) := {{ $fromAI('valor', 'number') }};\n\tv_account_origem int8 := {{ $fromAI('account_origem_id', 'number') }};\n\tv_account_destino int8 := {{ $fromAI('account_destino_id', 'number') }};\n\tv_data_transacao date := COALESCE(NULLIF('{{ $fromAI('data_transacao', 'string') }}', 'undefined')::date, CURRENT_DATE);\n\tv_descricao text := COALESCE(NULLIF('{{ $fromAI('descricao', 'string') }}', 'undefined'), 'Transferência entre contas');\n\tv_transaction_origem_id int8;\n\tv_transaction_destino_id int8;\nBEGIN\n\t-- Criar transação de saída (despesa na origem)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status)\n\tVALUES (v_descricao || ' - Saída', v_valor, 'debit', 'despesa', v_account_origem, v_data_transacao, 'pago')\n\tRETURNING id INTO v_transaction_origem_id;\n\n\t-- Criar transação de entrada (receita no destino)\n\tINSERT INTO public.transactions (descricao, valor, tipo, natureza, account_id, data_transacao, status, linked_transaction_id)\n\tVALUES (v_descricao || ' - Entrada', v_valor, 'debit', 'receita', v_account_destino, v_data_transacao, 'pago', v_transaction_origem_id)\n\tRETURNING id INTO v_transaction_destino_id;\n\n\t-- Atualizar a transação de origem com o link reverso\n\tUPDATE public.transactions\n\tSET linked_transaction_id = v_transaction_destino_id\n\tWHERE id = v_transaction_origem_id;\n\n\tRAISE NOTICE 'Transferência criada: origem=% destino=%', v_transaction_origem_id, v_transaction_destino_id;\nEND $$;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[256,2144],"id":"7c5327fd-86e5-456f-9c45-64240501a0d4","name":"create_transfer_between_accounts","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Paga uma fatura de cartão usando saldo de conta bancária, libera limite e marca parcelas como pagas","operation":"executeQuery","query":"DO $$\nDECLARE\n\tv_invoice_id int8 := {{ $fromAI('invoice_id', 'number') }};\n\tv_account_id int8 := {{ $fromAI('account_id', 'number') }};\n\tv_valor_pago numeric(14, 2) := {{ $fromAI('valor_pago', 'number') }};\n\tv_data_pagamento date := COALESCE(NULLIF('{{ $fromAI('data_pagamento', 'string') }}', 'undefined')::date, CURRENT_DATE);\n\tv_valor_fatura numeric(14, 2);\n\tv_credit_card_id int8;\n\tv_competencia date;\n\tv_payment_transaction_id int8;\n\tv_parcelas_pagas int4;\n\tv_limite_liberado numeric(14, 2);\n\tv_status_fatura text;\nBEGIN\n\t-- Buscar informações da fatura\n\tSELECT i.valor_total, i.credit_card_id, i.competencia, i.status\n\tINTO v_valor_fatura, v_credit_card_id, v_competencia, v_status_fatura\n\tFROM public.invoices i\n\tWHERE i.id = v_invoice_id;\n\n\tIF NOT FOUND THEN\n\t\tRAISE EXCEPTION 'Fatura % não encontrada', v_invoice_id;\n\tEND IF;\n\n\tIF v_status_fatura = 'paga' THEN\n\t\tRAISE EXCEPTION 'Fatura % já foi paga anteriormente', v_invoice_id;\n\tEND IF;\n\n\tIF v_valor_pago <= 0 THEN\n\t\tRAISE EXCEPTION 'Valor de pagamento inválido: %', v_valor_pago;\n\tEND IF;\n\n\tIF v_valor_pago > v_valor_fatura THEN\n\t\tRAISE EXCEPTION 'Valor de pagamento (%) é maior que o valor da fatura (%)', v_valor_pago, v_valor_fatura;\n\tEND IF;\n\n\t-- Criar transação de débito na conta (pagamento da fatura)\n\tINSERT INTO public.transactions (\n\t\tdescricao, \n\t\tvalor, \n\t\ttipo, \n\t\tnatureza, \n\t\taccount_id, \n\t\tdata_transacao, \n\t\tstatus\n\t)\n\tVALUES (\n\t\t'Pagamento Fatura - ' || to_char(v_competencia, 'MM/YYYY'),\n\t\tv_valor_pago,\n\t\t'debit',\n\t\t'despesa',\n\t\tv_account_id,\n\t\tv_data_pagamento,\n\t\t'pago'\n\t)\n\tRETURNING id INTO v_payment_transaction_id;\n\n\t-- Se pagamento total, marcar parcelas como pagas\n\tIF v_valor_pago >= v_valor_fatura THEN\n\t\tUPDATE public.credit_installments\n\t\tSET status = 'paga'\n\t\tWHERE invoice_id = v_invoice_id\n\t\t\tAND status = 'aberta';\n\n\t\tGET DIAGNOSTICS v_parcelas_pagas = ROW_COUNT;\n\n\t\t-- Calcular quanto de limite será liberado\n\t\tSELECT COALESCE(SUM(ci.valor_parcela), 0)\n\t\tINTO v_limite_liberado\n\t\tFROM public.credit_installments ci\n\t\tWHERE ci.invoice_id = v_invoice_id;\n\n\t\t-- Liberar limite do cartão\n\t\tUPDATE public.credit_cards\n\t\tSET limite_disponivel = LEAST(limite_total, limite_disponivel + v_limite_liberado)\n\t\tWHERE id = v_credit_card_id;\n\n\t\t-- Atualizar status da fatura para paga\n\t\tUPDATE public.invoices\n\t\tSET \n\t\t\tstatus = 'paga',\n\t\t\tpayment_transaction_id = v_payment_transaction_id,\n\t\t\tupdated_at = now()\n\t\tWHERE id = v_invoice_id;\n\tELSE\n\t\t-- Pagamento parcial: manter fatura fechada\n\t\tv_parcelas_pagas := 0;\n\t\tv_limite_liberado := 0;\n\tEND IF;\n\n\tRAISE NOTICE 'Pagamento realizado com sucesso!';\n\tRAISE NOTICE '  Valor pago: R$ %', v_valor_pago;\n\tRAISE NOTICE '  Valor total da fatura: R$ %', v_valor_fatura;\n\tIF v_valor_pago >= v_valor_fatura THEN\n\t\tRAISE NOTICE '  Parcelas pagas: %', v_parcelas_pagas;\n\t\tRAISE NOTICE '  Limite liberado: R$ %', v_limite_liberado;\n\t\tRAISE NOTICE '  Status: FATURA QUITADA';\n\tELSE\n\t\tRAISE NOTICE '  Status: PAGAMENTO PARCIAL';\n\tEND IF;\n\tRAISE NOTICE '  Transação de pagamento ID: %', v_payment_transaction_id;\nEND $$;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[272,2352],"id":"e90b38ed-e184-441e-98fa-afd3ca2dcf8f","name":"pay_invoice","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"get_current_date":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_details":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_statement":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_balance_history":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_credit_cards":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_details":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_limit_history":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_open_installments":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_upcoming_invoices":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_invoices":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_invoice_details":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_invoice_installments":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_current_invoice_by_card":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_unlinked_installments":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_paid_invoices_history":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_all_transactions":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_by_period":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_summary_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"list_transfers_between_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transaction_by_id":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_current_month_summary":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_expenses_by_category":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_monthly_comparison":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_account_balance_sheet":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_credit_cards_status":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_upcoming_invoices":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_top_expenses_current_month":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"report_pending_transactions":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"close_credit_card_invoice":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_account_transaction":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_credit_card_transaction":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_transfer_between_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"pay_invoice":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 04a651ad","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}],"error":"Your request is invalid or could not be processed by the service"}