n8n/Financial Specialist Agent V2
{"updatedAt":"2026-01-12T21:36:56.073Z","createdAt":"2026-01-11T22:00:31.044Z","id":"3M46NMujtgE53OUq","name":"Financial Specialist Agent V2","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,224],"id":"077a3c76-13f7-4197-8ce5-b0db4a8aa740","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n` +   (     $('Webhook').item.json.body['']?.message?.conversation     || ''   ) }}\n\n","type":"string"},{"id":"10210230-af91-4b09-9088-6012866f34e7","name":"remoteJid","value":"={{ $('Webhook').item.json.body[''].remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,624],"id":"5bf72996-e86f-4889-9838-8202d233da26","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Webhook').item.json.body[''].messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,400],"id":"0c8cc6cb-2691-4d35-b5d7-dcff3ee63905","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=\nContexto interno: o usuário enviou uma IMAGEM, O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário:\\n\nTipo: {{ $('Webhook').item.json.body[''].message.imageMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.imageMessage.caption }}\nDescrição:\n\n{{ $json['0'].content[0].text }}\n\nInstrução: responda confirmando o recebimento.\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,416],"id":"a36566ec-79fe-40be-bb4c-5139f08ce483","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,416],"id":"169d5741-1d90-4309-b4c6-17ee75787550","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,416],"id":"b16668e4-c216-4b6d-b059-42f95b7c31f0","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,416],"id":"f18142e9-5b24-4598-81ca-0d034203ffa1","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo:\nNome do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.title }}\nTipo do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.documentMessage.caption }}\n\nInstrução: responda confirmando o recebimento.\n\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,224],"id":"992fa436-530a-4b98-9184-ececeb613ace","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"60a1bb91-4264-41bc-92f8-ea84805d6f2b","name":"Edit Fields1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1632,560],"id":"7b34c1b7-03ea-4677-b17d-cae3525e1130","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1376,560],"id":"5319d939-7eed-4b34-b928-ae971555aa32","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,560],"id":"8926842d-dfba-42e9-ad56-4d8da38cefcd","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-48,224],"id":"a6bbad24-655d-4558-b8b0-8d20f3b1f6a4","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,224],"id":"543639c0-7663-4306-87d3-04cb91782a58","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,224],"id":"9779e0e4-9759-4566-b724-85b8ec484129","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[800,752],"id":"15002936-72e1-410f-8ee2-c614681295c6","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[320,848],"id":"807437a6-6f32-4ec8-af60-e5ce9ef74bec","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,848],"id":"c0419137-97ea-4e11-a777-ba363998e3e3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,48],"id":"49ec0c9c-f751-4dd4-b19f-a41e01641288","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,48],"id":"e94b783b-a783-4cb2-b05d-00d8be1c80a9","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,48],"id":"e47e0b99-40d7-4a2b-8304-68633b80c4bd","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body[''].messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.body[''].messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.body[''].messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.body[''].messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1040,304],"id":"d2c6123e-cad1-448e-aed8-73a3af019bdd","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[496,848],"id":"7aafa7ea-7d31-4470-8131-169dd6cac83e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363405178114557","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1328,336],"id":"2cdb0d94-c89c-45e7-8885-9fbac53cca13","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $('Webhook').item.json.body[''].pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n\n","options":{"systemMessage":"=","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[752,416],"id":"95b326e9-c6af-401d-88e4-08d7203aea88","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,384],"id":"64c76c82-8f30-466d-b15d-31370860e272","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body[''].remoteJid.replace('@g.us','') }}","tableName":"={{ $('Webhook').item.json.body[''].subject\n  .replace(/\\s+/g, '_')\n  .replace(/[^a-zA-Z0-9_]/g, '')\n}}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[640,848],"id":"f30d90b7-0cca-4302-b5f2-717e5b836b3d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"05691ae1-ec0f-4c7a-8a4e-7240088dd56a","activeVersionId":"05691ae1-ec0f-4c7a-8a4e-7240088dd56a","triggerCount":1,"shared":[{"updatedAt":"2026-01-11T22:00:31.044Z","createdAt":"2026-01-11T22:00:31.044Z","role":"workflow:owner","workflowId":"3M46NMujtgE53OUq","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-12T21:36:57.745Z","createdAt":"2026-01-12T21:36:56.077Z","versionId":"05691ae1-ec0f-4c7a-8a4e-7240088dd56a","workflowId":"3M46NMujtgE53OUq","nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,224],"id":"077a3c76-13f7-4197-8ce5-b0db4a8aa740","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n` +   (     $('Webhook').item.json.body['']?.message?.conversation     || ''   ) }}\n\n","type":"string"},{"id":"10210230-af91-4b09-9088-6012866f34e7","name":"remoteJid","value":"={{ $('Webhook').item.json.body[''].remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,624],"id":"5bf72996-e86f-4889-9838-8202d233da26","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Webhook').item.json.body[''].messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,400],"id":"0c8cc6cb-2691-4d35-b5d7-dcff3ee63905","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=\nContexto interno: o usuário enviou uma IMAGEM, O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário:\\n\nTipo: {{ $('Webhook').item.json.body[''].message.imageMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.imageMessage.caption }}\nDescrição:\n\n{{ $json['0'].content[0].text }}\n\nInstrução: responda confirmando o recebimento.\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,416],"id":"a36566ec-79fe-40be-bb4c-5139f08ce483","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,416],"id":"169d5741-1d90-4309-b4c6-17ee75787550","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,416],"id":"b16668e4-c216-4b6d-b059-42f95b7c31f0","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,416],"id":"f18142e9-5b24-4598-81ca-0d034203ffa1","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo:\nNome do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.title }}\nTipo do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.documentMessage.caption }}\n\nInstrução: responda confirmando o recebimento.\n\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,224],"id":"992fa436-530a-4b98-9184-ececeb613ace","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"60a1bb91-4264-41bc-92f8-ea84805d6f2b","name":"Edit Fields1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1632,560],"id":"7b34c1b7-03ea-4677-b17d-cae3525e1130","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1376,560],"id":"5319d939-7eed-4b34-b928-ae971555aa32","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,560],"id":"8926842d-dfba-42e9-ad56-4d8da38cefcd","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-48,224],"id":"a6bbad24-655d-4558-b8b0-8d20f3b1f6a4","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,224],"id":"543639c0-7663-4306-87d3-04cb91782a58","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,224],"id":"9779e0e4-9759-4566-b724-85b8ec484129","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[800,752],"id":"15002936-72e1-410f-8ee2-c614681295c6","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[320,848],"id":"807437a6-6f32-4ec8-af60-e5ce9ef74bec","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,848],"id":"c0419137-97ea-4e11-a777-ba363998e3e3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,48],"id":"49ec0c9c-f751-4dd4-b19f-a41e01641288","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,48],"id":"e94b783b-a783-4cb2-b05d-00d8be1c80a9","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,48],"id":"e47e0b99-40d7-4a2b-8304-68633b80c4bd","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body[''].messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.body[''].messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.body[''].messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.body[''].messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1040,304],"id":"d2c6123e-cad1-448e-aed8-73a3af019bdd","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[496,848],"id":"7aafa7ea-7d31-4470-8131-169dd6cac83e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363405178114557","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1328,336],"id":"2cdb0d94-c89c-45e7-8885-9fbac53cca13","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $('Webhook').item.json.body[''].pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n\n","options":{"systemMessage":"=","maxIterations":10,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[752,416],"id":"95b326e9-c6af-401d-88e4-08d7203aea88","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,384],"id":"64c76c82-8f30-466d-b15d-31370860e272","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body[''].remoteJid.replace('@g.us','') }}","tableName":"={{ $('Webhook').item.json.body[''].subject\n  .replace(/\\s+/g, '_')\n  .replace(/[^a-zA-Z0-9_]/g, '')\n}}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[640,848],"id":"f30d90b7-0cca-4302-b5f2-717e5b836b3d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 05691ae1","description":"","autosaved":false},"tags":[{"updatedAt":"2026-01-12T21:13:46.574Z","createdAt":"2026-01-12T21:13:46.574Z","id":"KENsOkrEhMpr0OBu","name":"Agent"},{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}],"error":"Your request is invalid or could not be processed by the service"}