n8n/Financial Specialist Agent
{"updatedAt":"2026-01-05T21:26:33.813Z","createdAt":"2025-12-28T16:27:41.757Z","id":"GscaFis0DeavfpNB","name":"Financial Specialist Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kairo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4672,768],"id":"a72308d4-13d5-46e0-9904-6ad9fd16c23d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4272,768],"id":"0dca307b-f112-4732-bad9-d60db7339b04","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"Você não tem permissão para user este canal.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4048,640],"id":"4a094817-808b-428c-afa3-d95030a6ec82","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1168,656],"id":"55d50a42-3fb3-4803-bca4-f320000f1548","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n","options":{"systemMessage":"=Você é o “Consultor Financeiro N8N”, um agente focado em registrar receitas e despesas com o mínimo de fricção possível.\n\n⚠️ REGRA CRÍTICA\nVocê NUNCA deve responder com JSON ao usuário final.\nJSON é usado EXCLUSIVAMENTE para executar tools.\nO usuário final recebe apenas mensagens humanas.\n\n══════════════\nOBJETIVO PRINCIPAL\n══════════════\nIdentificar receitas ou despesas, inferir valores padrão,\npedir UMA confirmação curta e, após confirmação,\nEXECUTAR A TOOL de registro no PostgreSQL.\n\n══════════════\nREGRAS DE CONVERSA\n══════════════\n- Nunca faça mais de uma pergunta.\n- Nunca peça dados óbvios se puder inferir.\n- Nunca explique schema ou estrutura.\n- Se faltar algo obrigatório, informe isso NO RESUMO.\n- Após confirmação, NÃO fale mais nada → execute a tool.\n\n══════════════\nPADRÕES (quando não informados)\n══════════════\n- conta: itau\n- forma_pagamento: debito\n- status (despesa): pago\n- recorrente: false\n- parcelas: 1\n- data: hoje\n\n══════════════\nCATEGORIAS PERMITIDAS\n══════════════\nDESPESA:\nMoradia, Alimentação, Transporte, Saúde, Educação,\nLazer, Assinaturas, Compras, Impostos / Taxas,\nInvestimentos, Outros\n\nRECEITA:\nSalário, Freelance / Serviços, Investimentos,\nReembolsos, Vendas, IPTV, Outros\n\n══════════════\nFLUXO OBRIGATÓRIO\n══════════════\n1. Interpretar a mensagem do usuário\n2. Identificar RECEITA ou DESPESA\n3. Inferir valores padrão\n4. Mostrar resumo curto\n5. Perguntar APENAS:\n   \"Posso registrar assim?\"\n\n══════════════\nFORMATO DO RESUMO (texto humano)\n══════════════\nVou registrar:\n• Tipo: Despesa\n• Categoria: Transporte\n• Valor: R$ 100,00\n• Data: hoje\n• Conta: Itaú\n\nPosso registrar assim?\n\n══════════════\nAPÓS CONFIRMAÇÃO\n══════════════\n- Execute a tool de INSERT UMA ÚNICA VEZ\n- Não execute nenhuma outra tool\n- Não repita a ação\n\n══════════════\nRESPOSTA FINAL AO USUÁRIO\n══════════════\n- A resposta ao usuário será gerada PELO WORKFLOW,\nexemplo:\n\"✅ Pronto! Registrei a despesa de R$ 100,00 em Transporte.\"\n\n- Após usar qualquer tool, NUNCA mencione tools, nomes de nodes ou execuções.\n- Sempre responda apenas com uma mensagem natural ao usuário.","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-2112,816],"id":"c387af13-1301-4cb3-811c-e177775ab79d","name":"AI Agent","retryOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2240,1008],"id":"3bd00bdf-d132-4988-b1d5-f188de27b5b1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4032,896],"id":"ef551126-ef14-40be-a24d-8d9f554b41d1","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,464],"id":"266c7b2f-86a7-4118-9724-260ec34c1dde","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,464],"id":"2a0fae25-52a7-4144-8ac6-c11a7cadbe7b","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,464],"id":"e43fa20d-0656-4fe5-be22-4032a335a406","name":"Convert to File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2416,1312],"id":"2c82d30e-46ec-430d-95a2-f54c2025da8f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-2912,1088],"id":"dda2385f-085b-468a-aa1e-1a6b795bb889","name":"Default Data Loader"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-2064,1216],"id":"e24c961c-33b0-4442-a5e5-e28821d279d4","name":"Query Data Tool"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,640],"id":"5275ea7e-0ddd-4176-8741-544f0687e70c","name":"Convert to File1"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,640],"id":"0b0459d8-23de-46b1-81df-204d25913b77","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-3104,640],"id":"4260ca52-a84a-472c-8de7-bafa2a01c375","name":"Insert Data to Store"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-864,896],"id":"cc20e92b-6e25-4bb5-bdbb-48417f59e5cf","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1344,896],"id":"ab35df46-9d71-4e8f-a52c-e842d4ba65d9","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1136,896],"id":"a6fa9fc1-426e-45f0-b525-a4bf990295ea","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4464,768],"id":"454e0e5e-7e74-4ea0-ad0b-1f3c5d8fb011","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2080,992],"id":"a687878c-57dd-4c76-a943-1cc3f06d918e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,448],"id":"6233e846-cfad-46cd-b511-f2a921cee303","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,640],"id":"4cdcdce1-38ae-438f-9863-8977bd616a94","name":"Edit Fields2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,832],"id":"8fbedc7b-ae38-4867-8d6e-f03edfdebd69","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,832],"id":"29110333-8bec-4589-9ce9-ba7f368ff1f8","name":"Convert to File2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,832],"id":"96d8f1da-35e6-43be-9118-4348890dc6c0","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,832],"id":"f50928c7-4243-49d3-a0f5-2ef246877e0d","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1744,800],"id":"796e4f7e-03d8-48f3-8155-087e4a90b8ee","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,992],"id":"aca8795d-a50f-4745-b5d3-02000920185e","name":"Edit Fields4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-1520,1472],"id":"aeaec223-d757-4b9f-85c9-5e50acf71c0d","name":"calculadora"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2624,640],"id":"89a9cddd-35d8-4239-89be-b158a14d92a1","name":"Limit"},{"parameters":{"descriptionType":"manual","toolDescription":"Obter data atual","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[-1360,1472],"id":"194c7621-c16b-47da-a954-cf7dc2c3e8f1","name":"Date & Time"},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receita registradas no banco de dados permitindo filtros por valor.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}","mode":"name"},"returnAll":true,"where":{"values":[{"column":"valor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `valor da receita`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,1776],"id":"ebd966f0-96b0-4722-989f-2f6058cdcbf9","name":"consultar_income_por_valor_numero","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta despesas registradas no banco de dados permitindo filtros por valor.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"returnAll":true,"where":{"values":[{"column":"valor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `valor da despesa`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,1600],"id":"f371417c-2be6-43e8-a0f2-92092dde56bf","name":"consultar_expense_por_valor_numero","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados permitindo filtros por data. \nQuando o usuário pedir por mês, converta para intervalo de datas (início do mês, início do próximo mês).","operation":"executeQuery","query":"SELECT *\nFROM income\nWHERE data >= $1\n  AND data <  $2;\n","options":{"queryReplacement":"={{ $fromAI('data_inicio', 'data inicial do filtro (YYYY-MM-DD)', 'string') }},{{ $fromAI('data_fim', 'data final do filtro (YYYY-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1520,1776],"id":"b0fb005d-d20b-4525-8c44-10df9656f279","name":"consultar_income_por_periodo_data","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta despesas registradas no banco de dados permitindo filtros por data. \nQuando o usuário pedir por mês, converta para intervalo de datas (início do mês, início do próximo mês).","operation":"executeQuery","query":"SELECT *\nFROM expense\nWHERE data >= $1\n  AND data <  $2;\n","options":{"queryReplacement":"={{ $fromAI('data_inicio', 'data inicial do filtro (YYYY-MM-DD)', 'string') }},{{ $fromAI('data_fim', 'data final do filtro (YYYY-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1520,1600],"id":"77b6c80d-48e8-4499-b273-99f0556fde55","name":"consultar_expense_por_periodo_data","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados permitindo filtros por categoria.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"returnAll":true,"where":{"values":[{"column":"categoria","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `categoria da receita`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1696,1600],"id":"7809e567-a412-43e6-ab2d-5484b98e30de","name":"consultar_expense_por_categoria_string","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados permitindo filtros por categoria.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"income","mode":"list","cachedResultName":"income"},"returnAll":true,"where":{"values":[{"column":"categoria","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `categoria das receitas`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1712,1776],"id":"b014bb8c-43c4-4f96-983f-d0fde51f7828","name":"consultar_income_por_categoria_string","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"income","mode":"list","cachedResultName":"income"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1872,1776],"id":"3c56e471-7f1d-457e-af4b-2b2dc7a52196","name":"consultar_income","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta despesas registradas no banco de dados.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1872,1616],"id":"68143da7-7c96-473e-9cdc-a50536f69dca","name":"consultar_expense","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Extraia da mensagem do usuário os dados de UMA transação financeira.\n\nA transação DEVE ser classificada como RECEITA (income).\n\nObtenha a hora com a tool.\n\nResponda APENAS com um JSON válido conforme o schema.\nNão explique, não use markdown, não faça perguntas.\n\nRegras e valores padrão:\n- Use SOMENTE as categorias permitidas abaixo\n- Se não informado, use:\n  - conta: \"itau\"\n  - forma_pagamento: \"debito\"\n  - recorrente: false\n\nCategorias permitidas:\nSalário\nFreelance / Serviços\nInvestimentos\nReembolsos\nVendas\nIPTV\nOutros\n\nSe um valor não for mencionado, infira pelo contexto.\n","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"income","mode":"list","cachedResultName":"income"},"columns":{"mappingMode":"defineBelow","value":{"recorrente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recorrente', `recorrencia`, 'boolean') }}","valor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor', `valor da receita`, 'number') }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', `nome da receita`, 'string') }}","categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `categoria da receita`, 'string') }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', `data da receita`, 'string') }}","forma_pagamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('forma_pagamento', `forma de pagamento da receita`, 'string') }}","conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conta', `conta da receita`, 'string') }}","observacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observacao', `observacao`, 'string') }}","created_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('created_at', `data de registro`, 'string') }}","updated_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', `data da ultima atualizacao nessa receita`, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"categoria","displayName":"categoria","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"forma_pagamento","displayName":"forma_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conta","displayName":"conta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recorrente","displayName":"recorrente","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"parcelas","displayName":"parcelas","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"observacao","displayName":"observacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1696,1472],"id":"35b579c9-0d98-4468-b463-94ce4778af31","name":"inserir_income","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Extraia da mensagem do usuário os dados de UMA transação financeira.\n\nA transação DEVE ser classificada como DESPESA (expense).\n\nObtenha a hora com a tool.\n\nResponda APENAS com um JSON válido conforme o schema.\nNão explique, não use markdown, não faça perguntas.\n\nRegras e valores padrão:\n- Use SOMENTE as categorias permitidas abaixo\n- Se não informado, use:\n  - conta: \"itau\"\n  - forma_pagamento: \"debito\"\n  - status: \"pago\"\n  - recorrente: false\n  - parcelas: 1\n\nCategorias permitidas:\nMoradia\nAlimentação\nTransporte\nSaúde\nEducação\nLazer\nAssinaturas\nCompras\nImpostos / Taxas\nInvestimentos\nOutros\n\nSe um valor não for mencionado, infira pelo contexto.\n","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"columns":{"mappingMode":"defineBelow","value":{"recorrente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recorrente', `recorrencia`, 'boolean') }}","valor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor', `valor da despesa`, 'number') }}","parcelas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parcelas', `quantidade de parce;as`, 'number') }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', `nome da despesa`, 'string') }}","categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `categoria da despesa`, 'string') }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', `data da despesa`, 'string') }}","forma_pagamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('forma_pagamento', `forma de pagamento da despesa`, 'string') }}","conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conta', `conta da despesa`, 'string') }}","status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `status da despesa`, 'string') }}","observacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observacao', `observacao`, 'string') }}","created_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('created_at', `data de registro`, 'string') }}","updated_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', `data da ultima atualizacao nessa despesa`, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"categoria","displayName":"categoria","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"forma_pagamento","displayName":"forma_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conta","displayName":"conta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recorrente","displayName":"recorrente","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"parcelas","displayName":"parcelas","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"observacao","displayName":"observacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1872,1472],"id":"3ebe273e-06f6-41be-9811-3924dd2ed356","name":"inserir_despesa","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income_por_valor_numero":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense_por_valor_numero":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense_por_periodo_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense_por_categoria_string":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income_por_categoria_string":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"inserir_income":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"inserir_despesa":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income_por_periodo_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"931562da-9e36-46b6-bf56-1d707b688d3b","activeVersionId":"931562da-9e36-46b6-bf56-1d707b688d3b","triggerCount":1,"shared":[{"updatedAt":"2025-12-28T16:27:41.757Z","createdAt":"2025-12-28T16:27:41.757Z","role":"workflow:owner","workflowId":"GscaFis0DeavfpNB","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-05T21:24:50.654Z","createdAt":"2026-01-05T21:24:48.476Z","versionId":"931562da-9e36-46b6-bf56-1d707b688d3b","workflowId":"GscaFis0DeavfpNB","nodes":[{"parameters":{"httpMethod":"POST","path":"kairo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4672,768],"id":"a72308d4-13d5-46e0-9904-6ad9fd16c23d","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4272,768],"id":"0dca307b-f112-4732-bad9-d60db7339b04","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"Você não tem permissão para user este canal.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4048,640],"id":"4a094817-808b-428c-afa3-d95030a6ec82","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1168,656],"id":"55d50a42-3fb3-4803-bca4-f320000f1548","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n","options":{"systemMessage":"=Você é o “Consultor Financeiro N8N”, um agente focado em registrar receitas e despesas com o mínimo de fricção possível.\n\n⚠️ REGRA CRÍTICA\nVocê NUNCA deve responder com JSON ao usuário final.\nJSON é usado EXCLUSIVAMENTE para executar tools.\nO usuário final recebe apenas mensagens humanas.\n\n══════════════\nOBJETIVO PRINCIPAL\n══════════════\nIdentificar receitas ou despesas, inferir valores padrão,\npedir UMA confirmação curta e, após confirmação,\nEXECUTAR A TOOL de registro no PostgreSQL.\n\n══════════════\nREGRAS DE CONVERSA\n══════════════\n- Nunca faça mais de uma pergunta.\n- Nunca peça dados óbvios se puder inferir.\n- Nunca explique schema ou estrutura.\n- Se faltar algo obrigatório, informe isso NO RESUMO.\n- Após confirmação, NÃO fale mais nada → execute a tool.\n\n══════════════\nPADRÕES (quando não informados)\n══════════════\n- conta: itau\n- forma_pagamento: debito\n- status (despesa): pago\n- recorrente: false\n- parcelas: 1\n- data: hoje\n\n══════════════\nCATEGORIAS PERMITIDAS\n══════════════\nDESPESA:\nMoradia, Alimentação, Transporte, Saúde, Educação,\nLazer, Assinaturas, Compras, Impostos / Taxas,\nInvestimentos, Outros\n\nRECEITA:\nSalário, Freelance / Serviços, Investimentos,\nReembolsos, Vendas, IPTV, Outros\n\n══════════════\nFLUXO OBRIGATÓRIO\n══════════════\n1. Interpretar a mensagem do usuário\n2. Identificar RECEITA ou DESPESA\n3. Inferir valores padrão\n4. Mostrar resumo curto\n5. Perguntar APENAS:\n   \"Posso registrar assim?\"\n\n══════════════\nFORMATO DO RESUMO (texto humano)\n══════════════\nVou registrar:\n• Tipo: Despesa\n• Categoria: Transporte\n• Valor: R$ 100,00\n• Data: hoje\n• Conta: Itaú\n\nPosso registrar assim?\n\n══════════════\nAPÓS CONFIRMAÇÃO\n══════════════\n- Execute a tool de INSERT UMA ÚNICA VEZ\n- Não execute nenhuma outra tool\n- Não repita a ação\n\n══════════════\nRESPOSTA FINAL AO USUÁRIO\n══════════════\n- A resposta ao usuário será gerada PELO WORKFLOW,\nexemplo:\n\"✅ Pronto! Registrei a despesa de R$ 100,00 em Transporte.\"\n\n- Após usar qualquer tool, NUNCA mencione tools, nomes de nodes ou execuções.\n- Sempre responda apenas com uma mensagem natural ao usuário.","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-2112,816],"id":"c387af13-1301-4cb3-811c-e177775ab79d","name":"AI Agent","retryOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2240,1008],"id":"3bd00bdf-d132-4988-b1d5-f188de27b5b1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4032,896],"id":"ef551126-ef14-40be-a24d-8d9f554b41d1","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,464],"id":"266c7b2f-86a7-4118-9724-260ec34c1dde","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,464],"id":"2a0fae25-52a7-4144-8ac6-c11a7cadbe7b","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,464],"id":"e43fa20d-0656-4fe5-be22-4032a335a406","name":"Convert to File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2416,1312],"id":"2c82d30e-46ec-430d-95a2-f54c2025da8f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-2912,1088],"id":"dda2385f-085b-468a-aa1e-1a6b795bb889","name":"Default Data Loader"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-2064,1216],"id":"e24c961c-33b0-4442-a5e5-e28821d279d4","name":"Query Data Tool"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,640],"id":"5275ea7e-0ddd-4176-8741-544f0687e70c","name":"Convert to File1"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,640],"id":"0b0459d8-23de-46b1-81df-204d25913b77","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-3104,640],"id":"4260ca52-a84a-472c-8de7-bafa2a01c375","name":"Insert Data to Store"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-864,896],"id":"cc20e92b-6e25-4bb5-bdbb-48417f59e5cf","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1344,896],"id":"ab35df46-9d71-4e8f-a52c-e842d4ba65d9","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1136,896],"id":"a6fa9fc1-426e-45f0-b525-a4bf990295ea","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4464,768],"id":"454e0e5e-7e74-4ea0-ad0b-1f3c5d8fb011","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2080,992],"id":"a687878c-57dd-4c76-a943-1cc3f06d918e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,448],"id":"6233e846-cfad-46cd-b511-f2a921cee303","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,640],"id":"4cdcdce1-38ae-438f-9863-8977bd616a94","name":"Edit Fields2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,832],"id":"8fbedc7b-ae38-4867-8d6e-f03edfdebd69","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,832],"id":"29110333-8bec-4589-9ce9-ba7f368ff1f8","name":"Convert to File2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,832],"id":"96d8f1da-35e6-43be-9118-4348890dc6c0","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,832],"id":"f50928c7-4243-49d3-a0f5-2ef246877e0d","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1744,800],"id":"796e4f7e-03d8-48f3-8155-087e4a90b8ee","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,992],"id":"aca8795d-a50f-4745-b5d3-02000920185e","name":"Edit Fields4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-1520,1472],"id":"aeaec223-d757-4b9f-85c9-5e50acf71c0d","name":"calculadora"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2624,640],"id":"89a9cddd-35d8-4239-89be-b158a14d92a1","name":"Limit"},{"parameters":{"descriptionType":"manual","toolDescription":"Obter data atual","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[-1360,1472],"id":"194c7621-c16b-47da-a954-cf7dc2c3e8f1","name":"Date & Time"},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receita registradas no banco de dados permitindo filtros por valor.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}","mode":"name"},"returnAll":true,"where":{"values":[{"column":"valor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `valor da receita`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,1776],"id":"ebd966f0-96b0-4722-989f-2f6058cdcbf9","name":"consultar_income_por_valor_numero","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta despesas registradas no banco de dados permitindo filtros por valor.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"returnAll":true,"where":{"values":[{"column":"valor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `valor da despesa`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1360,1600],"id":"f371417c-2be6-43e8-a0f2-92092dde56bf","name":"consultar_expense_por_valor_numero","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados permitindo filtros por data. \nQuando o usuário pedir por mês, converta para intervalo de datas (início do mês, início do próximo mês).","operation":"executeQuery","query":"SELECT *\nFROM income\nWHERE data >= $1\n  AND data <  $2;\n","options":{"queryReplacement":"={{ $fromAI('data_inicio', 'data inicial do filtro (YYYY-MM-DD)', 'string') }},{{ $fromAI('data_fim', 'data final do filtro (YYYY-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1520,1776],"id":"b0fb005d-d20b-4525-8c44-10df9656f279","name":"consultar_income_por_periodo_data","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta despesas registradas no banco de dados permitindo filtros por data. \nQuando o usuário pedir por mês, converta para intervalo de datas (início do mês, início do próximo mês).","operation":"executeQuery","query":"SELECT *\nFROM expense\nWHERE data >= $1\n  AND data <  $2;\n","options":{"queryReplacement":"={{ $fromAI('data_inicio', 'data inicial do filtro (YYYY-MM-DD)', 'string') }},{{ $fromAI('data_fim', 'data final do filtro (YYYY-MM-DD)', 'string') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1520,1600],"id":"77b6c80d-48e8-4499-b273-99f0556fde55","name":"consultar_expense_por_periodo_data","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados permitindo filtros por categoria.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"returnAll":true,"where":{"values":[{"column":"categoria","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `categoria da receita`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1696,1600],"id":"7809e567-a412-43e6-ab2d-5484b98e30de","name":"consultar_expense_por_categoria_string","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados permitindo filtros por categoria.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"income","mode":"list","cachedResultName":"income"},"returnAll":true,"where":{"values":[{"column":"categoria","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `categoria das receitas`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1712,1776],"id":"b014bb8c-43c4-4f96-983f-d0fde51f7828","name":"consultar_income_por_categoria_string","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta receitas registradas no banco de dados.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"income","mode":"list","cachedResultName":"income"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1872,1776],"id":"3c56e471-7f1d-457e-af4b-2b2dc7a52196","name":"consultar_income","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta despesas registradas no banco de dados.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1872,1616],"id":"68143da7-7c96-473e-9cdc-a50536f69dca","name":"consultar_expense","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Extraia da mensagem do usuário os dados de UMA transação financeira.\n\nA transação DEVE ser classificada como RECEITA (income).\n\nObtenha a hora com a tool.\n\nResponda APENAS com um JSON válido conforme o schema.\nNão explique, não use markdown, não faça perguntas.\n\nRegras e valores padrão:\n- Use SOMENTE as categorias permitidas abaixo\n- Se não informado, use:\n  - conta: \"itau\"\n  - forma_pagamento: \"debito\"\n  - recorrente: false\n\nCategorias permitidas:\nSalário\nFreelance / Serviços\nInvestimentos\nReembolsos\nVendas\nIPTV\nOutros\n\nSe um valor não for mencionado, infira pelo contexto.\n","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"income","mode":"list","cachedResultName":"income"},"columns":{"mappingMode":"defineBelow","value":{"recorrente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recorrente', `recorrencia`, 'boolean') }}","valor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor', `valor da receita`, 'number') }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', `nome da receita`, 'string') }}","categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `categoria da receita`, 'string') }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', `data da receita`, 'string') }}","forma_pagamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('forma_pagamento', `forma de pagamento da receita`, 'string') }}","conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conta', `conta da receita`, 'string') }}","observacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observacao', `observacao`, 'string') }}","created_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('created_at', `data de registro`, 'string') }}","updated_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', `data da ultima atualizacao nessa receita`, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"categoria","displayName":"categoria","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"forma_pagamento","displayName":"forma_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conta","displayName":"conta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recorrente","displayName":"recorrente","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"parcelas","displayName":"parcelas","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"observacao","displayName":"observacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1696,1472],"id":"35b579c9-0d98-4468-b463-94ce4778af31","name":"inserir_income","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Extraia da mensagem do usuário os dados de UMA transação financeira.\n\nA transação DEVE ser classificada como DESPESA (expense).\n\nObtenha a hora com a tool.\n\nResponda APENAS com um JSON válido conforme o schema.\nNão explique, não use markdown, não faça perguntas.\n\nRegras e valores padrão:\n- Use SOMENTE as categorias permitidas abaixo\n- Se não informado, use:\n  - conta: \"itau\"\n  - forma_pagamento: \"debito\"\n  - status: \"pago\"\n  - recorrente: false\n  - parcelas: 1\n\nCategorias permitidas:\nMoradia\nAlimentação\nTransporte\nSaúde\nEducação\nLazer\nAssinaturas\nCompras\nImpostos / Taxas\nInvestimentos\nOutros\n\nSe um valor não for mencionado, infira pelo contexto.\n","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"expense","mode":"list","cachedResultName":"expense"},"columns":{"mappingMode":"defineBelow","value":{"recorrente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recorrente', `recorrencia`, 'boolean') }}","valor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor', `valor da despesa`, 'number') }}","parcelas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parcelas', `quantidade de parce;as`, 'number') }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', `nome da despesa`, 'string') }}","categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `categoria da despesa`, 'string') }}","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', `data da despesa`, 'string') }}","forma_pagamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('forma_pagamento', `forma de pagamento da despesa`, 'string') }}","conta":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conta', `conta da despesa`, 'string') }}","status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `status da despesa`, 'string') }}","observacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observacao', `observacao`, 'string') }}","created_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('created_at', `data de registro`, 'string') }}","updated_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', `data da ultima atualizacao nessa despesa`, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"categoria","displayName":"categoria","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"forma_pagamento","displayName":"forma_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conta","displayName":"conta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recorrente","displayName":"recorrente","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"parcelas","displayName":"parcelas","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"observacao","displayName":"observacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1872,1472],"id":"3ebe273e-06f6-41be-9811-3924dd2ed356","name":"inserir_despesa","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income_por_valor_numero":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense_por_valor_numero":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense_por_periodo_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense_por_categoria_string":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income_por_categoria_string":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_expense":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"inserir_income":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"inserir_despesa":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_income_por_periodo_data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 931562da","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}]}