n8n/Financial Specialist Agent
{"updatedAt":"2026-01-16T16:06:57.897Z","createdAt":"2026-01-11T22:00:31.044Z","id":"3M46NMujtgE53OUq","name":"Financial Specialist Agent","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,224],"id":"077a3c76-13f7-4197-8ce5-b0db4a8aa740","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n` +   (     $('Webhook').item.json.body['']?.message?.conversation     || ''   ) }}\n\n","type":"string"},{"id":"10210230-af91-4b09-9088-6012866f34e7","name":"remoteJid","value":"={{ $('Webhook').item.json.body[''].remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,624],"id":"5bf72996-e86f-4889-9838-8202d233da26","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Webhook').item.json.body[''].messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,400],"id":"0c8cc6cb-2691-4d35-b5d7-dcff3ee63905","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=\nContexto interno: o usuário enviou uma IMAGEM, O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário:\\n\nTipo: {{ $('Webhook').item.json.body[''].message.imageMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.imageMessage.caption }}\nDescrição:\n\n{{ $json['0'].content[0].text }}\n\nInstrução: responda confirmando o recebimento.\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,416],"id":"a36566ec-79fe-40be-bb4c-5139f08ce483","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,416],"id":"169d5741-1d90-4309-b4c6-17ee75787550","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,416],"id":"b16668e4-c216-4b6d-b059-42f95b7c31f0","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,416],"id":"f18142e9-5b24-4598-81ca-0d034203ffa1","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo:\nNome do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.title }}\nTipo do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.documentMessage.caption }}\n\nInstrução: responda confirmando o recebimento.\n\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,224],"id":"992fa436-530a-4b98-9184-ececeb613ace","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"60a1bb91-4264-41bc-92f8-ea84805d6f2b","name":"Edit Fields1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1632,560],"id":"7b34c1b7-03ea-4677-b17d-cae3525e1130","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1376,560],"id":"5319d939-7eed-4b34-b928-ae971555aa32","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,560],"id":"8926842d-dfba-42e9-ad56-4d8da38cefcd","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-48,224],"id":"a6bbad24-655d-4558-b8b0-8d20f3b1f6a4","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,224],"id":"543639c0-7663-4306-87d3-04cb91782a58","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,224],"id":"9779e0e4-9759-4566-b724-85b8ec484129","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[800,752],"id":"15002936-72e1-410f-8ee2-c614681295c6","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[320,848],"id":"807437a6-6f32-4ec8-af60-e5ce9ef74bec","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,848],"id":"c0419137-97ea-4e11-a777-ba363998e3e3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,48],"id":"49ec0c9c-f751-4dd4-b19f-a41e01641288","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,48],"id":"e94b783b-a783-4cb2-b05d-00d8be1c80a9","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,48],"id":"e47e0b99-40d7-4a2b-8304-68633b80c4bd","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body[''].messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.body[''].messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.body[''].messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.body[''].messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1040,304],"id":"d2c6123e-cad1-448e-aed8-73a3af019bdd","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[496,848],"id":"7aafa7ea-7d31-4470-8131-169dd6cac83e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363423397213483","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1328,336],"id":"2cdb0d94-c89c-45e7-8885-9fbac53cca13","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $('Webhook').item.json.body[''].pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n\n","options":{"systemMessage":"=Você é um **agente financeiro pessoal**.\nSeu papel é **registrar transações**, **consultar saldos**, **consultar limites** e **listar transações**, **usando exclusivamente as tools disponíveis**.\n\n---\n\n## ⚠️ Regras obrigatórias\n\n* Use **apenas uma tool por resposta**\n* **Nunca invente valores ou IDs**\n* Se faltar informação, **pergunte ao usuário**\n* **Nunca execute SQL fora das tools**\n* Cartão de crédito **não usa `account_id`**\n* Conta bancária **não usa `credit_card_id`**\n* UUIDs **nunca são assumidos**\n* O usuário **normalmente informa nomes**, não IDs\n\n---\n\n## 🔧 Tools disponíveis\n\n### 📊 Consultas gerais\n* `get_account_balances` - Get current balance of all bank accounts\n* `get_credit_card_limits` - Get credit card limits, used amount and available credit\n* `get_accounts` - List all accounts with id and name\n* `get_credit_cards` - List all credit cards with id and name\n* `get_transactions` - Get financial transactions with optional filters (account, credit card, period, type)\n\n### 🔍 Consultas específicas\n* `get_account_balance_by_uuid` - Get balance of a specific account\n* `get_credit_card_limit_by_uuid` - Get limit details of a specific credit card\n* `get_transactions_by_account` - Get transactions from a specific bank account\n* `get_transactions_by_card` - Get transactions from a specific credit card\n\n### ✏️ Criar transações\n* `create_transaction_by_account` - Create a financial transaction in the bank account (income or expense) and update the balances automatically\n* `create_transaction_by_card` - Create a financial transaction on your credit card (income or expense) and update the balances automatically\n* `pay_credit_card_from_account` - It debits the balance from a bank account to pay a credit card bill, freeing up the corresponding credit limit.\n\n---\n## 📋 Valores permitidos\n\n### transaction_type\n* `income` - Receita\n* `expense` - Despesa\n* `payment` - Pagamento de cartão via conta → payment\n\n### payment_method\n* `pix` - PIX\n* `debit` - Débito\n* `credit` - Crédito\n* `cash` - Dinheiro\n* `bank_transfer` - Transferência bancária\n\n### category (Despesas)\n* `food` - Alimentação\n* `transport` - Transporte\n* `utilities` - Contas (água, luz, internet)\n* `health` - Saúde\n* `education` - Educação\n* `entertainment` - Lazer\n* `shopping` - Compras\n* `housing` - Moradia\n* `personal` - Pessoal\n* `general_expenses` - Despesas gerais\n* `subscriptions` - Assinaturas\n* `investments` - Investimentos\n* `insurance` - Seguros\n* `taxes` - Impostos\n* `debt` - Dívidas\n* `gifts` - Presentes\n* `pets` - Pets\n* `travel` - Viagens\n* `other_expenses` - Outras despesas\n\n### category (Receitas)\n* `income` - Salário\n* `freelance` - Freelance\n* `bonus` - Bônus\n* `investment_return` - Retorno de investimento\n* `refund` - Reembolso\n* `gift_received` - Presente recebido\n* `sale` - Venda\n* `other_income` - Outras receitas\n\n**O agente DEVE mapear o que o usuário falar para uma dessas categorias.**\n---\n## 🚨 Tratamento de erros\n\n### Erro: \"Insufficient balance\"\nQuando ocorrer este erro:\n1. Extraia o saldo disponível e o valor necessário da mensagem\n2. Informe o usuário de forma clara:\n\n**Exemplo:**\n> ❌ Saldo insuficiente na conta Itau.  \n> 💰 Disponível: R$ 4.150,00  \n> 📊 Necessário: R$ 5.000,00  \n> ⚠️ Faltam: R$ 850,00\n\n### Erro: \"Credit limit exceeded\"\nQuando ocorrer este erro:\n1. Extraia o limite disponível da mensagem\n2. Informe o usuário:\n\n**Exemplo:**\n> ❌ Limite excedido no cartão Nubank.  \n> 💳 Limite disponível: R$ 1.009,62  \n> 📊 Valor da compra: R$ 5.000,00\n\n### Erro: \"Invalid category\" ou \"Invalid payment_method\"\nQuando ocorrer este erro:\n1. Informe que a categoria ou método é inválido\n2. Sugira os valores corretos\n\n### Outros erros\nPara qualquer outro erro:\n* Informe o problema de forma simples\n* Não exponha detalhes técnicos\n* Sugira uma ação alternativa quando possível\n---\n\n## 🔍 Resolução de nomes → IDs (obrigatório)\n\nSempre que o usuário informar **nome** de conta ou cartão:\n\n### Conta bancária\n1. Use ➡️ `get_accounts`\n2. Identifique o `account_id`\n3. Execute a ação final\n\n### Cartão de crédito\n1. Use ➡️ `get_credit_cards`\n2. Identifique o `credit_card_id`\n3. Execute a ação final\n\n**Nunca pule esse fluxo.**\n\n---\n\n## 1️⃣ Criar transação\n\nIdentifique pelo texto do usuário:\n* ganhou / recebeu / entrou → `transaction_type = income`\n* gastou / pagou / comprou → `transaction_type = expense`\n\nIdentifique o método de pagamento:\n* pix, transferência → `payment_method = pix`\n* dinheiro, espécie → `payment_method = cash`\n* débito → `payment_method = debit`\n* crédito, cartão → `payment_method = credit`\n\n**Fluxo obrigatório:**\n\n### Para transação em conta bancária:\n1. Use ➡️ `get_accounts` para resolver o nome em `account_id`\n2. Use ➡️ `create_transaction_by_account` com os parâmetros:\n   - `account_id` (UUID)\n   - `transaction_type` (income ou expense)\n   - `amount` (número)\n   - `payment_method` (pix, cash, debit, credit)\n   - `description` (texto)\n   - `category` (texto)\n\n### Para transação em cartão de crédito:\n1. Use ➡️ `get_credit_cards` para resolver o nome em `credit_card_id`\n2. Use ➡️ `create_transaction_by_card` com os parâmetros:\n   - `credit_card_id` (UUID)\n   - `transaction_type` (income ou expense)\n   - `amount` (número)\n   - `payment_method` (credit)\n   - `description` (texto)\n   - `category` (texto)\n\nSempre confirme no final.\n\n---\n\n## 2️⃣ Consultar saldos das contas\n\nQuando o usuário pedir:\n* \"meus saldos\"\n* \"quanto tenho nas contas\"\n* \"saldo de todas as contas\"\n\nUse:\n➡️ `get_account_balances`\n\n---\n\n## 3️⃣ Consultar limites dos cartões\n\nQuando o usuário pedir:\n* \"limite dos cartões\"\n* \"quanto ainda posso gastar\"\n* \"limites disponíveis\"\n\nUse:\n➡️ `get_credit_card_limits`\n\n---\n\n## 4️⃣ Saldo de uma conta específica\n\nQuando o usuário informar **nome da conta**:\n1. Use ➡️ `get_accounts`\n2. Resolva o `account_id`\n3. Use ➡️ `get_account_balance_by_uuid`\n\n---\n\n## 5️⃣ Limite de um cartão específico\n\nQuando o usuário informar **nome do cartão**:\n1. Use ➡️ `get_credit_cards`\n2. Resolva o `credit_card_id`\n3. Use ➡️ `get_credit_card_limit_by_uuid`\n\n---\n\n## 6️⃣ Consultar transações\n\n### Todas as transações\nUse:\n➡️ `get_transactions`\n\n### Transações de uma conta específica\n1. Resolva o ID com ➡️ `get_accounts`\n2. Use ➡️ `get_transactions_by_account`\n\n### Transações de um cartão específico\n1. Resolva o ID com ➡️ `get_credit_cards`\n2. Use ➡️ `get_transactions_by_card`\n\n---\n\n## 7️⃣ Listar contas e cartões\n\nQuando o usuário pedir:\n* \"quais contas tenho\"\n* \"lista de contas\"\n\nUse:\n➡️ `get_accounts`\n\nQuando o usuário pedir:\n* \"quais cartões tenho\"\n* \"lista de cartões\"\n\nUse:\n➡️ `get_credit_cards`\n\n---\n\n## ✍️ Estilo de resposta\n\n* Curto\n* Claro\n* Objetivo\n* Sempre confirme o que foi feito\n\n**Exemplos:**\n> ✅ Transação de R$ 80,00 registrada na conta Itau.\n\n> 📊 Aqui estão seus saldos atuais.\n\n> 🔍 Últimas transações encontradas.\n\n---\n\n## 🚨 Tratamento de erros\n\nSe uma tool falhar:\n* Informe o erro ao usuário de forma clara\n* Sugira uma ação alternativa\n* Nunca exponha detalhes técnicos\n\n**Exemplo:**\n> ❌ Não foi possível registrar a transação. Verifique se a conta existe.","maxIterations":10,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[752,416],"id":"95b326e9-c6af-401d-88e4-08d7203aea88","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,384],"id":"64c76c82-8f30-466d-b15d-31370860e272","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body[''].remoteJid.replace('@g.us','') }}","tableName":"={{ $('Webhook').item.json.body[''].subject\n  .replace(/\\s+/g, '_')\n  .replace(/[^a-zA-Z0-9_]/g, '')\n}}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[640,848],"id":"f30d90b7-0cca-4302-b5f2-717e5b836b3d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres CHAT"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get current balance of all bank accounts.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  balance\nFROM account\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1744,944],"id":"0e84afc0-c143-476b-9d95-4e54408bf325","name":"get_account_balances","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get credit card limits, used amount and available credit.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  credit_limit,\n  credit_used,\n  (credit_limit - credit_used) AS credit_available,\n  closing_day,\n  due_day\nFROM credit_card\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1920,944],"id":"f9fb9521-6f43-4a8c-94a7-fdf0115420ff","name":"get_credit_card_limits","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get balance of a specific account.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  balance\nFROM account\nWHERE id = '{{ $fromAI('account_id', 'string') }}';\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1824,1104],"id":"fd31afef-02ae-4c9d-9693-08f6cf228358","name":"get_account_balance_by_uuid","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get limit details of a specific credit card.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  credit_limit,\n  credit_used,\n  (credit_limit - credit_used) AS credit_available\nFROM credit_card\nWHERE id = '{{ $fromAI('credit_card_id', 'string') }}';\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1648,1104],"id":"76a14f8d-1eab-42e9-bd0b-e1950df690e2","name":"get_credit_card_limit_by_uuid","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get financial transactions with optional filters (account, credit card, period, type).","operation":"executeQuery","query":"SELECT\n  t.id,\n  t.transaction_type,\n  t.amount,\n  t.payment_method,\n  t.description,\n  t.category,\n  t.created_at,\n  a.name AS account_name,\n  c.name AS credit_card_name\nFROM transaction t\nLEFT JOIN account a ON a.id = t.account_id\nLEFT JOIN credit_card c ON c.id = t.credit_card_id\nORDER BY t.created_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1168,1104],"id":"8ed54bcb-6440-4352-8d67-0d2c2c553948","name":"get_transactions","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"List all accounts with id and name.","operation":"executeQuery","query":"SELECT id, name\nFROM account\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1328,1104],"id":"2973e48d-8797-4f26-b32c-332ee6f0ad87","name":"get_accounts","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"List all credit cards with id and name.","operation":"executeQuery","query":"SELECT id, name\nFROM credit_card\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1408,944],"id":"b0d4a1ce-1dfc-409e-93a7-ce6a12e65397","name":"get_credit_cards","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get transactions from a specific bank account.","operation":"executeQuery","query":"SELECT\n  t.id,\n  t.transaction_type,\n  t.amount,\n  t.payment_method,\n  t.description,\n  t.category,\n  t.created_at\nFROM transaction t\nWHERE t.account_id = '{{ $fromAI('account_id', 'string') }}'::uuid\nORDER BY t.created_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1072,944],"id":"938424d6-b1b4-4052-968c-fc67b146e739","name":"get_transactions_by_account","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get transactions from a specific credit card.","operation":"executeQuery","query":"SELECT\n  t.id,\n  t.transaction_type,\n  t.amount,\n  t.payment_method,\n  t.description,\n  t.category,\n  t.created_at\nFROM transaction t\nWHERE t.credit_card_id = '{{ $fromAI('credit_card_id', 'string') }}'::uuid\nORDER BY t.created_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1248,944],"id":"318652e2-c870-4b93-9e2d-9442543baa61","name":"get_transactions_by_card","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create a financial transaction in the bank account (income or expense) and update the balances automatically.","operation":"executeQuery","query":"INSERT INTO transaction (\n  account_id,\n  transaction_type,\n  amount,\n  payment_method,\n  description,\n  category\n)\nVALUES (\n  '{{ $fromAI('account_id', 'string') }}'::uuid,\n  '{{ $fromAI('transaction_type', 'string') }}',\n  '{{ $fromAI('amount', 'number') }}',\n  '{{ $fromAI('payment_method', 'string') }}',\n  '{{ $fromAI('description', 'string') }}',\n  '{{ $fromAI('category', 'string') }}'\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1568,944],"id":"786c17c0-7505-4fad-a755-de37c407337f","name":"create_transaction_by_account","notesInFlow":false,"credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create a financial transaction on your credit card (income or expense) and update the balances automatically.","operation":"executeQuery","query":"INSERT INTO transaction (\n  credit_card_id,\n  transaction_type,\n  amount,\n  payment_method,\n  description,\n  category\n)\nVALUES (\n  '{{ $fromAI('credit_card_id', 'string') }}'::uuid,\n  '{{ $fromAI('transaction_type', 'string') }}',\n  '{{ $fromAI('amount', 'number') }}',\n  '{{ $fromAI('payment_method', 'string') }}',\n  '{{ $fromAI('description', 'string') }}',\n  '{{ $fromAI('category', 'string') }}'\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1472,1104],"id":"3109f672-217f-4418-b128-7a2385f8f78a","name":"create_transaction_by_card","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Check if account has sufficient balance for a transaction.","operation":"executeQuery","query":"SELECT\n  a.name,\n  a.balance,\n  CASE\n    WHEN a.balance >= {{ $fromAI('amount', 'number') }} THEN true\n    ELSE false\n  END AS has_sufficient_balance,\n  ({{ $fromAI('amount', 'number') }} - a.balance) AS shortage\nFROM account a\nWHERE a.id = '{{ $fromAI('account_id', 'string') }}'::uuid;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1008,1104],"id":"126b6b8b-15e2-49f3-b998-a1cd5a42f83a","name":"check_account_balance","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"It debits the balance from a bank account to pay a credit card bill, freeing up the corresponding credit limit.","operation":"executeQuery","query":"INSERT INTO public.\"transaction\" (\n    account_id,\n    credit_card_id,\n    transaction_type,\n    amount,\n    payment_method,\n    description,\n    category,\n    created_at\n) VALUES (\n    '{{ $fromAI('account_id', 'string') }}'::uuid,\n    '{{ $fromAI('credit_card_id', 'string') }}'::uuid,\n    'payment',  -- tipo da transação\n    {{ $fromAI('amount', 'number') }},\n    '{{ $fromAI('payment_method', 'string') }}',\n    '{{ $fromAI('description', 'string') }}',\n    'debt',  -- categoria válida\n    NOW()\n);\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2000,1104],"id":"39059626-60fc-47ba-9da0-c30ff7c47703","name":"pay_credit_card_from_account","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"get_account_balances":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_limits":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_balance_by_uuid":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_limit_by_uuid":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_cards":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_by_card":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_by_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_transaction_by_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_transaction_by_card":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"check_account_balance":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"pay_credit_card_from_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bf5ff28a-bb43-41a3-9da2-6c0362131ddb","activeVersionId":"bf5ff28a-bb43-41a3-9da2-6c0362131ddb","triggerCount":1,"shared":[{"updatedAt":"2026-01-11T22:00:31.044Z","createdAt":"2026-01-11T22:00:31.044Z","role":"workflow:owner","workflowId":"3M46NMujtgE53OUq","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-16T16:06:59.677Z","createdAt":"2026-01-16T16:06:57.901Z","versionId":"bf5ff28a-bb43-41a3-9da2-6c0362131ddb","workflowId":"3M46NMujtgE53OUq","nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[432,224],"id":"077a3c76-13f7-4197-8ce5-b0db4a8aa740","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n` +   (     $('Webhook').item.json.body['']?.message?.conversation     || ''   ) }}\n\n","type":"string"},{"id":"10210230-af91-4b09-9088-6012866f34e7","name":"remoteJid","value":"={{ $('Webhook').item.json.body[''].remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,624],"id":"5bf72996-e86f-4889-9838-8202d233da26","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Webhook').item.json.body[''].messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,400],"id":"0c8cc6cb-2691-4d35-b5d7-dcff3ee63905","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=\nContexto interno: o usuário enviou uma IMAGEM, O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário:\\n\nTipo: {{ $('Webhook').item.json.body[''].message.imageMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.imageMessage.caption }}\nDescrição:\n\n{{ $json['0'].content[0].text }}\n\nInstrução: responda confirmando o recebimento.\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,416],"id":"a36566ec-79fe-40be-bb4c-5139f08ce483","name":"Edit Fields3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,416],"id":"169d5741-1d90-4309-b4c6-17ee75787550","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,416],"id":"b16668e4-c216-4b6d-b059-42f95b7c31f0","name":"Convert to File2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,416],"id":"f18142e9-5b24-4598-81ca-0d034203ffa1","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"=O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo:\nNome do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.title }}\nTipo do arquivo: {{ $('Webhook').item.json.body[''].message.documentMessage.mimetype }}\nCaption: {{ $('Webhook').item.json.body[''].message.documentMessage.caption }}\n\nInstrução: responda confirmando o recebimento.\n\n","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Webhook').item.json.body[''].pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,224],"id":"992fa436-530a-4b98-9184-ececeb613ace","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $('Webhook').item.json.body[''].data.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"60a1bb91-4264-41bc-92f8-ea84805d6f2b","name":"Edit Fields1"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1632,560],"id":"7b34c1b7-03ea-4677-b17d-cae3525e1130","name":"Extract from File"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1376,560],"id":"5319d939-7eed-4b34-b928-ae971555aa32","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,560],"id":"8926842d-dfba-42e9-ad56-4d8da38cefcd","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-48,224],"id":"a6bbad24-655d-4558-b8b0-8d20f3b1f6a4","name":"Insert Data to Store"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,224],"id":"543639c0-7663-4306-87d3-04cb91782a58","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,224],"id":"9779e0e4-9759-4566-b724-85b8ec484129","name":"Convert to File1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[800,752],"id":"15002936-72e1-410f-8ee2-c614681295c6","name":"Query Data Tool"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[320,848],"id":"807437a6-6f32-4ec8-af60-e5ce9ef74bec","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,848],"id":"c0419137-97ea-4e11-a777-ba363998e3e3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-304,48],"id":"49ec0c9c-f751-4dd4-b19f-a41e01641288","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","messageId":"={{ $('Webhook').item.json.body[''].id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-512,48],"id":"e94b783b-a783-4cb2-b05d-00d8be1c80a9","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-48,48],"id":"e47e0b99-40d7-4a2b-8304-68633b80c4bd","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body[''].messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.body[''].messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.body[''].messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.body[''].messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1040,304],"id":"d2c6123e-cad1-448e-aed8-73a3af019bdd","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[496,848],"id":"7aafa7ea-7d31-4470-8131-169dd6cac83e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"httpMethod":"POST","path":"120363423397213483","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1328,336],"id":"2cdb0d94-c89c-45e7-8885-9fbac53cca13","name":"Webhook","webhookId":"537191fc-0bff-4504-85a7-bc14c63ce9dc"},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $('Webhook').item.json.body[''].pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n\n","options":{"systemMessage":"=Você é um **agente financeiro pessoal**.\nSeu papel é **registrar transações**, **consultar saldos**, **consultar limites** e **listar transações**, **usando exclusivamente as tools disponíveis**.\n\n---\n\n## ⚠️ Regras obrigatórias\n\n* Use **apenas uma tool por resposta**\n* **Nunca invente valores ou IDs**\n* Se faltar informação, **pergunte ao usuário**\n* **Nunca execute SQL fora das tools**\n* Cartão de crédito **não usa `account_id`**\n* Conta bancária **não usa `credit_card_id`**\n* UUIDs **nunca são assumidos**\n* O usuário **normalmente informa nomes**, não IDs\n\n---\n\n## 🔧 Tools disponíveis\n\n### 📊 Consultas gerais\n* `get_account_balances` - Get current balance of all bank accounts\n* `get_credit_card_limits` - Get credit card limits, used amount and available credit\n* `get_accounts` - List all accounts with id and name\n* `get_credit_cards` - List all credit cards with id and name\n* `get_transactions` - Get financial transactions with optional filters (account, credit card, period, type)\n\n### 🔍 Consultas específicas\n* `get_account_balance_by_uuid` - Get balance of a specific account\n* `get_credit_card_limit_by_uuid` - Get limit details of a specific credit card\n* `get_transactions_by_account` - Get transactions from a specific bank account\n* `get_transactions_by_card` - Get transactions from a specific credit card\n\n### ✏️ Criar transações\n* `create_transaction_by_account` - Create a financial transaction in the bank account (income or expense) and update the balances automatically\n* `create_transaction_by_card` - Create a financial transaction on your credit card (income or expense) and update the balances automatically\n* `pay_credit_card_from_account` - It debits the balance from a bank account to pay a credit card bill, freeing up the corresponding credit limit.\n\n---\n## 📋 Valores permitidos\n\n### transaction_type\n* `income` - Receita\n* `expense` - Despesa\n* `payment` - Pagamento de cartão via conta → payment\n\n### payment_method\n* `pix` - PIX\n* `debit` - Débito\n* `credit` - Crédito\n* `cash` - Dinheiro\n* `bank_transfer` - Transferência bancária\n\n### category (Despesas)\n* `food` - Alimentação\n* `transport` - Transporte\n* `utilities` - Contas (água, luz, internet)\n* `health` - Saúde\n* `education` - Educação\n* `entertainment` - Lazer\n* `shopping` - Compras\n* `housing` - Moradia\n* `personal` - Pessoal\n* `general_expenses` - Despesas gerais\n* `subscriptions` - Assinaturas\n* `investments` - Investimentos\n* `insurance` - Seguros\n* `taxes` - Impostos\n* `debt` - Dívidas\n* `gifts` - Presentes\n* `pets` - Pets\n* `travel` - Viagens\n* `other_expenses` - Outras despesas\n\n### category (Receitas)\n* `income` - Salário\n* `freelance` - Freelance\n* `bonus` - Bônus\n* `investment_return` - Retorno de investimento\n* `refund` - Reembolso\n* `gift_received` - Presente recebido\n* `sale` - Venda\n* `other_income` - Outras receitas\n\n**O agente DEVE mapear o que o usuário falar para uma dessas categorias.**\n---\n## 🚨 Tratamento de erros\n\n### Erro: \"Insufficient balance\"\nQuando ocorrer este erro:\n1. Extraia o saldo disponível e o valor necessário da mensagem\n2. Informe o usuário de forma clara:\n\n**Exemplo:**\n> ❌ Saldo insuficiente na conta Itau.  \n> 💰 Disponível: R$ 4.150,00  \n> 📊 Necessário: R$ 5.000,00  \n> ⚠️ Faltam: R$ 850,00\n\n### Erro: \"Credit limit exceeded\"\nQuando ocorrer este erro:\n1. Extraia o limite disponível da mensagem\n2. Informe o usuário:\n\n**Exemplo:**\n> ❌ Limite excedido no cartão Nubank.  \n> 💳 Limite disponível: R$ 1.009,62  \n> 📊 Valor da compra: R$ 5.000,00\n\n### Erro: \"Invalid category\" ou \"Invalid payment_method\"\nQuando ocorrer este erro:\n1. Informe que a categoria ou método é inválido\n2. Sugira os valores corretos\n\n### Outros erros\nPara qualquer outro erro:\n* Informe o problema de forma simples\n* Não exponha detalhes técnicos\n* Sugira uma ação alternativa quando possível\n---\n\n## 🔍 Resolução de nomes → IDs (obrigatório)\n\nSempre que o usuário informar **nome** de conta ou cartão:\n\n### Conta bancária\n1. Use ➡️ `get_accounts`\n2. Identifique o `account_id`\n3. Execute a ação final\n\n### Cartão de crédito\n1. Use ➡️ `get_credit_cards`\n2. Identifique o `credit_card_id`\n3. Execute a ação final\n\n**Nunca pule esse fluxo.**\n\n---\n\n## 1️⃣ Criar transação\n\nIdentifique pelo texto do usuário:\n* ganhou / recebeu / entrou → `transaction_type = income`\n* gastou / pagou / comprou → `transaction_type = expense`\n\nIdentifique o método de pagamento:\n* pix, transferência → `payment_method = pix`\n* dinheiro, espécie → `payment_method = cash`\n* débito → `payment_method = debit`\n* crédito, cartão → `payment_method = credit`\n\n**Fluxo obrigatório:**\n\n### Para transação em conta bancária:\n1. Use ➡️ `get_accounts` para resolver o nome em `account_id`\n2. Use ➡️ `create_transaction_by_account` com os parâmetros:\n   - `account_id` (UUID)\n   - `transaction_type` (income ou expense)\n   - `amount` (número)\n   - `payment_method` (pix, cash, debit, credit)\n   - `description` (texto)\n   - `category` (texto)\n\n### Para transação em cartão de crédito:\n1. Use ➡️ `get_credit_cards` para resolver o nome em `credit_card_id`\n2. Use ➡️ `create_transaction_by_card` com os parâmetros:\n   - `credit_card_id` (UUID)\n   - `transaction_type` (income ou expense)\n   - `amount` (número)\n   - `payment_method` (credit)\n   - `description` (texto)\n   - `category` (texto)\n\nSempre confirme no final.\n\n---\n\n## 2️⃣ Consultar saldos das contas\n\nQuando o usuário pedir:\n* \"meus saldos\"\n* \"quanto tenho nas contas\"\n* \"saldo de todas as contas\"\n\nUse:\n➡️ `get_account_balances`\n\n---\n\n## 3️⃣ Consultar limites dos cartões\n\nQuando o usuário pedir:\n* \"limite dos cartões\"\n* \"quanto ainda posso gastar\"\n* \"limites disponíveis\"\n\nUse:\n➡️ `get_credit_card_limits`\n\n---\n\n## 4️⃣ Saldo de uma conta específica\n\nQuando o usuário informar **nome da conta**:\n1. Use ➡️ `get_accounts`\n2. Resolva o `account_id`\n3. Use ➡️ `get_account_balance_by_uuid`\n\n---\n\n## 5️⃣ Limite de um cartão específico\n\nQuando o usuário informar **nome do cartão**:\n1. Use ➡️ `get_credit_cards`\n2. Resolva o `credit_card_id`\n3. Use ➡️ `get_credit_card_limit_by_uuid`\n\n---\n\n## 6️⃣ Consultar transações\n\n### Todas as transações\nUse:\n➡️ `get_transactions`\n\n### Transações de uma conta específica\n1. Resolva o ID com ➡️ `get_accounts`\n2. Use ➡️ `get_transactions_by_account`\n\n### Transações de um cartão específico\n1. Resolva o ID com ➡️ `get_credit_cards`\n2. Use ➡️ `get_transactions_by_card`\n\n---\n\n## 7️⃣ Listar contas e cartões\n\nQuando o usuário pedir:\n* \"quais contas tenho\"\n* \"lista de contas\"\n\nUse:\n➡️ `get_accounts`\n\nQuando o usuário pedir:\n* \"quais cartões tenho\"\n* \"lista de cartões\"\n\nUse:\n➡️ `get_credit_cards`\n\n---\n\n## ✍️ Estilo de resposta\n\n* Curto\n* Claro\n* Objetivo\n* Sempre confirme o que foi feito\n\n**Exemplos:**\n> ✅ Transação de R$ 80,00 registrada na conta Itau.\n\n> 📊 Aqui estão seus saldos atuais.\n\n> 🔍 Últimas transações encontradas.\n\n---\n\n## 🚨 Tratamento de erros\n\nSe uma tool falhar:\n* Informe o erro ao usuário de forma clara\n* Sugira uma ação alternativa\n* Nunca exponha detalhes técnicos\n\n**Exemplo:**\n> ❌ Não foi possível registrar a transação. Verifique se a conta existe.","maxIterations":10,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[752,416],"id":"95b326e9-c6af-401d-88e4-08d7203aea88","name":"Principal Agent","retryOnFail":true,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body[''].instance }}","remoteJid":"={{ $('Webhook').item.json.body[''].remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,384],"id":"64c76c82-8f30-466d-b15d-31370860e272","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body[''].remoteJid.replace('@g.us','') }}","tableName":"={{ $('Webhook').item.json.body[''].subject\n  .replace(/\\s+/g, '_')\n  .replace(/[^a-zA-Z0-9_]/g, '')\n}}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[640,848],"id":"f30d90b7-0cca-4302-b5f2-717e5b836b3d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres CHAT"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get current balance of all bank accounts.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  balance\nFROM account\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1744,944],"id":"0e84afc0-c143-476b-9d95-4e54408bf325","name":"get_account_balances","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get credit card limits, used amount and available credit.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  credit_limit,\n  credit_used,\n  (credit_limit - credit_used) AS credit_available,\n  closing_day,\n  due_day\nFROM credit_card\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1920,944],"id":"f9fb9521-6f43-4a8c-94a7-fdf0115420ff","name":"get_credit_card_limits","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get balance of a specific account.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  balance\nFROM account\nWHERE id = '{{ $fromAI('account_id', 'string') }}';\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1824,1104],"id":"fd31afef-02ae-4c9d-9693-08f6cf228358","name":"get_account_balance_by_uuid","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get limit details of a specific credit card.","operation":"executeQuery","query":"SELECT\n  id,\n  name,\n  credit_limit,\n  credit_used,\n  (credit_limit - credit_used) AS credit_available\nFROM credit_card\nWHERE id = '{{ $fromAI('credit_card_id', 'string') }}';\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1648,1104],"id":"76a14f8d-1eab-42e9-bd0b-e1950df690e2","name":"get_credit_card_limit_by_uuid","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get financial transactions with optional filters (account, credit card, period, type).","operation":"executeQuery","query":"SELECT\n  t.id,\n  t.transaction_type,\n  t.amount,\n  t.payment_method,\n  t.description,\n  t.category,\n  t.created_at,\n  a.name AS account_name,\n  c.name AS credit_card_name\nFROM transaction t\nLEFT JOIN account a ON a.id = t.account_id\nLEFT JOIN credit_card c ON c.id = t.credit_card_id\nORDER BY t.created_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1168,1104],"id":"8ed54bcb-6440-4352-8d67-0d2c2c553948","name":"get_transactions","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"List all accounts with id and name.","operation":"executeQuery","query":"SELECT id, name\nFROM account\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1328,1104],"id":"2973e48d-8797-4f26-b32c-332ee6f0ad87","name":"get_accounts","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"List all credit cards with id and name.","operation":"executeQuery","query":"SELECT id, name\nFROM credit_card\nORDER BY name;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1408,944],"id":"b0d4a1ce-1dfc-409e-93a7-ce6a12e65397","name":"get_credit_cards","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get transactions from a specific bank account.","operation":"executeQuery","query":"SELECT\n  t.id,\n  t.transaction_type,\n  t.amount,\n  t.payment_method,\n  t.description,\n  t.category,\n  t.created_at\nFROM transaction t\nWHERE t.account_id = '{{ $fromAI('account_id', 'string') }}'::uuid\nORDER BY t.created_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1072,944],"id":"938424d6-b1b4-4052-968c-fc67b146e739","name":"get_transactions_by_account","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get transactions from a specific credit card.","operation":"executeQuery","query":"SELECT\n  t.id,\n  t.transaction_type,\n  t.amount,\n  t.payment_method,\n  t.description,\n  t.category,\n  t.created_at\nFROM transaction t\nWHERE t.credit_card_id = '{{ $fromAI('credit_card_id', 'string') }}'::uuid\nORDER BY t.created_at DESC\nLIMIT 50;\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1248,944],"id":"318652e2-c870-4b93-9e2d-9442543baa61","name":"get_transactions_by_card","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create a financial transaction in the bank account (income or expense) and update the balances automatically.","operation":"executeQuery","query":"INSERT INTO transaction (\n  account_id,\n  transaction_type,\n  amount,\n  payment_method,\n  description,\n  category\n)\nVALUES (\n  '{{ $fromAI('account_id', 'string') }}'::uuid,\n  '{{ $fromAI('transaction_type', 'string') }}',\n  '{{ $fromAI('amount', 'number') }}',\n  '{{ $fromAI('payment_method', 'string') }}',\n  '{{ $fromAI('description', 'string') }}',\n  '{{ $fromAI('category', 'string') }}'\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1568,944],"id":"786c17c0-7505-4fad-a755-de37c407337f","name":"create_transaction_by_account","notesInFlow":false,"credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create a financial transaction on your credit card (income or expense) and update the balances automatically.","operation":"executeQuery","query":"INSERT INTO transaction (\n  credit_card_id,\n  transaction_type,\n  amount,\n  payment_method,\n  description,\n  category\n)\nVALUES (\n  '{{ $fromAI('credit_card_id', 'string') }}'::uuid,\n  '{{ $fromAI('transaction_type', 'string') }}',\n  '{{ $fromAI('amount', 'number') }}',\n  '{{ $fromAI('payment_method', 'string') }}',\n  '{{ $fromAI('description', 'string') }}',\n  '{{ $fromAI('category', 'string') }}'\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1472,1104],"id":"3109f672-217f-4418-b128-7a2385f8f78a","name":"create_transaction_by_card","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Check if account has sufficient balance for a transaction.","operation":"executeQuery","query":"SELECT\n  a.name,\n  a.balance,\n  CASE\n    WHEN a.balance >= {{ $fromAI('amount', 'number') }} THEN true\n    ELSE false\n  END AS has_sufficient_balance,\n  ({{ $fromAI('amount', 'number') }} - a.balance) AS shortage\nFROM account a\nWHERE a.id = '{{ $fromAI('account_id', 'string') }}'::uuid;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1008,1104],"id":"126b6b8b-15e2-49f3-b998-a1cd5a42f83a","name":"check_account_balance","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}},{"parameters":{"descriptionType":"manual","toolDescription":"It debits the balance from a bank account to pay a credit card bill, freeing up the corresponding credit limit.","operation":"executeQuery","query":"INSERT INTO public.\"transaction\" (\n    account_id,\n    credit_card_id,\n    transaction_type,\n    amount,\n    payment_method,\n    description,\n    category,\n    created_at\n) VALUES (\n    '{{ $fromAI('account_id', 'string') }}'::uuid,\n    '{{ $fromAI('credit_card_id', 'string') }}'::uuid,\n    'payment',  -- tipo da transação\n    {{ $fromAI('amount', 'number') }},\n    '{{ $fromAI('payment_method', 'string') }}',\n    '{{ $fromAI('description', 'string') }}',\n    'debt',  -- categoria válida\n    NOW()\n);\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2000,1104],"id":"39059626-60fc-47ba-9da0-c30ff7c47703","name":"pay_credit_card_from_account","credentials":{"postgres":{"id":"IKeHxsEtcP7OvPHT","name":"Postgres APP"}}}],"connections":{"Limit":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Principal Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Principal Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Principal Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Principal Agent","type":"ai_memory","index":0}]]},"get_account_balances":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_limits":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_account_balance_by_uuid":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_card_limit_by_uuid":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_credit_cards":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_accounts":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_by_card":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"get_transactions_by_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_transaction_by_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"create_transaction_by_card":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"check_account_balance":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]},"pay_credit_card_from_account":{"ai_tool":[[{"node":"Principal Agent","type":"ai_tool","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version bf5ff28a","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"},{"updatedAt":"2026-01-12T21:13:46.574Z","createdAt":"2026-01-12T21:13:46.574Z","id":"KENsOkrEhMpr0OBu","name":"Agent"}],"error":"Your request is invalid or could not be processed by the service"}