n8n/Gateway
{"updatedAt":"2026-01-12T17:05:18.376Z","createdAt":"2026-01-11T22:00:46.530Z","id":"le39cEejs7vSROsc","name":"Gateway","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agent","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,-80],"id":"be082df1-96b7-4973-ab3a-19920902f402","name":"Webhook","webhookId":"a29acf28-c8e0-451f-b5c6-c6d57abe9363"},{"parameters":{"assignments":{"assignments":[{"id":"1924cac5-cbcf-4cc5-8b82-ac3ed0ac0bec","name":"body.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"1223e2d4-461d-4866-a989-4bc122c804bb","name":"body.data.key.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"01f297ac-6ac1-4fde-9a08-55a1c744191e","name":"body.data.pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"0acb1df7-9120-43c5-987a-acc92244c01b","name":"body.data.message","value":"={{ $json.body.data.message }}","type":"object"},{"id":"85c85e0a-b75d-40c2-a6a5-9e5d3899674a","name":"body.data.messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"0a346075-90cc-4de8-814f-6ceef56587c0","name":"body.data.key.id","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-80],"id":"be00838f-85ff-40c1-8c95-ec9469fb5501","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/{{ $json.body.data.key.remoteJid.replace('@g.us','') }}\n","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json.body }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,-80],"id":"a33f44e0-53c9-4ea3-b2bd-450d8ceeaf01","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"10216127-2856-427c-9892-aa219da0138f","activeVersionId":"10216127-2856-427c-9892-aa219da0138f","triggerCount":1,"shared":[{"updatedAt":"2026-01-11T22:00:46.530Z","createdAt":"2026-01-11T22:00:46.530Z","role":"workflow:owner","workflowId":"le39cEejs7vSROsc","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-12T17:05:21.444Z","createdAt":"2026-01-12T17:05:18.379Z","versionId":"10216127-2856-427c-9892-aa219da0138f","workflowId":"le39cEejs7vSROsc","nodes":[{"parameters":{"httpMethod":"POST","path":"agent","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,-80],"id":"be082df1-96b7-4973-ab3a-19920902f402","name":"Webhook","webhookId":"a29acf28-c8e0-451f-b5c6-c6d57abe9363"},{"parameters":{"assignments":{"assignments":[{"id":"1924cac5-cbcf-4cc5-8b82-ac3ed0ac0bec","name":"body.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"1223e2d4-461d-4866-a989-4bc122c804bb","name":"body.data.key.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"01f297ac-6ac1-4fde-9a08-55a1c744191e","name":"body.data.pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"0acb1df7-9120-43c5-987a-acc92244c01b","name":"body.data.message","value":"={{ $json.body.data.message }}","type":"object"},{"id":"85c85e0a-b75d-40c2-a6a5-9e5d3899674a","name":"body.data.messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"0a346075-90cc-4de8-814f-6ceef56587c0","name":"body.data.key.id","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-80],"id":"be00838f-85ff-40c1-8c95-ec9469fb5501","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/{{ $json.body.data.key.remoteJid.replace('@g.us','') }}\n","sendBody":true,"bodyParameters":{"parameters":[{"name":"=","value":"={{ $json.body }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,-80],"id":"a33f44e0-53c9-4ea3-b2bd-450d8ceeaf01","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 10216127","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}],"error":"Your request is invalid or could not be processed by the service"}