n8n/Periodic Backup
{"updatedAt":"2026-01-12T21:14:14.003Z","createdAt":"2025-12-28T16:27:11.477Z","id":"aaq5z9gjAMKWAlCO","name":"Periodic Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Caiohenrks","mode":"list","cachedResultName":"Caiohenrks","cachedResultUrl":"https://github.com/Caiohenrks"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/Caiohenrks/n8n-backup"},"filePath":"=n8n/{{ $json.name }}","fileContent":"={{ $json.toJsonString() }}","commitMessage":"={{ $json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[512,0],"id":"dde6f073-1d05-4321-bb1a-5f32d74420e0","name":"Create a file","webhookId":"434b7384-0c3c-4486-b72a-3ab5d54856db","executeOnce":false,"retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"ISEuxGLGMr618eKi","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Caiohenrks","mode":"list","cachedResultName":"Caiohenrks","cachedResultUrl":"https://github.com/Caiohenrks"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/Caiohenrks/n8n-backup"},"filePath":"=n8n/{{ $json.name }}","fileContent":"={{ $json.toJsonString() }}","commitMessage":"={{ $('Get many workflows').item.json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[720,96],"id":"c9db72bb-16d6-4c52-93ec-284755f4b874","name":"Edit a file","webhookId":"949e4569-3dfd-4ecf-8fb4-2d4c99663024","credentials":{"githubApi":{"id":"ISEuxGLGMr618eKi","name":"GitHub account"}}},{"parameters":{"returnAll":false,"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,0],"id":"1fb8531d-c132-4acc-96cd-aa68986dd7aa","name":"Get many workflows","credentials":{"n8nApi":{"id":"KE5nzeYOItt0uw8k","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"d31a1cba-192a-4cf1-9334-08bee6299154","name":"Schedule Trigger"}],"connections":{"Create a file":{"main":[[],[{"node":"Edit a file","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb1d8b60-f15d-4907-9cad-738ba1c6b8f1","activeVersionId":"eb1d8b60-f15d-4907-9cad-738ba1c6b8f1","triggerCount":1,"shared":[{"updatedAt":"2025-12-28T16:27:11.477Z","createdAt":"2025-12-28T16:27:11.477Z","role":"workflow:owner","workflowId":"aaq5z9gjAMKWAlCO","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-12T17:08:03.135Z","createdAt":"2026-01-12T17:08:01.666Z","versionId":"eb1d8b60-f15d-4907-9cad-738ba1c6b8f1","workflowId":"aaq5z9gjAMKWAlCO","nodes":[{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Caiohenrks","mode":"list","cachedResultName":"Caiohenrks","cachedResultUrl":"https://github.com/Caiohenrks"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/Caiohenrks/n8n-backup"},"filePath":"=n8n/{{ $json.name }}","fileContent":"={{ $json.toJsonString() }}","commitMessage":"={{ $json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[512,0],"id":"dde6f073-1d05-4321-bb1a-5f32d74420e0","name":"Create a file","webhookId":"434b7384-0c3c-4486-b72a-3ab5d54856db","executeOnce":false,"retryOnFail":false,"maxTries":2,"credentials":{"githubApi":{"id":"ISEuxGLGMr618eKi","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Caiohenrks","mode":"list","cachedResultName":"Caiohenrks","cachedResultUrl":"https://github.com/Caiohenrks"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/Caiohenrks/n8n-backup"},"filePath":"=n8n/{{ $json.name }}","fileContent":"={{ $json.toJsonString() }}","commitMessage":"={{ $('Get many workflows').item.json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[720,96],"id":"c9db72bb-16d6-4c52-93ec-284755f4b874","name":"Edit a file","webhookId":"949e4569-3dfd-4ecf-8fb4-2d4c99663024","credentials":{"githubApi":{"id":"ISEuxGLGMr618eKi","name":"GitHub account"}}},{"parameters":{"returnAll":false,"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,0],"id":"1fb8531d-c132-4acc-96cd-aa68986dd7aa","name":"Get many workflows","credentials":{"n8nApi":{"id":"KE5nzeYOItt0uw8k","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"d31a1cba-192a-4cf1-9334-08bee6299154","name":"Schedule Trigger"}],"connections":{"Create a file":{"main":[[],[{"node":"Edit a file","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version eb1d8b60","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"},{"updatedAt":"2026-01-12T21:14:00.155Z","createdAt":"2026-01-12T21:14:00.155Z","id":"eOp5ZidNU13xiknU","name":"Tool"}],"error":"Your request is invalid or could not be processed by the service"}