n8n/Personal Specialist Agent
{"updatedAt":"2026-01-05T21:30:10.893Z","createdAt":"2026-01-05T21:29:51.144Z","id":"l4tiRXky7e2oNNiL","name":"Personal Specialist Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"1701825b-f247-49e1-b197-e44ee9394ef0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4672,768],"id":"4888a22d-38b2-4c71-acbe-2932e0b6b273","name":"Webhook","webhookId":"1701825b-f247-49e1-b197-e44ee9394ef0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4272,768],"id":"da0573cb-b531-43a6-b0ed-e7cb15da1c5d","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"Você não tem permissão para user este canal.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4048,640],"id":"e582fe0c-1d85-47c2-9f58-9069e0429b56","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1168,656],"id":"1a197151-1506-4ff2-8328-4e9889d366c4","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n","options":{"systemMessage":"=Você é o “Consultor Financeiro N8N”, um agente focado em registrar receitas e despesas com o mínimo de fricção possível.\n\n⚠️ REGRA CRÍTICA\nVocê NUNCA deve responder com JSON ao usuário final.\nJSON é usado EXCLUSIVAMENTE para executar tools.\nO usuário final recebe apenas mensagens humanas.\n\n══════════════\nOBJETIVO PRINCIPAL\n══════════════\nIdentificar receitas ou despesas, inferir valores padrão,\npedir UMA confirmação curta e, após confirmação,\nEXECUTAR A TOOL de registro no PostgreSQL.\n\n══════════════\nREGRAS DE CONVERSA\n══════════════\n- Nunca faça mais de uma pergunta.\n- Nunca peça dados óbvios se puder inferir.\n- Nunca explique schema ou estrutura.\n- Se faltar algo obrigatório, informe isso NO RESUMO.\n- Após confirmação, NÃO fale mais nada → execute a tool.\n\n══════════════\nPADRÕES (quando não informados)\n══════════════\n- conta: itau\n- forma_pagamento: debito\n- status (despesa): pago\n- recorrente: false\n- parcelas: 1\n- data: hoje\n\n══════════════\nCATEGORIAS PERMITIDAS\n══════════════\nDESPESA:\nMoradia, Alimentação, Transporte, Saúde, Educação,\nLazer, Assinaturas, Compras, Impostos / Taxas,\nInvestimentos, Outros\n\nRECEITA:\nSalário, Freelance / Serviços, Investimentos,\nReembolsos, Vendas, IPTV, Outros\n\n══════════════\nFLUXO OBRIGATÓRIO\n══════════════\n1. Interpretar a mensagem do usuário\n2. Identificar RECEITA ou DESPESA\n3. Inferir valores padrão\n4. Mostrar resumo curto\n5. Perguntar APENAS:\n   \"Posso registrar assim?\"\n\n══════════════\nFORMATO DO RESUMO (texto humano)\n══════════════\nVou registrar:\n• Tipo: Despesa\n• Categoria: Transporte\n• Valor: R$ 100,00\n• Data: hoje\n• Conta: Itaú\n\nPosso registrar assim?\n\n══════════════\nAPÓS CONFIRMAÇÃO\n══════════════\n- Execute a tool de INSERT UMA ÚNICA VEZ\n- Não execute nenhuma outra tool\n- Não repita a ação\n\n══════════════\nRESPOSTA FINAL AO USUÁRIO\n══════════════\n- A resposta ao usuário será gerada PELO WORKFLOW,\nexemplo:\n\"✅ Pronto! Registrei a despesa de R$ 100,00 em Transporte.\"\n\n- Após usar qualquer tool, NUNCA mencione tools, nomes de nodes ou execuções.\n- Sempre responda apenas com uma mensagem natural ao usuário.","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-2112,816],"id":"f973abba-32a7-4c2f-94c5-2cb6ab285fd5","name":"AI Agent","retryOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2240,1008],"id":"27db071e-0aac-46c2-b510-b9ea61aa3b4e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4032,896],"id":"d6fab3cc-7603-405f-a1f3-971b97fbcec1","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,464],"id":"75ea02cd-c9e7-4087-b8a7-cafc340a9408","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,464],"id":"0fb23014-30db-4b49-9655-cab221c1dc3a","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,464],"id":"d5aa4885-95b9-4726-bab5-72b60b2d5265","name":"Convert to File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2416,1312],"id":"1c8b85fe-cb2c-486b-b046-c01428c7a254","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-2912,1088],"id":"c225b267-9470-4da8-998b-8d27da0c06b8","name":"Default Data Loader"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-2064,1216],"id":"881bcbf7-df81-4e5d-ba31-e48c2238343d","name":"Query Data Tool"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,640],"id":"ce423850-98cb-4417-a6c5-6e9f703ba74f","name":"Convert to File1"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,640],"id":"6638d30b-745a-445d-bf9c-6c046fb29772","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-3104,640],"id":"edc631e4-8573-4ab1-98be-022e26dd9bb9","name":"Insert Data to Store"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-864,896],"id":"28b8f6bc-e236-4493-9c6f-6cab50b3343c","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1344,896],"id":"af992a52-ffaf-4bf2-acdb-ee4be99ab3da","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1136,896],"id":"96b3bab6-f65d-438c-ae50-025cd82263b5","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4464,768],"id":"053143f5-3e41-47b0-bb84-2aa602845cf7","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2080,992],"id":"04154c4b-bc58-4f39-b103-bbc33e477da8","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,448],"id":"9704ba38-157e-4b93-b532-d035da815775","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,640],"id":"aa51f63d-c64d-4fdf-b891-21ebfd193c84","name":"Edit Fields2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,832],"id":"0f46f36c-b1bc-4fd0-98de-00b50de9d22c","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,832],"id":"58b636e4-c135-4c0a-97fd-63977a05064b","name":"Convert to File2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,832],"id":"7f705874-bf2e-401d-bade-aa98d4d7d566","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,832],"id":"db2f93a5-70a9-4d11-8131-5aabe5999b56","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1744,800],"id":"4b606d5b-a8e7-4c3a-830a-0832a09f54c2","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,992],"id":"5d3219c8-5ba6-4f3e-bffd-b71800eea3f3","name":"Edit Fields4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-1520,1472],"id":"d2254657-7809-4df1-a1cb-757fc311bdee","name":"calculadora"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2624,640],"id":"aef01a16-891b-4b11-b33f-8bf8d15085c3","name":"Limit"},{"parameters":{"descriptionType":"manual","toolDescription":"Obter data atual","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[-1360,1472],"id":"8d75dff7-b1f7-4cb0-9691-fdf0d706be99","name":"Date & Time"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33f139f0-fe65-45a9-9bc3-05d9c519a80d","activeVersionId":"33f139f0-fe65-45a9-9bc3-05d9c519a80d","triggerCount":1,"shared":[{"updatedAt":"2026-01-05T21:29:51.144Z","createdAt":"2026-01-05T21:29:51.144Z","role":"workflow:owner","workflowId":"l4tiRXky7e2oNNiL","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-05T21:30:12.984Z","createdAt":"2026-01-05T21:30:10.897Z","versionId":"33f139f0-fe65-45a9-9bc3-05d9c519a80d","workflowId":"l4tiRXky7e2oNNiL","nodes":[{"parameters":{"httpMethod":"POST","path":"1701825b-f247-49e1-b197-e44ee9394ef0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4672,768],"id":"4888a22d-38b2-4c71-acbe-2932e0b6b273","name":"Webhook","webhookId":"1701825b-f247-49e1-b197-e44ee9394ef0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a35b27a9-3024-4971-883d-bc7fe60fc1ed","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"=120363405178114557@g.us","operator":{"type":"string","operation":"equals"}},{"id":"59bfe806-1da1-4aa0-a96e-e11dee4ed6ee","leftValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","rightValue":"120363405178114557@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4272,768],"id":"da0573cb-b531-43a6-b0ed-e7cb15da1c5d","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"Você não tem permissão para user este canal.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4048,640],"id":"e582fe0c-1d85-47c2-9f58-9069e0429b56","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1168,656],"id":"1a197151-1506-4ff2-8328-4e9889d366c4","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"promptType":"define","text":"=Nome do Usuário: {{ $json.pushName }}\nMensagem do usuário: {{ $json.userMessage }}\n","options":{"systemMessage":"=Você é o “Consultor Financeiro N8N”, um agente focado em registrar receitas e despesas com o mínimo de fricção possível.\n\n⚠️ REGRA CRÍTICA\nVocê NUNCA deve responder com JSON ao usuário final.\nJSON é usado EXCLUSIVAMENTE para executar tools.\nO usuário final recebe apenas mensagens humanas.\n\n══════════════\nOBJETIVO PRINCIPAL\n══════════════\nIdentificar receitas ou despesas, inferir valores padrão,\npedir UMA confirmação curta e, após confirmação,\nEXECUTAR A TOOL de registro no PostgreSQL.\n\n══════════════\nREGRAS DE CONVERSA\n══════════════\n- Nunca faça mais de uma pergunta.\n- Nunca peça dados óbvios se puder inferir.\n- Nunca explique schema ou estrutura.\n- Se faltar algo obrigatório, informe isso NO RESUMO.\n- Após confirmação, NÃO fale mais nada → execute a tool.\n\n══════════════\nPADRÕES (quando não informados)\n══════════════\n- conta: itau\n- forma_pagamento: debito\n- status (despesa): pago\n- recorrente: false\n- parcelas: 1\n- data: hoje\n\n══════════════\nCATEGORIAS PERMITIDAS\n══════════════\nDESPESA:\nMoradia, Alimentação, Transporte, Saúde, Educação,\nLazer, Assinaturas, Compras, Impostos / Taxas,\nInvestimentos, Outros\n\nRECEITA:\nSalário, Freelance / Serviços, Investimentos,\nReembolsos, Vendas, IPTV, Outros\n\n══════════════\nFLUXO OBRIGATÓRIO\n══════════════\n1. Interpretar a mensagem do usuário\n2. Identificar RECEITA ou DESPESA\n3. Inferir valores padrão\n4. Mostrar resumo curto\n5. Perguntar APENAS:\n   \"Posso registrar assim?\"\n\n══════════════\nFORMATO DO RESUMO (texto humano)\n══════════════\nVou registrar:\n• Tipo: Despesa\n• Categoria: Transporte\n• Valor: R$ 100,00\n• Data: hoje\n• Conta: Itaú\n\nPosso registrar assim?\n\n══════════════\nAPÓS CONFIRMAÇÃO\n══════════════\n- Execute a tool de INSERT UMA ÚNICA VEZ\n- Não execute nenhuma outra tool\n- Não repita a ação\n\n══════════════\nRESPOSTA FINAL AO USUÁRIO\n══════════════\n- A resposta ao usuário será gerada PELO WORKFLOW,\nexemplo:\n\"✅ Pronto! Registrei a despesa de R$ 100,00 em Transporte.\"\n\n- Após usar qualquer tool, NUNCA mencione tools, nomes de nodes ou execuções.\n- Sempre responda apenas com uma mensagem natural ao usuário.","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-2112,816],"id":"f973abba-32a7-4c2f-94c5-2cb6ab285fd5","name":"AI Agent","retryOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{"webSearch":{"searchContextSize":"medium"}},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2240,1008],"id":"27db071e-0aac-46c2-b510-b9ea61aa3b4e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"bce270e8-87db-4123-a807-05b73ed66bda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3f3acbe-b7dd-4a17-8e69-64b347704a0f","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"caa5781b-f2be-4731-8e96-7607ceaf007a","leftValue":"={{ $json.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1260786f-a7a1-460a-b687-a5a4b916db49","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4032,896],"id":"d6fab3cc-7603-405f-a1f3-971b97fbcec1","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,464],"id":"75ea02cd-c9e7-4087-b8a7-cafc340a9408","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,464],"id":"0fb23014-30db-4b49-9655-cab221c1dc3a","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,464],"id":"d5aa4885-95b9-4726-bab5-72b60b2d5265","name":"Convert to File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2416,1312],"id":"1c8b85fe-cb2c-486b-b046-c01428c7a254","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-2912,1088],"id":"c225b267-9470-4da8-998b-8d27da0c06b8","name":"Default Data Loader"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-2064,1216],"id":"881bcbf7-df81-4e5d-ba31-e48c2238343d","name":"Query Data Tool"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,640],"id":"ce423850-98cb-4417-a6c5-6e9f703ba74f","name":"Convert to File1"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,640],"id":"6638d30b-745a-445d-bf9c-6c046fb29772","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"knowledge_base","mode":"list","cachedResultName":"knowledge_base"},"embeddingBatchSize":2000,"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-3104,640],"id":"edc631e4-8573-4ab1-98be-022e26dd9bb9","name":"Insert Data to Store"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"=Servidor","remoteJid":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-864,896],"id":"28b8f6bc-e236-4493-9c6f-6cab50b3343c","name":"Enviar audio","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"resource":"audio","input":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1344,896],"id":"af992a52-ffaf-4bf2-acdb-ee4be99ab3da","name":"Generate audio","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1136,896],"id":"96b3bab6-f65d-438c-ae50-025cd82263b5","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"c4d128b0-d81f-40a1-978e-079d794b9ba0","name":"remoteJid","value":"={{ ($json.body?.data?.key?.remoteJid || \"\").trim() }}\n","type":"string"},{"id":"aa40dfe2-31af-4aa3-aa62-a3d4584311a3","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"bd177eaf-6bf7-472f-b47b-d37775d3cea0","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9e2dd8a3-16da-40f4-9fb1-655ee4af5478","name":"conversation","value":"={{ $json.body.data.message }}","type":"object"},{"id":"b41f2269-5fe9-447b-9804-6acfc73c5274","name":"instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"e2f12b88-2249-4bfd-84e9-5c235df25ec5","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"938849bc-639a-42ec-ba48-77eb01416b9b","name":"sessionKey","value":"={{ String($json.body?.data?.key?.remoteJid || $json.body?.data?.key?.participant || '').trim() }}","type":"string"},{"id":"7a924aa7-4c86-48f8-b92f-b17d3300b407","name":"userMessage","value":"={{\n  $json.body?.data?.message?.conversation\n  || $json.body?.data?.message?.extendedTextMessage?.text\n  || $json.body?.data?.message?.imageMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.caption\n  || $json.body?.data?.message?.documentMessage?.fileName\n  || '[Documento recebido]'\n}}\n","type":"string"},{"id":"b9891591-61e0-4f98-a18f-655583dfc1c7","name":"docFileName","value":"={{ $json.body?.data?.message?.documentMessage?.fileName || '' }}","type":"string"},{"id":"fefdd292-70fa-46dd-89af-3afade046268","name":"docMime","value":"={{ $json.body?.data?.message?.documentMessage?.mimetype || '' }}","type":"string"},{"id":"5216e3ea-991a-43d6-8199-567b78fa1124","name":"docCaption","value":"={{ $json.body?.data?.message?.documentMessage?.caption || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4464,768],"id":"053143f5-3e41-47b0-bb84-2aa602845cf7","name":"Edit Fields"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionKey }}\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2080,992],"id":"04154c4b-bc58-4f39-b103-bbc33e477da8","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"iZzbVy2qVYG0Rd5z","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2edac3ce-6e19-4449-a7fb-e1b703f7a48c","name":"=sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"40d54e8a-7762-479c-8435-93a531a06089","name":"=pushName","value":"={{ $node[\"Edit Fields\"].json.pushName }}","type":"string"},{"id":"d72f934a-c7ae-4945-b168-c9f5450dae3e","name":"userMessage","value":"={{\n  `Contexto interno: o usuário enviou um ÁUDIO. ` +\n  `O conteúdo abaixo é a transcrição automática do áudio e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  `${$json.text || $json.output || ''}`\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,448],"id":"9704ba38-157e-4b93-b532-d035da815775","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{ `O usuário enviou um DOCUMENTO e ele já foi indexado na base. Arquivo: ${$('Edit Fields').item.json.docFileName || 'sem_nome'} MIME: ${$('Edit Fields').item.json.docMime || 'desconhecido'} Legenda: ${$('Edit Fields').item.json.docCaption || ''}Instrução: responda confirmando o recebimento.` }}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2832,640],"id":"aa51f63d-c64d-4fdf-b891-21ebfd193c84","name":"Edit Fields2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3568,832],"id":"0f46f36c-b1bc-4fd0-98de-00b50de9d22c","name":"Obter m dia em base65","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3360,832],"id":"58b636e4-c135-4c0a-97fd-63977a05064b","name":"Convert to File2"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-3104,832],"id":"7f705874-bf2e-401d-bade-aa98d4d7d566","name":"Analyze image","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"49fa5727-4418-4185-909c-300f36703606","name":"=userMessage","value":"={{\n  `Contexto interno: o usuário enviou uma IMAGEM. ` +\n  `O texto abaixo é a descrição/análise automática da imagem e deve ser tratada como a mensagem do usuário.\\n\\n` +\n  (\n    $json?.[0]?.[0]?.content?.[0]?.text\n    || $json?.[0]?.content?.[0]?.text\n    || $json?.content?.[0]?.text\n    || ''\n  )\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .slice(0, 1200)\n}}","type":"string"},{"id":"cd40549b-b15a-4849-a8e6-e44dd3a48551","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"df2c4f04-ecf4-4e80-91db-f306a2a9b058","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,832],"id":"db2f93a5-70a9-4d11-8131-5aabe5999b56","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a1c86a7-1cd6-4a66-88f5-3d97fb217fb3","leftValue":"={{ $('Edit Fields').item.json.messageType }}","rightValue":"=audioMessage","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1744,800],"id":"4b606d5b-a8e7-4c3a-830a-0832a09f54c2","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"8abd7e9b-959d-41dc-9d6b-489c51fb9c31","name":"sessionKey","value":"={{ $('Edit Fields').item.json.sessionKey }}","type":"string"},{"id":"624f712a-7a21-499a-85df-a92d54fdcaa2","name":"pushName","value":"={{ $('Edit Fields').item.json.pushName }}","type":"string"},{"id":"90caaf9c-644e-4de4-98b5-4679765c75ef","name":"userMessage","value":"={{   `Contexto interno: mensagem de TEXTO enviada pelo usuário.\\n\\n` +   (     $json.body?.data?.message?.conversation     || $json.body?.data?.message?.extendedTextMessage?.text     || $json.userMessage     || ''   ) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,992],"id":"5d3219c8-5ba6-4f3e-bffd-b71800eea3f3","name":"Edit Fields4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-1520,1472],"id":"d2254657-7809-4df1-a1cb-757fc311bdee","name":"calculadora"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2624,640],"id":"aef01a16-891b-4b11-b33f-8bf8d15085c3","name":"Limit"},{"parameters":{"descriptionType":"manual","toolDescription":"Obter data atual","options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[-1360,1472],"id":"8d75dff7-b1f7-4cb0-9691-fdf0d706be99","name":"Date & Time"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Obter m dia em base65","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Query Data Tool","type":"ai_embedding","index":0},{"node":"Insert Data to Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Convert to File1":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Insert Data to Store":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar audio","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Obter m dia em base65":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Generate audio","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"calculadora":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version 33f139f0","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}],"error":"Your request is invalid or could not be processed by the service"}