n8n/TriggerCMD on Alexa
{"updatedAt":"2026-01-13T23:07:29.175Z","createdAt":"2026-01-13T21:04:32.381Z","id":"8njb3qTJLp7me_Bel8kFr","name":"TriggerCMD on Alexa","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"node1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,-128],"id":"e4d83e56-a726-4531-b44e-f8449e1dbf11","name":"Webhook","webhookId":"e8debc33-3b11-4921-bd15-73c5d31d6224"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"5511982003586@s.whatsapp.net","messageText":"={{ $json.output[0].content[0].text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[688,-112],"id":"823f6709-d4db-428a-9db8-def61d492b15","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,-272],"id":"7881abf8-07ba-4d9a-9f9d-76fb3dce7e9f","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://yomama-jokes.com/api/random","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[144,-128],"id":"74110912-ec33-4633-94f1-6a56cd144c3f","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Traduza a mensagem para português, nao complemente com nada, não faça textos de abertura, nem textos de resumos. apenas a tradução."},{"content":"={{ $json.joke }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[352,-112],"id":"905f474e-8ac0-40c1-9d8b-9ab116408124","name":"Message a model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-176,16],"id":"8f8f69cc-627f-49ef-8f8b-2ebce12cad9c","name":"Schedule Trigger","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Enviar texto":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c21ebaee-de06-4671-a95a-91d60d3494f1","activeVersionId":"c21ebaee-de06-4671-a95a-91d60d3494f1","triggerCount":1,"shared":[{"updatedAt":"2026-01-13T21:04:32.381Z","createdAt":"2026-01-13T21:04:32.381Z","role":"workflow:owner","workflowId":"8njb3qTJLp7me_Bel8kFr","projectId":"QzOxscPU2fsVc9gL"}],"activeVersion":{"updatedAt":"2026-01-13T23:07:30.763Z","createdAt":"2026-01-13T23:07:29.178Z","versionId":"c21ebaee-de06-4671-a95a-91d60d3494f1","workflowId":"8njb3qTJLp7me_Bel8kFr","nodes":[{"parameters":{"path":"node1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,-128],"id":"e4d83e56-a726-4531-b44e-f8449e1dbf11","name":"Webhook","webhookId":"e8debc33-3b11-4921-bd15-73c5d31d6224"},{"parameters":{"resource":"messages-api","instanceName":"Servidor","remoteJid":"5511982003586@s.whatsapp.net","messageText":"={{ $json.output[0].content[0].text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[688,-112],"id":"823f6709-d4db-428a-9db8-def61d492b15","name":"Enviar texto","credentials":{"evolutionApi":{"id":"d28XWDAPREwdYHxH","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,-272],"id":"7881abf8-07ba-4d9a-9f9d-76fb3dce7e9f","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://yomama-jokes.com/api/random","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[144,-128],"id":"74110912-ec33-4633-94f1-6a56cd144c3f","name":"HTTP Request"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Traduza a mensagem para português, nao complemente com nada, não faça textos de abertura, nem textos de resumos. apenas a tradução."},{"content":"={{ $json.joke }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[352,-112],"id":"905f474e-8ac0-40c1-9d8b-9ab116408124","name":"Message a model","credentials":{"openAiApi":{"id":"Y4tW8JkZbEkWoDHr","name":"PSW OpenAi"}}},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-176,16],"id":"8f8f69cc-627f-49ef-8f8b-2ebce12cad9c","name":"Schedule Trigger","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Enviar texto":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"CAIO ASSUNCAO","name":"Version c21ebaee","description":"","autosaved":false},"tags":[{"updatedAt":"2026-01-12T21:14:00.155Z","createdAt":"2026-01-12T21:14:00.155Z","id":"eOp5ZidNU13xiknU","name":"Tool"},{"updatedAt":"2025-12-28T16:26:50.362Z","createdAt":"2025-12-28T16:26:50.362Z","id":"I1XEUT2DBgIBJaKj","name":"Caio Henrique"}]}